[2021-02-12 17:06] pand-app commented on #609
👍 Just made a small donation to thank your reactivity

[2021-02-14 09:13] #609 closed, assigned to profclems

[2021-02-14 21:02] profclems commented on #609
This should be resolved now... Since it's an issue with high priority (affecting most users), I will do a release tonight

cc: @Nainterceptor @ManOrs88

[2021-02-15 15:41] profclems commented on #609
I released v1.15.0 today with this issue fixed. You can update and work with it now... Cheers

[2021-02-16 16:59] nraw commented on #609
@profclems
I'm not sure, but would this fit as an error here? Even though I copy pasted the path with a different host from the example it still tries to check vs gitlab.com
![image](https://user-images.githubusercontent.com/15797203/108095871-a158ac80-7080-11eb-9960-e9790bb42f37.png)

[2021-02-16 17:55] profclems commented on #609
@nraw, the `project create` command currently does not support full urls as parameter. However, you could override the gitlab host using the `GL_HOST` or `GITLAB_HOST` env variable and set the group name with `--group` flag
[code]

[2021-02-16 18:08] profclems commented on #609
@nraw, I think it'll be nice if `project create` supports full urls... Kindly open a separate issue for that so we work on it

[2021-02-16 20:24] nraw opened #618 "the project create command currently does not support full urls as parameter"
**Describe the feature or problem you'd like to solve**
the project create command currently does not support full urls as parameter

**Propose a Solution**
Allow for it

**Additional context**
https://github.com/profclems/glab/issues/609#issuecomment-779973378

Additionally, would any of the settings in the config file allow for overwriting the default host setting?

[2021-02-17 12:11] zemzale opened #619 "Can't create MR from branch that is already pushed"
**Description**
When I working I often push to remote, but don't open a MR, because I don't need that yet. When I finish up with my task, I want to create an MR, but I get an error
[code]

**Expected Behavior vs Actual Behavior**
Expected :
[code]
Actual:
[code]

**Possible Fix**
Something with the logic around
https://github.com/profclems/glab/blob/6e1919f24e08d870e276b255563f7d943bf65a0a/command

[2021-02-17 19:59] maxice8 opened #620 "mr reopen doesn't search closed MRs"
**Description**

When using the `mr reopen` command with branch-names it doesn't search open branches

**Expected Behavior vs Actual Behavior**

that if I used `glab mr reopen foo` it would find the MR that has a matching branch `foo`

**Possible Fix**

Make it check for closed MRs when using `mr reopen`

**Your Environment**

* Version used (Run `glab --version`): glab version 1.15.0-5-gcde16a6 (

[2021-02-18 19:56] maxice8 opened #624 "allow mr branch guessing accept state as a semi-global option"
**Describe the feature or problem you'd like to solve**

When using `mr <subcommand> <branch>` it can become annoying when dealing with a branch that has multiple MRs, even though only one is open.

**Propose a Solution**

First:

Have a semi-global (global only for mr subcommand) -S/--state flag that takes a comma-separated list of states to consider when searching for merge requests via the bran

[2021-02-19 22:03] #351 closed, assigned to nobody

[2021-02-23 07:57] zemzale commented on #619
I did some digging and found that the bug was introduced with the new logic of how we determine the target branch.

When I have a branch that I have pushed to remote MergeRef comes out to be remote tracking branch.  Example:
[code]
Relavent part:
https://github.com/profclems/glab/blob/trunk/commands/mr/create/mr_create.go#L679-L695

This seems to be introduced with #584

I don't fully understand t

[2021-02-23 07:57] zemzale commented on #619
/cc @profclems @maxice8

[2021-02-23 09:28] profclems commented on #619
Ideallly, this error should occur if you're creating a merge request
- with the default branch of the repo (without using a fork)
- source branch is the same as the target branch (without using a fork)

So if the MR's source branch is the same as the target branch, then the merge request must be created from a fork

[2021-02-23 10:19] zemzale commented on #619
This is happening. but that is because the logic just seems flawed.
When I create a branch of the default branch and try to create a merge request WITHOUT pushing to remote beforehand everything works just fine.
When I create a branch of the default branch, push it to remote, and then try to create a merge request I can't do that since `MergeRef` branch is the  same as the source branch.

[2021-02-23 17:35] profclems commented on #619
The `ReadBranchConfig` basically runs this command in a git subprocess
[code]
where `BRANCH` is the name of the source branch. It returns
[code]
So the `MergeRef` in the `BranchConfig` struct will contain `refs/heads/DEFAULT_BRANCH`. The mergeref is the upstream's default branch

[2021-02-23 17:36] profclems commented on #619
@zemzale I have been able to replicate this issue. Trying to get my head around on what to do to fix this asap

[2021-02-23 17:41] profclems commented on #619
The workaround at the moment, is by explicitly setting the default branch with `--target-branch` flag
[code]

[2021-02-23 17:57] profclems commented on #619
@zemzale you were right with this. The logic is flawed.
Currently, the remote tracking branch is used as the target branch and if unset, reverts to the default branch. We should revert to using the default branch only.

[2021-02-23 18:09] zemzale commented on #619
Okay then. I didn't do it right away, because I didn't fully understand why and how it works.

[2021-02-24 14:45] profclems commented on #619
@zemzale are you working on this?

[2021-02-24 14:49] zemzale commented on #619
Yeah. PR coming right up

[2021-02-26 08:11] dacieri opened #631 "glab pipeline ci lint returns invalid for a valid yml configuration"
Dear all,
I have just discovered this interesting project, which looks very promising to me. I was trying the CI linter option on one of my project, and I get this invalid error:

[code]
Naturally the yml is correct, but maybe the linter has some problems with the included ymls? In my case, I include the CI configuration first from another gitlab project, where all stages are defined, and then in

[2021-02-26 08:37] profclems commented on #631
Thanks @dacieri for reporting this issue...
`glab` heavily relies on the GitLab API. I have found two issues on GitLab that are related to this issue:
https://gitlab.com/gitlab-org/gitlab/-/issues/217018
https://gitlab.com/gitlab-org/gitlab/-/issues/31971

I believe this issue should be resolved for repos hosted on GitLab.com and self hosted instances running v13.6+.

Is your project hosted on Git

[2021-02-26 08:44] dacieri commented on #631
My host is gitlab.cern.ch, we should be running GitLab Enterprise Edition 13.7.6-ee

[2021-02-26 09:00] profclems commented on #631
I think this is an issue with the GitLab CI Lint  API: https://gitlab.com/gitlab-org/gitlab/-/issues/320778

The existing API endpoints allow for linting of CI scripts that only include scripts on the default branch, but not newly added ones.

[2021-02-26 09:02] profclems commented on #631
Can you share a few insensitive part of your CI yaml?

[2021-02-26 09:10] dacieri commented on #631
sure, that's the `.gitlab-ci.yml`

[code]
we make an extensive use of the include feature, so I don't know if that would impact. The main yaml that is included is this https://gitlab.cern.ch/hog/Hog/-/blob/master/hog.yml, which includes other three yml in the reference repository. These yamls include both template jobs that are later defined in the locally included yml (i.e. `- local: '/Top/csf.0/

[2021-02-26 09:30] profclems commented on #631
Thanks a lot @dacieri... I finally figured this is an issue from our part. We use the general CI validation [endpoint](https://docs.gitlab.com/ee/api/lint.html#validate-the-ci-yaml-configuration), which doesn’t have any namespace specific context so it sees the local include as belonging to a different unknown project.

We should use the Project-specific CI validation [endpoint](https://docs.gitla

[2021-02-26 09:40] zemzale commented on #631
What if we just hit both endpoints at the same time?
We can do that concurrently. If the Project endpoint just returns a 404, we can just ignore that, and fallback to the general CI validation endpoint

[2021-02-26 12:09] profclems commented on #631
Nice one... I think we should go with that

[2021-02-27 13:12] graham73may opened #632 "Feature request: Code search within your repositories"
Hi,

I'd like to submit a feature request - a command to search all of your repository's code for a search term/string.

Gitlab doesn't currently have a UI that would allow you to do a code search across repositories. The Gitlab API does support cross repo searching so it feels like it would fit in quite well with your suite of tools.

Would a new `search` core command be suitable? 🙏

---

I have

[2021-02-28 20:04] #619 closed, assigned to nobody

[2021-03-03 17:05] #463 closed, assigned to nobody

[2021-03-05 08:04] asdf8601 opened #636 "Unexpected behaviour using issue view on Ubuntu, Zsh"
**Description**

When I execute `glab issue view 4` the result doesn't allow me to use up/down neither  j/k keys. When I exit from that view by pressing q+Enter, I have to press ctrl-c as well to efectivily return to the prompt. This only happens with a specific issue.

**Expected Behavior vs Actual Behavior**

I assume that `less` (or another similar program) is executed by piping the content to

[2021-03-05 08:51] zemzale commented on #636
Thanks for reporting this @mmngreco

I have encountered this issue too. The one thing I can say for sure that it doesn't affect list commands like `issue list`. There must be something different about how we do paging for those commands. I am gonna look into that.

[2021-03-05 09:16] zemzale commented on #636
I seems to have found the cause. Its something related of how we are rendering markdown(for the description).

When there is no markdown rendering involved, everything works as expected. I am gonna need more time to find a fix for this.

[2021-03-05 13:12] #620 closed, assigned to maxice8

[2021-03-05 15:14] saro opened #637 "Compact CI view"
**Describe the feature or problem you'd like to solve**
Sometimes the complete CI view, while nice to look at, doesn't really fit
within the terminal I'm using to follow it. This, together with the
inability to actually scroll in the view, makes the feature unusable
for projects with a lot of parallel jobs.

**Propose a Solution**
Ideally it would be nice just to have a simple view of the pipeline

[2021-03-05 15:25] asdf8601 commented on #636
Thanks for your quick response @zemzale! Fortunately, this issue is so specific that I can keep using  glab as usual! :-)

[2021-03-05 17:30] maxice8 opened #638 "glab no longer uses tracked branch as target"
**Description**

Glab no longer uses the branch that is being tracked as the default target branch

**Expected Behavior vs Actual Behavior**

respect the target branch

**Possible Fix**

restore previous behaviour

**Your Environment**

* Version used (Run `glab --version`): glab version 1.15.0-57-g7a4289e (2021-03-05)
* Operating System and version: Fedora SilverBlue 34 Pre-Release

[2021-03-05 21:12] zemzale commented on #638
I believe you mean the previous behavior to be as in #582?
The problem with that was that it broke creating MR from an already pushed branch as in #619.
What do you exactly mean by a branch that is being tracked?

[2021-03-05 21:14] maxice8 commented on #638
the branch that is being tracked is the upstream branch, in the case below: `trunk`

[code]

[2021-03-06 14:57] zemzale commented on #638
The thing is that we can't always use tracked branch as target. If you are working from a fork it makes sense to use the tracked branch in upstream.

If you are not working from a fork, it makes no sense to use the tracked branch as a target since the tracked branch is gonna be the source branch.

So we really should use tracking branch as  target only if it's not the same as source branch. If the

[2021-03-08 03:41] logbasex opened #640 "Does Glab support authenticate Gitlab using HTTP protocol?"
**Describe the feature or problem you'd like to solve**
My company hosted GitLab repositories at a custom domain `gitlab.companyname.io` using `HTTP` protocol and when I trying to authenticate by running `glab auth login`, I don't see any `HTTP` protocol option (just only `HTTPS` and `SSH` protocol). Therefore I always get 401 HTTP response status code.

[2021-03-08 09:16] profclems commented on #640
Hi @logbasex, I would recommend using git over `ssh` for domains using `HTTP` protocol.

To make glab make API request over http, set the `api_protocol` for the host config to `http` and try to login again:
[code]
If the issue still persist, then you'd have to directly specify the token and host with flag and later set the `api_protocol` and `git_protocol` using the `config` command:
[code]
You ca

[2021-03-08 12:46] logbasex commented on #640
None of the above solutions work for me. `glab auth status` show an error message: `gitlab.companyname.io: api call failed: Get "https://gitlab.companyname.io/api/v4/user": http: server gave HTTP response to HTTPS client
`

[2021-03-08 12:48] logbasex commented on #640
and thisAPI calls for gitlab.com are made over HTTPS protocol

[2021-03-08 12:53] logbasex commented on #640
Details:
[code]

[2021-03-08 20:20] profclems commented on #640
There was a little issue with the api client using `api_protocol`... It should be fixed by #641.
Version 1.16.0 is due today and I will do the release soon

Thanks for reporting this issue @logbasex

[2021-03-08 20:26] profclems commented on #637
Thanks @saro for opening this issue and sorry for the late response (I saw this over the weekend).

I'm well aware of the inability to scroll in the view... I will try to work on a fix for this within the week.

Btw, have you tried `glab ci status --live`

[2021-03-08 20:45] profclems commented on #636
I have noticed this as well... I can't really tell what's particularly wrong with our paging style right now

@mmngreco, can you check if the issue is the same when you also set the LESS environment variable to something like LESS=RX, or some other value that excludes F which we would otherwise set by default?

[2021-03-09 07:55] saro commented on #637
Hi @profclems ,

thanks for your reply.

Sorry, I missed this option. I will try it.

Thanks again for the help and the very useful tool.

[2021-03-09 10:29] zemzale commented on #636
There seems to be a problem with `glamour` auto styles
https://github.com/profclems/glab/blob/f5ea29e4ac5bf664802a68b78c0b7c631c10fb20/pkg/utils/utils.go#L28-L40
If in this code block we don't use `glamour.WithEnvironmentConfig` there are no problems with printing.

It seems that it's possible to reproduce this:
- in environment `PAGER=LESS` or similar
- don't have glamour environment variables
-

[2021-03-09 10:29] zemzale commented on #636
I will try to come up with a PR in the next few days to fix this.

[2021-03-09 12:37] asdf8601 commented on #636
Here's my default value:

[code]

I experienced the same behaviour by executing the following lines.
I've also tried differents ways just to be sure ;-)

[code]

[2021-03-09 13:13] zemzale commented on #636
@mmngreco Could you please try running `GLAMOUR_STYLE=dark glab issue view 5` or (or `GLAMOUR_STYLE=light glab issue view 5` depending on your color scheme).

Can you confirm that the issue goes away?

[2021-03-09 13:20] asdf8601 commented on #636
Wonderful, this works like a charm!

[2021-03-09 15:17] iguyking opened #644 "glab mr create gives error of "you must be on a different branch than <branch>""
**Description**
I get an error message when I try to create a new MR using glab.

[code]

**Expected Behavior vs Actual Behavior**
MR request is started

**Steps to Reproduce**
1. create new branch in git
1. push that branch to the remote repo in gitlab
1. type in `glab mr create`

**Your Environment**

* Version used (Run `glab --version`):  glab version 1.15.0 (2021-02-15)
* Operating System and

[2021-03-09 15:19] iguyking commented on #644
I am able to execute other commands against this repo using the checked out git using glab.

[2021-03-09 17:34] zemzale commented on #644
Thanks for reporting this. This is known bug in 1.15. See issue #619.

This already has been fixed too, and should work fine in the upcoming 1.16 release.

[2021-03-09 17:35] #644 closed, assigned to nobody

[2021-03-10 19:16] profclems commented on #268
Hi @petsgre, does this issue still persist when using `glab` on your GitLab instance?

[2021-03-10 19:16] #258 closed, assigned to nobody

[2021-03-10 19:24] #323 closed, assigned to nobody

[2021-03-10 19:28] profclems commented on #323
Just as we've done in our [gitlab-issues-to-github.yml](https://github.com/profclems/glab/blob/0727256d55d10d11b0bb64ca5d861ae697686256/.github/workflows/gitlab-issues-to-github.yml#L23) workflow, the user can install `glab` via brew and other package managers in a linux or macOS environment, and via scoop or winget in a windows environment to work with `glab` in their github actions
https://githu

[2021-03-10 19:31] profclems commented on #350
This issue should be resolved by #598 and improved by #641

[2021-03-10 19:31] #350 closed, assigned to nobody

[2021-03-10 20:46] #640 closed, assigned to nobody

[2021-03-11 00:57] profclems opened #647 "Cannot clone .wiki.git repos"
**Description**
Currently, glab doesn't support working with `.wiki.git` repos. I tried cloning https://gitlab.com/gnutls/gnutls.wiki.git and it fails
[code]
It works when cloned with git:
[code]

**Solution**
In order for this to work, `glab` should acknowledge that the actual repo is `https://gitlab.com/gnutls/gnutls` by trimming off the `.wiki.git` when making queries but perform git operations

[2021-03-11 11:20] Peter-Maguire opened #651 "unknown flag: --autofill when using gitlab mr create --yes"
The docs for glab mr create say:
--yes  Skip submission confirmation prompt, with --autofill it skips all optional prompts

But when I run glab mr create --yes --autofill  I get "unknown flag --autofill"

[2021-03-11 11:26] Peter-Maguire opened #652 "--title or --fill required for non-interactive mode"
**Description**
Despite specifying a title, I get this error when trying to use glab in a non interactive terminal.

**Expected Behavior vs Actual Behavior**
Expected: Merge request is created with the title specified
Actual: error message "--title or --fill required for non-interactive mode" appears

**Steps to Reproduce**
1. In a non-interactive prompt, run `glab mr create --create-source-branch

[2021-03-11 11:26] zemzale commented on #651
@UnacceptableUse Thanks for the report, but the problem is in that there Is no such a flag --autofill, but it's --fill instead

[code]

[2021-03-11 11:27] Peter-Maguire commented on #651
Ah right, so the help text is just wrong then?

[2021-03-11 11:36] profclems commented on #651
Yes... We'll fix that asap. Thanks for reporting this

[2021-03-11 11:39] profclems commented on #651
@UnacceptableUse it is open in case you want to open a quick PR to fix that 👍

[2021-03-11 11:50] profclems commented on #652
https://github.com/profclems/glab/blob/b5e2eb69b0e5a18c0b6bde31fe5ded6014c5f9e0/commands/mr/create/mr_create.go#L111

https://github.com/profclems/glab/blob/b5e2eb69b0e5a18c0b6bde31fe5ded6014c5f9e0/commands/mr/create/mr_create.go#L118-L120

From the logic above, we assume the system is running non interactively if both the title and description are provided using flags.

In your case, you can set

[2021-03-11 14:54] #636 closed, assigned to nobody

[2021-03-12 04:18] #651 closed, assigned to nobody

[2021-03-14 23:30] hhromic opened #655 "[Feature Request] Add support for uploading generic packages"
**Describe the feature or problem you'd like to solve**
Add support for uploading generic packages to the GitLab Package Registry of a project.
Documentation: https://docs.gitlab.com/ee/user/packages/generic_packages/

**Propose a Solution**
The simplest solution would be to add support for the `PUT` HTTP method to the `api` command:

    glab api projects/:fullpath/packages/generic/myprog/1.0.0/m

[2021-03-15 07:26] profclems commented on #655
Thanks for the suggesting @hhromic...

This seems pretty much useful. I have thought about this as well since I need it too. I will add this to our backlog and see if I can work on them this week. **_It is however open for anyone who would want to work on this feature!_**

I started working on a solution for #366 with #445 but got a stuck on deciding the best way to upload assets

[2021-03-15 07:34] asdf8601 opened #656 "QUESTION: is possible to print output by stdout instead of using less ?"
**Describe the feature or problem you'd like to solve**

I'm wondering if there is a way to print out the output command by stdout instead of using the pager. For example I would like to print by stdout the output of `glab issue ls -P 4` or `glab issue ls --search key` so I can work with this information in other commands without keeping `less` open.

Currently, I'm using `glab issue ls -P 4 | tr

[2021-03-15 07:38] profclems commented on #655
The `api` command generally supports all methods including `PUT` so the command above should work.
However, there is currently an open issue that using the URL-encoded path of a project when publishing a package does not work: https://gitlab.com/gitlab-org/gitlab/-/issues/288800.

This [comments](https://gitlab.com/gitlab-org/gitlab/-/issues/288800#note_460035497) says that it works when using the

[2021-03-15 07:50] profclems commented on #656
Yes it is possible. `glab` uses the `PAGER` env variable so you can override it:
[code]
or
[code]
or you can set the `PAGER` to `cat`.

We'd have to fix this issue #320 so that users can use `GLAB_PAGER` instead of unsetting the general `PAGER` variable

[2021-03-15 09:11] hhromic commented on #655
Ohh you are right, my bad! Somehow I thought it only supported `GET` or `POST`. Not enough coffee yesterday :)

Ahh good catch! I did try with `:id` and `:fullpath` but none worked. I tried now again supplying the numeric ID directly (don't know why I didn't try that yesterday) and I can confirm it works!

I admit I thought that `:id` referred to the numeric ID and `:fullpath` to the URL-encoded `

[2021-03-15 09:20] hhromic commented on #655
I can also confirm that deleting a package (and all files inside) also works fine (with the placeholders):

    glab api projects/:fullpath/packages/5678 -X DELETE

The package ID can be obtained when listing packages (which also works with the placeholders):

    glab api projects/:fullpath/packages

[code]

Adding `delete` as a subcommand to a future `package` command is feasible then.
Moreover,

[2021-03-15 09:23] asdf8601 commented on #656
Thank you @profclems for your quick answer!

Awesome, That's looks very nice, as usual!

Until #320 will be merged, I will use a bash alias using `cat` as `PAGER`: `clab="PAGER=cat glab"`.

All done to me, thank you!

[2021-03-15 10:19] #656 closed, assigned to nobody

[2021-03-15 10:40] profclems commented on #655
Since these commands are not available yet, you can set an aliases for each of them with the `api` command. For example:
[code]
You can then use it as:
[code]
After we fix the `:id` placeholder, you can have an alias to the `api` command to upload generic packages
[code]
With this, you have two arguments with the first and second arguments taking `package_name/package_version/file_name` and `path_

[2021-03-15 11:04] hhromic commented on #655
Ah that's a great idea to get it going indeed!  Totally forgot about the `alias` command in GLab!
Thanks for the examples, I'll try them out whenever the `:id` placeholder is fixed. Will keep an eye :)

[2021-03-15 11:29] profclems opened #657 "[api] `:id` placeholder should be replaced by project id instead of URL encoded path"
**Description**

The `:id` placeholder in the `api` command should be replaced by the project ID which makes sense instead of the URL encoded path.

---

_Originally posted at https://github.com/profclems/glab/issues/655#issuecomment-799190077_

[2021-03-15 11:59] #320 closed, assigned to nobody

[2021-03-18 15:25] adrienne opened #660 "glab on Windows will not authenticate properly"
**Description**
I have glab installed under Windows and under Linux (using WSL). WSL works, Windows does not.

**Expected Behavior vs Actual Behavior**
I have literally identical config files between the two script installations.

- Under WSL, everything works fine. `git mr create`, as an example, runs and prompts for merge request creation.
- Under Windows, all repository-specific commands fail w

[2021-03-18 17:38] tillhainbach opened #661 "macOS: use authentication information from git credential-osxkeychain"
**Describe the feature or problem you'd like to solve**

On macOS the default secure location to store sensible information (like tokens, passwords, etc.) is keychain. GitHub CLI and git both store authentication information there. This avoids saving tokens in plain text files.

**Propose a Solution**

Use git's credential-osxkeychain to set/get login credentials

**Additional context**

As far as

[2021-03-18 19:00] profclems commented on #660
Thanks for reporting this issue and detailing out your cases.

Currently I'm having an issue with my windows PC so I'm won't be able to test and reproduce this issue. I need a few clarifications here:
- Do you use custom SSH Configs?
- Run `git remote -v` under windows and see if the host in the config is authenticated for `glab`

[2021-03-19 05:51] profclems commented on #661
Thanks @tillhainbach... I have really thought about this as well.

Using git credential really makes sense... After successfully authenticating with `glab`, we could potentially prime the user's git credential cache with a token that can be used for git clone/push/pull operations. With this, users would no longer get another authentication prompt (this time from git, but the user typically doesn't

[2021-03-19 05:55] profclems commented on #661
Another thing this will solve is that, if the user has 2FA enabled (which are done in most cases), even though the git prompt asks them for their gitlab instance password, their actual password will not work and they will have to generate a Personal Access Token (PAT). So at this point in `glab` we already have a token for them that is valid for git operations.

[2021-03-22 04:56] maxice8 commented on #611
While this does not stop work it makes it `glab ci view` broken when looking at any contributor and requires an unintuitive workaround

[2021-03-22 22:18] #657 closed, assigned to nobody

[2021-03-24 06:46] zemzale opened #664 "Issue board shows wrong issues"
**Description**
It seems like the issue board view shows, issues with the label even if they are closed.

**Expected Behavior vs Actual Behavior**
Expected to have board column consists of issues that are open and labeled "To do"

Actually had issues that are open and closed that are labeled "To do"

**Possible Fix**
I don't know the logic directly, but we shouldn't show closed issues in open issu

[2021-03-25 15:19] zemzale opened #665 "Closed and Opened issue board columns"
**Describe the feature or problem you'd like to solve**
Issue boards have all the user-made columns, but are missing the automatically created, `open` and `closed` columns. There is even a `TODO` for that, so that should be added.

**Propose a Solution**
- Add `Open` column for all issues that are in open state and don't belong any other column
- Add `Closed` column for all closed issues.

[2021-03-25 16:07] zemzale commented on #592
I created a dirty fix in #667 by just checking if the hostname starts with `http` and if it does we ignore the protocol part, but that just feels dirty to me, and a new issue came up.

I have a api token registred for the host I am trying to use (and it works if `GITLAB_HOST=my.gitlab.com` is without protocol), but when I try to use it with protocol I get 401, because config resolution is looking

[2021-03-25 16:21] #664 closed, assigned to zemzale

[2021-03-25 17:08] profclems opened #668 "[GLAB]: Accept merge request contributions for `glab` on GitLab"
Since the time I open-sourced `glab` till now, most users or [just] critics have raised their concerns and some criticized me for hosting a command line tool intended for GitLab on GitHub.

I started working on `glab` earlier before GitHub announced `gh` in beta stages. I will say I actively use both GitHub and GitLab. I use GitHub for personal projects (mostly) and GitLab at work.

`glab` was ini

[2021-03-25 17:08] profclems commented on #668
Here are a few things we need to do:

* [ ] Enable merge requests on the GitLab Mirror (https://gitlab.com/profclems/glab)
* [ ] GitLab CI / GitHub Action workflow to merge merge request after it has been approved (#525)
* [ ] sync MR events such as:
  - [ ] Labeled
  - [ ] Unlabeled
  - [ ] Commented
  - [ ] Closed
  - [ ] Reopened
* [ ] Update documentation

[2021-03-25 19:41] johncoghlan commented on #668
As a popular project in the GitLab community, I would love to see this project accept MRs on GitLab. Let me know if there's anything we can do to help.

[2021-03-26 07:22] profclems commented on #668
Thanks @johncoghlan...

Just want to know if it's possible to trigger GitLab CI job on MR events like 'on approval'?.
I will need help in setting up the CI to trigger merge action for merge request on approval if that's possible.

It's been more than 7 months since I opened a merge request for `glab` to be added to GitLab's CLI partners. The original MR (https://gitlab.com/gitlab-com/www-gitlab-co

[2021-03-26 07:48] profclems opened #669 "[GLAB]: Better documentation website"
GLab as a popular interactive CLI tool deserves a better documentation website and a custom domain name. Currently, the docs are hosted on Readthedocs as https://glab.readthedocs.io.
The current docs doesn't really help much and doesn't really complement an interactive CLI tool.

There are plans underway to write a better documentation website and host it on GitLab pages.

If we are able to get ba

[2021-03-26 18:56] johncoghlan commented on #668
Re: triggering GitLab CI - happy to help. By on approval, do you mean when you okay the MR and merge it into the main branch? I ask because we also have a [merge requests approval](https://docs.gitlab.com/ee/user/project/merge_requests/merge_request_approvals.html) feature.

Re: being added to CLI partners - I think the MR looks good. Such a popular tool definitely belongs there. I just commented

[2021-03-29 04:00] profclems commented on #669
Started working on the documentation site

Repo: https://github.com/profclems/glab-docs
Site: https://glab-cli.netlify.app

TODO:

- [ ] Fix [/cmd/gen-docs](https://github.com/profclems/glab/blob/trunk/cmd/gen-docs/docs.go) to generate markdown files instead of rst
- [ ] Set up CI to build docs and push to [glab-docs](https://github.com/profclems/glab-docs) repo
- [ ] Purchase domain name - **glab

[2021-03-31 00:04] ksandvik opened #671 "glab repo list"
**Describe the feature or problem you'd like to solve**

same as gh repo list, show all current active repos on the active account.

**Propose a Solution**

$ glab repo list
**Additional context**

[2021-03-31 00:38] profclems commented on #671
Nice suggestion @ksandvik...
I will work on this during the holidays this week... It is however, open if anyone would want to work on this

[2021-04-01 06:08] wilsonjwz opened #674 "merge 405 Method Not Allowed"
glab mr merge                                                                                                                                                                                                                                                                                                                                                            [±feature/xxxx ✓]
- Merging merge reque

[2021-04-01 06:18] wilsonjwz commented on #268
yep I had the same problem when our company upgraded GitLab

[2021-04-01 07:15] wilsonjwz commented on #268
Accept MR

Merge changes submitted with MR using this API.

If a merge request is unable to be accepted (such as Draft, Closed, Pipeline Pending Completion, or Failed while requiring Success) - you receive a 405 and the error message ‘Method Not Allowed’

If it has some conflicts and can not be merged - you receive a 406 and the error message ‘Branch cannot be merged’

If the sha parameter is pass

[2021-04-02 11:39] profclems commented on #268
@wilsonjwz You should check if the token has the right permissions set

[2021-04-07 17:20] seandilda opened #676 "Allow customized colors/theme for pipeline view"
**Describe the feature or problem you'd like to solve**
I find the gray background on `glab pipeline ci view` distracts me and makes it hard to read the text and see the borders around the job boxes.

**Propose a Solution**
I would like an option to change the background color (or have no background color).

**Additional context**
I'm in the process of migrating from `lab` to `glab`.  With `lab ci

[2021-04-07 17:56] zemzale commented on #676
Thanks for opening the issue @seandilda.
This seems like a valid option to add, but could you provide some additional information about your setup, because I haven't had issues as you describe. For example
<img width="743" alt="image" src="https://user-images.githubusercontent.com/14844365/113911592-d06adf00-97e2-11eb-8309-acd6f20befae.png">
This is how my terminal looks, and when I open a ci view

[2021-04-07 17:56] zemzale commented on #676
/cc @profclems Maybe you have some insight in this?

[2021-04-07 18:07] seandilda commented on #676
Ok, that image is exactly what I want.

I'm running terminator on Ubuntu 20.04
glab version 1.16.0 (2021-03-12)
$TERM is xterm-256color

Here's my terminal:

![glab-example-terminal](https://user-images.githubusercontent.com/6088679/113913565-7cdc9f00-97aa-11eb-922e-2c8d076062cf.png)

Here's an example of what I see when I run `glab ci view`

![glab-gray-ci-view](https://user-images.githubusercont

[2021-04-07 18:15] seandilda commented on #676
I just reproduced the issue in gnome-terminal with the same $TERM value.

Thanks for looking into this!

[2021-04-08 18:41] profclems commented on #676
There is no background color set for `ci view` in the codebase and I'm unable to reproduce this in konsole with`TERM=xterm-256color`. Ideally, it should assume the background color of your terminal.

I'm trying to figure out what's causing this and get back to you on this.

[2021-04-09 05:19] #383 closed, assigned to nobody

[2021-04-09 11:05] l0nax opened #679 "Add feature to review merge-request"
**Describe the feature or problem you'd like to solve**

As described in #80, which has been closed and labeled as `resolved:wontfix` without a reason, a sub-command, probably `mr review <id>`, to review a merge-request would be a really nice feature.

**Propose a Solution**

_Future discussion needed, on how the TUI would look like. But only if this type of feature is considered worthy to be impl

[2021-04-09 20:16] seandilda commented on #676
I downloaded some older versions to test out.  This issue first showed up in version 1.14.0.  Earlier versions don't have the issue.

[2021-04-10 14:15] huegelcesar opened #680 "Implement reviewer filter in the `mr list` command"
**Describe the feature or problem you'd like to solve**
I would like to be able to filter the merge request list by the reviewer.

**Propose a Solution**
Add a new parameter to the `mr list` command so that it is possible to execute, for example, the following command.

[code]

**Additional context**

[2021-04-13 13:13] hikhvar opened #682 "Trigger manual pipeline jobs from glab"
**Describe the feature or problem you'd like to solve**
We have some manual jobs in our pipelines. I want to trigger those jobs from the command line.

**Propose a Solution**
Either a dedicated command:
[code]
or
[code]

Or include a hotkey in the ncurses UI of `glab ci view`

[2021-04-13 18:17] jeanphi-baconnais commented on #669
Hi @profclems , what do you think about GitLab Pages to save documentation ?

[2021-04-13 18:25] zemzale commented on #682
Thanks for reporting the issue @hikhvar!

This seems like a nice and easy enhancement.
I will put this in my backlog, but if anyone is up for creating a PR for this, then they are more than welcome.

[2021-04-14 14:59] ghost opened #683 "target_branch: [can't be blank, is invalid]"
Hi!

**Description**
I got this error when trying to create a merge request: `target_branch: [can't be blank, is invalid]`.

**Possible Fix**
I changes default options for my repositories quite a lot, but I don't see what might cause the issue. I believe glab should work anyway.

**Steps to Reproduce**

[code]

**Your Environment**

glab version 1.16.0 (04/13/2021)
on Archlinux

Thanks!

[2021-04-14 17:17] zemzale commented on #683
Thanks for reporting the issue @gui-don

Could you please provide the output for this command `git remote show origin | grep -E '(HEAD branch:)\s+'`?
If you don't provide a target branch for that command,
1. it tries to run `git remote show origin`, if that fails it returns "master"
2. if that succeds it uses regex `(HEAD branch:)\s+'` to find the head branch. Example output would be
[code]
3. Whe

[2021-04-14 17:58] ghost commented on #683
Aaah, localization issue...
The command fails indeed.

[code]

The laptop I use has french local. I guess a code improvement would be get rid of that grep and find a more robust way to get the HEAD branch.

[2021-04-15 21:26] olearycrew commented on #682
@hikhvar I just discovered an undocumented hot key - you actually can run pipeline jobs from the `glab ci view` screen (and rerun jobs that aren't manual with `Ctrl-R`

[2021-04-15 21:28] olearycrew commented on #682
Wait I lied - it is documented!

https://glab.readthedocs.io/en/latest/pipeline/view.html

[2021-04-16 01:16] profclems commented on #683
Huh... "Localization issue"
I expected this problem somewhere in the future as the `glab` community grows.

Thanks for bringing this up @gui-don

[2021-04-16 01:27] profclems commented on #669
@jeanphibaconnais I actually want to host the documentation site on GitLab pages. I haven't hosted on GitLab pages before. I'm open if you'd like to help

[2021-04-16 01:50] olearycrew commented on #669
Hello @profclems!  My name is Brendan from GitLab (I work for John Coghlan).

Wanted to demo how you could do it - so I cloned the "new" docs repo to a GitLab repo and added a `.gitlab-ci.yml` to show how to deploy to pages.  There's one thing I would need to still work out as the CSS is assuming it is at the root (which it is not).  I'm sure I could solve this if I learn Hugo a little.

The keys

[2021-04-16 02:55] olearycrew commented on #671
I'm working on a PR for this issue.

[2021-04-16 05:29] jeanphi-baconnais commented on #669
@profclems  yes i use GitLab Pages with Hugo so i can help. Like @olearycrew said and did, it's easy to deploy one site 😄

[2021-04-18 13:14] zemzale commented on #676
I was able to reproduce this. The first screenshot I took was on macos, in kitty terminal using 1.16-dev build.
On my Linux machine, I get the same weird artifacts.

I did some bisecting and the first bad commit was d92edf84e1bf2cf2287be83e3146a2cbbf7e3ea4

Looks like updating to the newest tview or tcell version, borked something, and now it doesn't work as it should.

If someone is up to looking

[2021-04-18 15:22] profclems commented on #676
I think the best solution now is to downgrade tview to the previous working version till this issue is fixed.
Or we explicitly get the background color of the terminal and set the ci view background color.

Sent from my iPhone

[2021-04-19 18:08] #680 closed, assigned to nobody

[2021-04-22 12:11] VannTen opened #686 "gitlab_uri setting not respected"
**Description**
When using command such as `glab repo clone <repo_path on self-hosted> installed, the `gitlab_uri` setting (`host:` in the config file) does not appear to be respected.
It's also possible I misunderstood what that parameter does.

**Expected Behavior vs Actual Behavior**

Set up a config for a self-hosted gitlab instance : `glab auth login --host <self hosted instance>`
Configure d

[2021-04-22 16:23] profclems commented on #674
I realised this issue is due to the fact that the `--when-pipeline-succeeds` flag is set to true by default. So if the repo does not have a gitlab-ci set up, the merge fails.

@wilsonjwz, I need to confirm this. Does the repository have a GitLab CI set up?

[2021-04-22 16:25] profclems commented on #268
I realised this issue is due to the fact that the `--when-pipeline-succeeds` flag is set to true by default. So if the repo does not have a gitlab-ci set up, the merge fails.

@wilsonjwz and @petsgre, I need to confirm this. Does the repository have a GitLab CI set up?

[2021-04-23 08:28] jeanphi-baconnais commented on #669
Hi @profclems , do you want to use your group in GitLab to create GitLab Pages ? https://gitlab.com/glab-cli

[2021-04-23 11:09] profclems commented on #669
Yes @jeanphibaconnais...
I'm even thinking of moving glab to glab-cli group namespace on both GitLab and GitHub

[2021-04-23 11:21] jeanphi-baconnais commented on #669
Cool 😄  so i will can help you on this part if you need some help 😄

[2021-04-23 17:36] profclems commented on #679
Hi @l0nax thanks for opening this issue and sorry for the late response, I went off for a while.

I also think this feature will be a great improvement for `glab` and I opened the issue #80 to work on that feature. You're right, I closed it and labeled it as `resolved:wontfix` because I couldn't find the time to work on the feature.
Working on it will be a bit time consuming and since I am not sur

[2021-04-23 19:37] profclems commented on #686
Hi @VannTen, thanks for reporting this issue.

`glab repo clone` only respects the environment variables for now (I will consider it a bug and fix it). So it whould work when you run
[code]

https://github.com/profclems/glab/blob/7bf692a0b0696633aff8b449e6169f70ba7754a2/commands/project/clone/repo_clone.go#L106

At the earlier stages of `glab`, we only considered `gitlab_uri` as the config key to

[2021-04-24 19:55] matyasrichter opened #688 "Segfault when invoking `glab ci list`"
**Description**

**Expected Behavior vs Actual Behavior**
Expected: not a segfault
Got: segfault

**Possible Fix**

**Steps to Reproduce**
`glab ci list`

**Logs**
[code]
**Your Environment**
glab version 1.16.0 (2021-03-12), the gitlab-glab-bin package from AUR
5.10.30-1-MANJARO #1 SMP Wed Apr 14 08:07:27 UTC 2021 x86_64 GNU/Linux

This only seems to happen on one of my projects. The project is o

[2021-04-25 12:20] profclems commented on #688
Thanks for opening this issue @matyasrichter.

I can't seem to reproduce this issue. Pls provide answers to the ff:

1. does the same error occur when you run `gl ci list` on another repo on the same instance?
2. does the repo in question have a `gitlab-ci.yml`?

[2021-04-25 12:58] matyasrichter commented on #688
Yes, the repo does have a `gitlab-ci.yml` file. I've tried running the command on a different CI-enabled repo on the same instance, ran into the same issue. Other CI-related commands, like `glab ci view`, work fine on both.
Running on a third repo, which does not have a `gitlab-ci.yml`, produces the expected output:
[code]

[2021-04-25 16:55] zemzale commented on #688
TLDR: I think the issue is with the API version of GitLab, and we expecting fields that are not there.

From the docs, it seems that this field has only shown up in `12.xx` versions, but I would feel better if we can check this before confirm that it's indeed the issue here.

## Explantion
We list pipelines here:
https://github.com/profclems/glab/blob/88349689e8ff650f811ba61883f913e9a12b55d4/comma

[2021-04-25 17:01] matyasrichter commented on #688
You're not wrong,@zemzale. The output looks like this:
[code]

[2021-04-25 17:38] zemzale commented on #688
Okay then. I will try to fix this somewhat soon.

But as always everyone is more then welcomed to create PRs issues.

[2021-04-26 05:38] #268 closed, assigned to nobody

[2021-04-26 05:38] #674 closed, assigned to nobody

[2021-04-26 05:43] wilsonjwz commented on #674
Wow, I’m glad to hear that, our  repository does not have CI
I'll test it later

[2021-04-26 06:02] #688 closed, assigned to nobody

[2021-04-27 13:43] kousikmitra commented on #562
Would like to work on this one if anyone else haven't pick it yet. :)

[2021-04-27 14:40] zemzale commented on #562
@kousikmitra sure thing. Go ahead and just open a PR.

[2021-04-27 17:48] profclems commented on #679
I am still contemplating on how the TUI should look like for this feature. This is open for suggestions.

cc: @zemzale @l0nax @maxice8

[2021-04-27 19:07] kousikmitra opened #692 "Show reviewers of the merge request in the `mr view` command"
**Describe the feature or problem you'd like to solve**
I would like to be able to see reviewer of the merge request when I run `glab mr view {<id> | <branch>} [flags]`.

**Propose a Solution**
The reviewers can be shown just below the assignees
[code]

**Additional context**

[2021-04-28 11:29] kousikmitra commented on #692
Close by #693

[2021-04-28 11:30] #692 closed, assigned to nobody

[2021-04-30 05:29] #592 closed, assigned to nobody

[2021-04-30 06:45] #562 closed, assigned to nobody

[2021-04-30 08:12] maxice8 opened #697 "glab mr merge --rebase --when-pipeline-succeeds=false still prompts"
**Description**

When making `glab mr merge --rebase --when-pipeline-succeeds=false` the merge request still asks for
confirmation even though all questions have been answered

**Expected Behavior vs Actual Behavior**

That it does not question the command I sent, and if it must do then provide a `-y`/`--yes` switch
so it doesn't

**Your Environment**

* Version used (Run `glab --version`): glab v

[2021-04-30 11:25] zemzale opened #698 "Allow group milestones to be used in issues"
**Describe the feature or problem you'd like to solve**

When creating issue using the `glab issue create` command and when selecting to add metadata in the interactive mode, group milestones are not showed.
[code]
**Propose a Solution**

Fetch both project and group milestones when creating issues.

**Additional context**

These both APIs are separate, so we can probably fetch them concurrently a

[2021-04-30 18:53] pbnj opened #699 "Better handling of skipped pipelines"
**Describe the feature or problem you'd like to solve**

Pipelines that have semver and/or changelog automation commit back to GitLab repos with `[skip ci]` or similar commit message, resulting in a `skipped` pipeline (see screenshot 1).

As a result of this:

- `glab ci status` presents a prompt (as expected) but is useless for skipped pipelines (see screenshot 2).
  - Note: selecting `View Logs`

[2021-05-03 02:23] profclems commented on #699
@pbnj, thanks for opening this issue and providing much details. This makes so much sense because viewing logs for skipped and canceled pipelines is likely to panic.

I just tested `glab ci status` on a branch with a canceled pipeline, selected `view logs` and the `glab` get stuck without any error message.

Currently, both `glab ci status` and `glab ci view` has `-b | --branch` flag to select a b

[2021-05-03 03:31] pbnj commented on #699
I don't see interactive prompt much, if any, different than running `glab ci list` followed by `glab ci <status|view>`. This suggestion was aiming to  provide a better user-experience than having to run 2 commands separately.

Alternatively, users may resort to a convenience shell script that gets the list of pipelines, piping them through FZF, then passing the result to `glab ci <status|view>` to

[2021-05-03 11:01] zemzale commented on #699
I actually agree with this one. This would allow the flag to be actionable straight away. This would be way better UX since the user doesn't have to run 2 differnt commands, with copy-pasting in the middle.

[2021-05-03 18:26] profclems opened #701 "Deprecate `glab mr for` command"
**Describe the feature or problem you'd like to solve**

`glab mr for` is a command just like `glab mr create` but it is specifically for creating draft merge requests for specified issues, where the issue number is provided as argument.

It was an effort to provide a similar experience as the GitLab Web UI where a user can create a draft MR from an issue by clicking on the `create merge request`

[2021-05-03 18:26] profclems commented on #701
cc: @zemzale @maxice8 for better reach

[2021-05-03 18:34] zemzale commented on #701
Sounds like a good thing. I have wanted `mr create -i` a few times already. Never spotted `mr for` so from my point of view it makes sense to deprecate it.

[2021-05-05 16:16] b4nst commented on #679
Throwing my 2 cents here. Something like opening an editor file by file with diff. Everything you would add here would be treated as a GitLab comment, maybe by delimiting each comment between 2 tags (`~`?). And I would say the easier would be to use the same format as GitLab is using in the GUI. Example for #447 that would translate to something like:

[code]

The hard part would be dealing with e

[2021-05-05 17:54] zemzale commented on #679
My first thought for this was basically replicating the GitLab GUI into a TUI, but this kind of option that you can review the MR in your own editor would be pretty cool,

 I just don't know how would things like responding to comments or commenting on multiple lines at the same time work.

Also from a UX perspective, with a TUI it's possible to just add some help window were the user can see what

[2021-05-06 10:47] b4nst commented on #679
I understand your point. I have a different opinion on the TUI, probably because we all come here for different reasons. I'm not really found of the TUI parts (like `ci view` for example) because to me it's just another GUI. I think maybe providing the 2 solutions (a TUI and an in-editor integration) would be cool.

Regarding the UX you're totally right but that could be offset with auto-completio

[2021-05-06 10:52] b4nst opened #702 "cli way of retrying job"
**Describe the feature or problem you'd like to solve**

I find it cumbersome having to navigate in the ci TUI in order to retry a job. Not to mention that makes totally impossible the integration with other commands or scripts.

**Propose a Solution**

`glab ci retry [<job-id-or-name>]`

**Additional context**

If/when we agree on something, I can start creating a PR

[2021-05-06 12:23] profclems commented on #702
Thanks @b4nst... I have considered this feature as well... You can go ahead and open a PR

[2021-05-06 15:32] zemzale commented on #679
I agree on the part that a TUI is just another GUI, but I like that I don't have to switch between a browser and my terminal.

I like the idea of experimenting with a TUI and a in editor reviewing at the same time.

[2021-05-06 16:28] pvlcor commented on #699
This would be great!

[2021-05-07 01:07] profclems commented on #679
The TUI with an in-editor reviewing is a nice idea and I totally agree with it. That will definitely come with inline commenting, which would require the user to learn special syntax as @zemzale rightly said.

This isn't going to be an easy task as we all know it and it will take much time and dedication to finish it up. Either way, I'm ready to experiment with it.

The hard part comes from dealin

[2021-05-10 07:36] quite opened #706 "scriptability: avoiding ellipsize (...) of columns/lines"
Great improvements on this in https://github.com/profclems/glab/issues/258 -- but glab still abbeviates long lines/columns with ellipsis (...) if they don't fit in the terminal. This is always done, even if PAGER is not used. But in particular, piping to `grep` or otherwise redirect the output for a non-human reader, really becomes useless when things are shortened, ellipsized.

I'm not sure if th

[2021-05-10 10:18] zemzale commented on #706
Thanks for the brought-up issue @quite.

There are actually a few commands(`mr view` and `issue view`) that check if they are printing to tty before printing the output, and if they are not they just print out everything without any styling or cutting text.

To improve upon this we just need to figure out which commands actually make sense to be printed to non-tty (example: `ci view` doesn't make

[2021-05-11 01:23] SolomonHD opened #707 "Is git-credential working?"
After going through the glab auth login workflow to set the personal access token, there is no credential added to .gitconfig, is there another way to configure glab to act as gh does?

[2021-05-11 07:09] zemzale opened #708 "[Refactor] Project create"
**Describe the feature or problem you'd like to solve**

We need to refactor and add test to the `repo create` command. There are already tests, but they are commented out since I assume they were hard to run.

**Propose a Solution**

- Refactor `repo_create.go` similar to something like `mr_create.go`
- Add proper tests for the command

[2021-05-11 11:27] zemzale commented on #707
Hi @SolomonHD. Thanks for opening the issue, but I don't think this is a bug. `glab` stores access token at `~/.config/glab-cli/config.yml` or for local configuration it's at `REPO_ROOT/.glab-cli` which should be added to the `.gitignore` automatically.

See https://github.com/profclems/glab#configuration

There is also a [proposal](https://github.com/profclems/glab/issues/384) for storing this in

[2021-05-11 15:25] SolomonHD commented on #707
Apologies my initial post wasn't specific. My issue is after I've done the glab auth login and the tokens are stored in `.config.yml`, a git clone on a repo from gitlab.com will prompt for my user/password, where I expect it to have a git credential helper, the way `gh` does. After going through the `gh` auth workflow it modifies the `~/.gitconfig` and adds:
[code]

Is there some equivalent from `

[2021-05-11 15:32] profclems commented on #707
@SolomonHD you're right. `glab` doesn't make use of git-credential to store tokens yet.

This is something in our `ToDo` list and I'm hoping we could release it it as part of v1.17.0 to be released this week.
This issue is related to #661.

Ref: https://github.com/profclems/glab/issues/661#issuecomment-802576744

[2021-05-11 15:38] SolomonHD commented on #707
That's great news! I assume that if/when this change is implemented, the `glab auth login` workflow will modify `~/.gitconfig`?

[2021-05-11 16:12] profclems commented on #707
Yes @SolomonHD. It will modify the `.gitconfig`

[2021-05-11 16:22] sanjeevik89 opened #710 "Group clone over https not working on a self hosted GitLab instance"
**Description**
When trying to run group clone on a self hosted instance of gitlab with personal token configured, glab cli is only cloning first repo over "https".  Rest of the token's tried with "ssh" option. "ssh" option is not configured in config.yml.

This problem might occur in gitlab.com as well. I haven't tried it.

**Expected Behavior vs Actual Behavior**
glab preserves protocol as "http

[2021-05-11 16:36] sanjeevik89 opened #711 "Project structure to be preserved while cloning projects in nested groups"
### Description:
GitLab project structure is not preserved while clone groups.  This is a problem when projects have same name in different subgroups or nested subgroups.

See the below group structure. The expectation is to preserve this project tree while cloning groups.

Currently all the projects are placed in the current working directory.

[code]

[2021-05-11 17:49] zemzale commented on #710
Thanks for reporing this issue @sanjeevik89

I indeed can reproduce this. Setting git protocol in config file to https only is respected for the first repository, after that it switches to SSH.

I seem to have found the problem in our code and fix is on it's way

[2021-05-11 18:00] zemzale commented on #711
@sanjeevik89 thanks for the issue, but this has already been done #627

You can get this effect by using the `-p, --preserve-namespace` flag. When that is used, each namespace will be in it's own directory.

[2021-05-11 18:00] #711 closed, assigned to nobody

[2021-05-11 18:16] sanjeevik89 commented on #711
Thanks for the quick turnaround, Much appreciated.

[2021-05-11 18:40] SolomonHD commented on #707
Great, if you have a x64 .deb file with this feature I'll gladly test, if not I'll test when released!

[2021-05-11 18:40] #707 closed, assigned to nobody

[2021-05-11 18:58] sanjeevik89 commented on #710
Thanks @zemzale  - Anyidea when this will be released ?

[2021-05-11 23:11] #618 closed, assigned to nobody

[2021-05-11 23:11] #710 closed, assigned to nobody

[2021-05-12 00:51] #706 closed, assigned to nobody

[2021-05-12 01:52] sunny0826 opened #716 "Configuring a Kubernetes cluster with glab"
**Describe the feature or problem you'd like to solve**

Hopefully, we can use glab to configure a Kubernetes cluster for a gitlab project.

**Propose a Solution**

we can use `go-gitlab` to implement this feature, and in fact, I have done so in my own project.

[code]

**Additional context**

[2021-05-12 01:57] #407 closed, assigned to nobody

[2021-05-12 02:11] #697 closed, assigned to nobody

[2021-05-12 13:08] maxice8 opened #719 "segfault when trying to rebase&&merge"
**Description**

Segfault on `retry.Do` function, when merging a merge request that needs to be rebased.

after the segfault if it is asked to merge again then it will work normally

**Expected Behavior vs Actual Behavior**

that it is merged instead of segfault

**Steps to Reproduce**

1. Find a merge request that needs to be rebased
2. run `gllab mr merge --yes --rebase --when-pipeline-succeeds=

[2021-05-12 16:45] tommyknows opened #721 "Support for detached pipeline in `ci trace`"
**Describe the feature or problem you'd like to solve**

When running a `glab ci trace`, I get the error message `No pipeline running or available on <branch>`. However, there is a detached pipeline on that branch, or rather on the MR of that branch.

Interestingly, `glab ci view` works fine, so I guess the logic for matching that already exists?
Or maybe I'm missing something and am using it wron

[2021-05-13 16:20] zemzale commented on #721
Thank for the issue @tommyknows. This indeed doesn't work for detached pipelines. These commands do use a bit different way of fetching the pipelines, so that would explain that.

If anyone wants to investigate this I am gonna mark this as help wanted.

[2021-05-13 16:33] zemzale commented on #716
Thanks for the suggestion @sunny0826

This looks like a pretty cool and powerful feature. We are already using `go-gitlab` so that is not an issue.
The question is under what command this should be? My idea would be to put it under `repo` command as `glab repo kubernetes` or `glab repo k8s`.

Then everything else needed to create the cluster is just supplied with flags.

The only thing I imagine m

[2021-05-14 03:10] #719 closed, assigned to nobody

[2021-05-14 05:27] profclems commented on #668
This is quite a difficult decision to take but I think it will be best if leave this repository as read only mirror and continue development on GitLab.
It would be great accepting PRs and MRs both on GitHub and GitLab respectively, but that would be a tedious work as a maintainer.

cc: @zemzale @maxice8... Your thoughts??

[2021-05-14 07:04] maxice8 commented on #668
No objections

[2021-05-14 07:17] zemzale commented on #668
No objections too

[2021-05-14 13:38] #661 closed, assigned to nobody

[2021-05-14 13:38] #596 closed, assigned to nobody

[2021-05-14 13:43] profclems commented on #390
This is resolved by #695

[2021-05-14 13:43] #390 closed, assigned to nobody

[2021-05-14 14:06] profclems commented on #668
Okay so v1.17.0 will be the last `glab` release done on GitHub.

@johncoghlan is there a way we can import GitHub releases and issues to our existing repository on GitLab? At least to prevent people from losing their forks on GitLab

[2021-05-14 14:42] johncoghlan commented on #668
This is great. You can read our docs on importing from GitHub to GitLab here: https://docs.gitlab.com/ee/user/project/import/github.html

A couple things to highlight from that page:

If there are folks who are working on the project that you would like to map from GitHub to GitLab, they should review this section

[2021-05-14 19:21] tommyknows commented on #721
I'm just looking at this and am wondering, should the current behaviour be kept & the the "fix" be added as a fallback, or the other way around?

Right now, `api.GetPipelines` [is being used](https://github.com/profclems/glab/blob/trunk/commands/ci/trace/trace.go#L101). If my understanding is correct, this gets all pipelines attached to a specific branch, but `detached` pipelines are...detached fr

[2021-05-15 10:51] rsteube opened #724 "dynamic completion"
Added basic dynamic completion: https://github.com/rsteube/glab

[![asciicast](https://asciinema.org/a/414156.svg)](https://asciinema.org/a/414156)

related #174

[2021-05-15 14:29] rsteube opened #725 "subcommand alias configuration"
**Describe the feature or problem you'd like to solve**
glab has a quite lot of predefined aliases

**Propose a Solution**

support subcommands in the alias configuration and use it to set these so that they are removable by the user

**Additional context**
[code]

[2021-05-16 06:42] profclems commented on #724
@rsteube That is pretty cool!

Is that the changes you worked on for #722 ? If so, I would suggest you update the PR title and description, add this screenshot to the description as well, then I will review your PR.

[2021-05-16 06:54] profclems commented on #725
Thanks for opening this issue @rsteube

This is a 2-in-1 suggestion:
1. Supporting subcommands
2. Default subcommand aliases should be removable by users (dependent on 1)

I think this is a pretty cool suggestion as `glab` aims at being highly configurable. This is open if anyone would like to work on this

[2021-05-16 06:59] profclems commented on #721
@tommyknows you're right! Using the commit api has a higher chance of succeeding since the pipeline details is returned with the commit response payload.

You're free to submit a PR

[2021-05-16 09:16] rsteube commented on #724
@profclems oh weird, i think that might be a bot.

[2021-05-16 09:54] sanjeevik89 opened #727 "glab ci status failing (glab version 1.17.0)"
**Description**
Getting error when running `status` subcommand on `glab ci`. Meanwhile `glab ci view` working as expected.
**Expected Behavior vs Actual Behavior**
Show status of latest pipeline with option to view logs & retry.

**Logs**
[code]
**Your Environment**
Ubuntu 20.04 running as a Docker container on Amazon Linux

* Version used (Run `glab --version`): 1.17.0
* Operating System and vers

[2021-05-16 12:39] profclems commented on #727
@sanjeevik89 thanks for opening this issue.

I can't seem to reproduce this issue. Is the pipeline a detached pipeline? If yes, then it must be related to this issue #721

[2021-05-16 15:39] tommyknows commented on #727
I can reproduce this, will have a look together with #721.

Edit: Actually, it's not really related to #721 - the issue appears if a job requires a manual trigger and has not started yet. I'll send a separate PR for that.

[2021-05-16 17:09] #727 closed, assigned to nobody

[2021-05-18 09:30] #721 closed, assigned to nobody

[2021-05-18 09:32] profclems commented on #637
This has been fixed by #689

[2021-05-18 09:32] #637 closed, assigned to nobody

[2021-05-20 20:47] bcdady opened #734 "Support additional subcommands for variable command"
`variable` command currently has 1 subcommand: `set`

Adding more common subcommands would make the `variable` command more useful / valuable.

Other subcommands could include: `get`, `list` and/or `remove`.

_Originally posted by @profclems in https://github.com/profclems/glab/issues/515#issuecomment-754706740_

[2021-05-20 20:49] jume-dev opened #735 "Can't merge a Merge Request if I am in detached HEAD state"
**Description**
So, I am running glab in a gitlab-ci pipeline with the goal to create a MR from development to main and automerge it, if the pipeline succeeds.

As I run in an MR pipeline, the git state is a detached HEAD. I try to execute `glab mr merge <id>` with an correct ID and get the error:
`could not determine current branch: git: not on any branch`.

Creating the MR with `glab mr create -

[2021-05-21 09:48] eriknaslund opened #736 ""glab mr for" returns 400 - ref is empty"
**Description**
The `glab mr for <issue_id>` command always returns a "ref is empty" for me. All other commands seem to work well as far as I can see.

**Expected Behavior vs Actual Behavior**
When issuing `glab mr for <issue_id>` I always get the following error message back:
"POST https://gitlab.com/api/v4/projects/repo/repository/branches: 400 {error: ref is empty}"

I would expect a merge requ

[2021-05-21 13:25] profclems commented on #734
Thanks @bcdady for opening this issue... I haven't really found the time to work on this but it is open if anyone would want to open a quick PR for this

[2021-05-22 00:18] hhromic commented on #655
Closing this because glab implements a proper `:id` placeholder since [v1.17.0](https://github.com/profclems/glab/releases/tag/v1.17.0) which allows for the solution proposed in https://github.com/profclems/glab/issues/655#issuecomment-799313512 to be practical and sufficient.

Thank you for this great tool!

[2021-05-22 00:18] #655 closed, assigned to nobody

[2021-05-25 10:35] sh3bang opened #738 "Using different GitLab server Port"
Hello,

it would be nice to configure hostname and(!) port number because self hosted Gitlabs (e.g. Docker Container).
in my case gitlab is not on 80/443.

Actually i get a error message "invalid hostname" if a answer the interactive "glab auth" dialog.

https://github.com/profclems/glab/blob/trunk/docs/source/auth/login.rst

[2021-05-25 12:33] profclems commented on #738
@sh3bang thanks for reporting this issue... This is an issue with the hostname validation without considering ports. I will fix that asap.

In the meantime, you can set the api host via the `config set` command
[code]
Then you can set your token
[code]

You can set the following configs for a host:

- **api_protocol:**  What protocol to use to access the api endpoint. Supported values: http, https

[2021-05-27 12:59] #366 closed, assigned to nobody

[2021-05-27 17:20] profclems commented on #735
@jume-dev thanks for reporting this issue. I have opened a PR #743 with a fix

[2021-05-27 18:08] #735 closed, assigned to nobody

[2021-05-27 22:49] #738 closed, assigned to nobody

[2021-05-31 10:14] #724 closed, assigned to nobody

[2021-05-31 15:07] jume-dev commented on #735
Any timeline when you will do a release with this fix included? :)

[2021-05-31 16:23] profclems commented on #735
I have a new release (v1.18.0) planned for tomorrow (1st, June, 2021)...

I'm also working on releasing docker images which you can use directly in your CI #746

[2021-06-01 20:07] tcpaiva opened #748 "Update/create workflow using files"
I was wondering if there is a way to deal with issues in a file-like approach. For example

    $ glab issue view 123 >> tmp.md
    $ xdg-open tmp.md
    $ glab issue update 123 --file tmp.md

That is, download the issue to a temporary file, edit as needed, update isse using the modified file.

This would be handy also to clone issues or to use an issue as a template:

    $ glab issue create --fi

[2021-06-01 20:25] tcpaiva commented on #748
From what I understand, there is no way for example to get only the description of an issue, right?

[2021-06-02 10:56] idcmardelplata commented on #736
i have the same problem.

[2021-06-06 00:15] pvoliveira opened #751 "List "external jobs" associated with the commit."
**Describe the feature or problem you'd like to solve**

List "external jobs" associated with the commit.

**Propose a Solution**

Implement a get of the statuses attached to the commit and show it as a fallback when not any job is found for the branch's pipeline.

[2021-06-07 01:08] profclems commented on #748
@tcpaiva thanks for opening this issue... GLab currently does not support creating issues or merge requests using file templates.
I think this will be a great add for glab. I will add this to our backlog for consideration.
It is however open if anyone would like to work on it.

You can easily write scripts to get only the description. `glab` provides the api command to make it easy interact with t

[2021-06-07 16:12] esorton opened #755 "Using Alternate Ports for GIT/API Generates "none of the git remotes configured ..." Error"
Following instructions in #738, I configured glab to access our self-hosted GitLab installation.  We use alternate ports for both SSH access to the repository and HTTPS access to the web/API.  `.config/glab-cli/config.yml` contains (port and hostnames changed):

[code]

Executing with the --repo argument works:

[code]

However, if I execute the above command without --repo in the repository direc

[2021-06-07 16:30] profclems commented on #755
Hi @esorton , thanks for reporting the issue.

Does it work when the main host entry in the config does not contain a port number?

Kindly modify the config to see if it works:

[code]

Or you can replicate the host config to have multiple host entries with one containing the port number:

[code]

Let me know which one works... Thanks

[2021-06-07 16:45] esorton commented on #755
It does work when I omit the port number from main host entry in the config file.

[2021-06-07 16:58] profclems commented on #755
Okay thanks. That should be the expected behaviour since `glab` only matches it with only the hostname. I have edited my comment at https://github.com/profclems/glab/issues/738#issuecomment-847830100

I'm also thinking of a use case where there are multiple instances on the same host running on different ports (which I believe is extremely rare), in this case the `host:port` host entry format will

[2021-06-07 17:00] #751 closed, assigned to nobody

[2021-06-07 17:05] esorton commented on #755
Thanks for the assistance.

[2021-06-07 19:28] #755 closed, assigned to nobody

[2021-06-07 20:36] ghost commented on #735
Is there a workaround until 1.18 is released?

(This also affects `glab mr update`)

[2021-06-07 23:05] profclems commented on #736
Hi @eKIK and @idcmardelplata, I can't seem to reproduce this issue. I may need a little bit of information to be able to resolve this.
I tested against a repo on GitLab.com and gnome's self hosted instance and everything seems to work perfectly for me.

Are you using a self hosted GitLab instance? If yes, what version?

[2021-06-08 06:06] jume-dev commented on #735
You can probably use `glab api` for it, iirc it supports most of the whole gitlab api

[2021-06-08 07:13] profclems commented on #735
Hi @jume-dev @pierlucg-xs, v1.18.0 is available now. It comes with docker images that you can use in your CI environments as well

https://github.com/profclems/glab/releases/v1.18.0

[2021-06-08 12:25] eriknaslund commented on #736
@profclems I too am using gitlab.com, so no difference there.

One thing I'm doing a bit differently than some others is that I use [Gitlab Groups](https://docs.gitlab.com/ee/user/group/) to Organize my projects.

This means my Git URLs look like this: `git@gitlab.com:GROUP_NAME/REPO_NAME.git`.
Without groups they would look like `git@gitlab.com:USER_NAME/REPO_NAME.git` instead.

It might be a bit

[2021-06-09 20:28] jume-dev commented on #735
I tried it, but it sadly didn't work. I checked your code change from #743 again and I think I know what the issue is. I provide a PR, but please be aware I have no go experience whatsoever :grin:

Would be great if you could release a bugfix release or something :)

EDIT: actually, spoke too soon, I have no idea why your fix doesn't solve the problem

[2021-06-09 21:37] profclems commented on #735
Thanks!
I will be glad to review your PR and provide as much help as possible

[2021-06-10 09:19] jume-dev commented on #735
Hi, sorry, as you answered via mail, you probably didn't saw my edit. I checked the code more thoroughly and I can't seem to find what's the problem. Looks ok for me

[2021-06-10 20:19] jume-dev commented on #735
Scratch that, I got me some help from a colleague and we think we found the issue. I opened up an PR, please be so kind to review.

I'd love it if you could make a small bugfix release for this fix, as I really depend on it for my project, but if not, that would be also ok, as I can use my fork.

[2021-06-10 23:00] profclems commented on #735
Hi @jume-dev… I have merged your PR and did a patch release… Thanks a lot for working on this!

https://github.com/profclems/glab/releases/v1.18.1

[2021-06-11 06:59] jume-dev commented on #735
you're welcome :)

[2021-06-14 14:35] hugotiburtino opened #765 "Support http proxy configuration"
**Describe the feature or problem you'd like to solve**
I need to work using vpn all the time, that only allows me to access the internet using a http proxy. I've tried to set the env var $http_proxy to the right value but it didn't work.

**Propose a Solution**
Allow to configure the use of a proxy. Something like:

glab config set http_proxy https://user:password@host:port
glab config set https_

[2021-06-14 16:11] cdloh opened #766 "CI Trace ID is ignored and latest job is always chosen"
**Description**

When using glab ci trace <ID> the latest job appears to always be chosen and not the job that the ID is against.

**Expected Behavior vs Actual Behavior**

The correct job should have been chosen and if that job is completed the log displayed

**Possible Fix**

**Steps to Reproduce**

1. Run gitlab ci trace <id>
2. See the wrong job output

**Logs**

[code]

**Your Environment**

[2021-06-14 16:39] cdloh commented on #766
Right I think I've figured it out. If the jobs are using the same SHA Commit ID it always picks the latest job instead of the specific job ID.

[2021-06-15 09:04] zemzale commented on #765
Thanks for the issue @hugotiburtino

This is a valid use case that we don't yet support. I don't have the time to work on it, but it's open for PRs if anyone wants to work on this.

[2021-06-15 09:22] zemzale commented on #736
I can't reproduce this too. Tried this with self-hosted and gitlab.com, for personal and group projects and it worked every time.

Are you still having this issue? Maybe there was an issue with the API itself (which also is far fetched, but since 2 people can't reproduce it 🤷‍♂️)

[2021-06-15 10:05] cdloh opened #768 "Allow pipeline ID passed to view command"
**Describe the feature or problem you'd like to solve**

At present you can only select the latest pipeline for a branch or fork of a repo using the view command. Having the ability to pass a pipeline ID allows for more granular selection and tracing

**Propose a Solution**

Rather then passing a commit SHA around for the view commands select a specific pipeline during the initial load and pass th

[2021-06-15 11:35] eriknaslund commented on #736
I'm still able to reproduce it, and here's some more info I managed to dig up.

Based on the fact that glab is POSTing to that particular URL leads me to believe it's trying to create a new branch for me.
See the docs here: https://docs.gitlab.com/ee/api/branches.html#create-repository-branch

[code]

Could it be the case that glab for some reason is failing to append `&ref=<whatever>` to the URL?

[2021-06-16 00:12] #766 closed, assigned to nobody

[2021-06-21 03:05] bcdady commented on #734
Referencing the GitLab API, the corresponding glab subcommands for the glab `variable` command should be:
- list
- show
- update
- remove

We should review the functionality of the [`variable` `set` subcommand](https://github.com/profclems/glab/commit/86e57b6f8f093564c9ad6079b95c2527ed1a5800) to determine if it currently does or should overlap with the [update-variable](https://docs.gitlab.com/ee/

[2021-06-21 06:39] bcdady opened #769 "Iterate formatting and styling"
**Describe the feature or problem you'd like to solve**
Homebrew is a great install option for `glab` on macOS, but it's not readily apparent from the README that's a viable/supported option.

**Propose a Solution**
Update the README file. Also, use some standard linting tools for Markdown, YAML and some other common file types.

[2021-06-21 06:47] bcdady commented on #734
This is now WIP here: <https://github.com/bcdady/glab/tree/add-variable-get>

[2021-06-21 10:04] profclems commented on #734
Great! Looking forward to reviewing your PR

[2021-06-23 00:32] tis-rpage opened #772 "Multi-project pipeline view support"
Multi-project pipelines, where one pipeline triggers a pipeline in another project, shows only the current projects pipeline, and fails to address the downstream pipelines.

This feature should also support when multiple downstream pipelines are triggered to show them all, just like the web UI.

[2021-06-24 12:50] #769 closed, assigned to nobody

[2021-06-27 17:10] clemsbot opened #775 ".gitconfig credential helper path does not work on Windows"
By **[chrullrich](https://gitlab.com/chrullrich) (@chrullrich)**,

---

**Description**

When creating a repository (on a self-hosted instance) and selecting to configure Git to access it, the resulting entry in ~/.gitconfig does not work.

**Expected Behavior vs Actual Behavior**
- Expected behavior: Git can access the repository.
- Actual behavior:

 [...]\glab_1.17.0_Windows_x86_64\bin\glab.exe

[2021-07-01 00:59] brodock opened #777 "Project view command"
**Describe the feature or problem you'd like to solve**
When navigating to a repository, I usually want to visit the webpage of that same project. There is currently no command that allows me to do that.

It also there is no command that let me "browse" a repository by providing it's full path instead, either by displaying the content, or as a shortcut to type the full path and get the browser to

[2021-07-01 07:18] GerardvonDirac opened #779 "number of displayed jobs in glab ci status"
**Description**
Pipeline in one of my project has many jobs (more than 20), however when I run command `glab ci status` I cannot see all of them.

**Expected Behavior vs Actual Behavior**
Expected: see oll my jobs in pipeline.
Actual: see only 20 last jobs

**Possible Fix**
Possible *ad hoc* solution can be increasing parameter `per_page` (see [here](https://docs.gitlab.com/ee/api/#offset-based-pa

[2021-07-01 23:58] profclems commented on #779
@GerardvonDirac, thanks a lot for reporting this issue!

You're right, the API GET endpoints return a default list of 30 items and a max of 100 items per page as you pointed out.
This wasn't handled for `glab ci status`, unlike the case for `glab ci view`.

I will open a PR with a fix soon but it is open in case anyone would like to work on it

[2021-07-02 11:25] andrzejzysko opened #781 "glab does not work on self hosted gitlab instance with self signed certificates authority"
**Description**
There is an error during initial auth login configuration. It looks that glab does not work with self signed certificates.

**Expected Behavior vs Actual Behavior**

Solution to configure self signed certifacates as trusted.

**Possible Fix**

Handle system configured self signed certificates. For example for Ubuntu:
[code]

**Steps to Reproduce**

1. Try to uth with gitlab instanc

[2021-07-03 05:56] profclems commented on #781
Hi @andrzejzysko, thanks for opening this issue.

glab already supports self-signed certificates.

You can disable tls verification with:

[code]

Or add the path to the self signed CA:

[code]

In theory, I believe it's possible to install the self signed root ca into your system and obviate the need for any config changes

[2021-07-03 05:58] profclems commented on #781
After modifying the config, you can then run `glab auth login` to continue the authentication

[2021-07-04 04:38] #777 closed, assigned to nobody

[2021-07-04 20:15] paper42 opened #784 "Invalid link to Personal Access Token generation in auth login"
**Description**

[code]
Going to https://gitlab.com/profile/personal_access_tokens results in a 404 page.

**Expected Behavior vs Actual Behavior**

**Possible Fix**

A working link is https://gitlab.com/-/profile/personal_access_tokens

**Steps to Reproduce**

1. auth login
2. select gitlab.com
3. try visiting the link in a browser

**Logs**

**Your Environment**

* Version used (Run `glab --vers

[2021-07-04 21:21] profclems commented on #784
Hi @paper42, thanks a lot for opening this issue.

I'm not sure when this change occurred but GitLab used to automatically redirect https://gitlab.com/profile/personal_access_tokens to https://gitlab.com/-/profile/personal_access_tokens.

I just tested on self hosted instances like gitlab.gnome.org and salsa.debian.org and it still works so I guess the error occurs only GitLab.com
- https://gitlab

[2021-07-04 23:38] #784 closed, assigned to nobody

[2021-07-05 08:28] andrzejzysko commented on #781
I have installed already those certificates in system - no success unfortunately. This is why I created this issue.
The solution with adding certificate to config works fine so the issue can be closed now :-) Thanks.

[2021-07-05 10:04] Hydragyrum commented on #698
It looks as though the issue is in the `github.com/xanzy/go-gitlab` package

[2021-07-05 11:51] Hydragyrum commented on #698
Strike my last, it's implemented there

[2021-07-05 12:51] chrullrich commented on #775
The bot that imported the bug lost one set of backslashes. The "possible fix" section should read:

[2021-07-05 20:05] #781 closed, assigned to nobody

[2021-07-06 16:01] brodock opened #786 "glab repo view has issues detecting and handling branches"
**Description**
In https://github.com/profclems/glab/pull/778 I've submitted the implementation for `glab repo view` command. It seems there is still some fixes to get branches handling correctly.

**Expected Behavior vs Actual Behavior**
There are two problems I found:

1. When using `glab repo view myrepository --web` it will use current repository's branch name instead of the default one from t

[2021-07-08 02:44] juniorgasparotto commented on #734
First of all, congratulations for the tool, and I'm looking forward to this functionality as well.

Thanks

[2021-07-11 03:29] #786 closed, assigned to nobody

[2021-07-13 10:59] atusy opened #789 "Let `glab mr` support prefix in MR ID"
**Describe the feature or problem you'd like to solve**

Currently, `glab mr` does not support prefix (`!`) in MR ID unlike `glab issue` does.

**Propose a Solution**

Support following syntax

[code]

**Additional context**

This change will allow pipes easier.

[code]

Actually, this is what I do in <https://github.com/atusy/gh-fzf> , which enhances functionalities of `gh` and `glab` by fuzzy fi

[2021-07-13 11:20] atusy commented on #789
Let me also address that GitLab defines variety of autocomplete characters <https://docs.gitlab.com/ee/user/project/autocomplete_characters.html>.
It would also be nice to remove such prefix characters when adding subcommands such as `milestone` and `epic`.

[2021-07-14 09:52] rossburton opened #791 "Configuration could be in .git/config"
I added some local configuration and glab writes a new file `.glab-cli/config.yml` and adds that to `.gitignore`.

As by definition we're already in a Git repository, and Git has support for arbitrary key-value pairs at both the repository and global scope, why can't glab store configuration there?

[2021-07-14 10:16] #789 closed, assigned to nobody

[2021-07-14 20:25] twiclo opened #792 "no gitlab projects found from remotes"
**Description**
Getting the error "no gitlab projects found from remotes" when running glab issue list
`glab auth status` returns all green check marks
**Expected Behavior vs Actual Behavior**
List the issues

**Steps to Reproduce**
$ glab auth login --stdin < token.txt
$ glab issue list

**Your Environment**
glab version 1.18
gitlab version 14.01

[2021-07-19 07:45] jeanphi-baconnais commented on #669
Hi @profclems , on GitLab, do you want some help to create a project for documentation ?

[2021-07-21 05:08] profclems commented on #792
@twiclo, sorry for the late response.

- Are you running the command in a git repository?
- If yes, does the repo contain a remote host which is authenticated for glab? Check with `git remote -v`

Note that when you're not running the command in a git repo, you should specify the repo path with the `--repo | -R` flag

[2021-07-21 05:09] profclems commented on #791
Related to #384

Thanks for bringing it up again... I have pushed it high up on my todo list. It is, however open for whoever would like to take it up

[2021-07-24 23:03] profclems commented on #736
@eKIK @idcmardelplata do you still have this issue with the current GitLab version?

[2021-07-24 23:29] profclems commented on #765
HTTP proxy should already be supported by `glab` since we are considering the environment variables supported by `http.ProxyFromEnvironment` here:

https://github.com/profclems/glab/blob/0fb95eab621e8ea12d1a870889c6f29a72caa9aa/api/client.go#L117-L118

From the go docs:

Reference: https://pkg.go.dev/net/http#ProxyFromEnvironment

But as @hugotiburtino pointed out, the http_proxy and https_proxy w

[2021-07-25 00:00] profclems commented on #765
@hugotiburtino, kindly provide the following info to help investigate the issue faster:

- OS version
- `glab version`

[2021-07-25 00:43] profclems commented on #765
Hi @hugotiburtino, I just investigated this issue and I can confirm that `glab` supports http proxy.

Since we are using `http.ProxyFromEnvironment`,  you can set the supported proxy env vars like so
[code]

[2021-07-25 12:00] hugotiburtino commented on #765
you are right, my bad, I haven't tried with https_proxy before.
It works now that I've set it.
We can close this issue.

[2021-07-25 12:00] #765 closed, assigned to nobody

[2021-07-26 14:12] twiclo commented on #792
Yes I am
[code]

[2021-07-26 17:55] profclems commented on #792
When you run `glab auth status`, do you see `gitlab.utbb.net` as part of the authenticated hosts?

You should see an output similar to:

[code]

[2021-07-26 19:07] twiclo commented on #792
[code]

[2021-07-26 19:27] profclems commented on #792
This is really weird. The `auth status` output also shows that the remote is authenticated 🤔

I can't seem to reproduce the issue either.

[2021-07-26 19:43] twiclo commented on #792
I should point out that this is being authenticated with https and not ssh certs

[2021-07-26 19:55] profclems commented on #792
@twiclo, I just realised that `glab` might be throwing that error because the host was/is not reachable.
When fetching the authenticated hosts from the list from remotes, `glab` validates them by checking if the project exists. If it doesn't it is disregarded and moves on to the next remote.

This is failing for these reasons:
- The personal access token (PAT) has a limited scope. When creating th

[2021-07-26 19:59] twiclo commented on #792
My token has every scope possible and I am the admin/creator of the project and the gitlab instance

![image](https://user-images.githubusercontent.com/25187100/127051032-6ab50f6b-8b7f-4699-82bb-6cc1ff593873.png)

[2021-07-26 20:07] profclems commented on #792
It should still work. This is really weird.

Kindly try using this curl command to get the project and see if it works:
[code]

[2021-07-26 20:28] twiclo commented on #792
[code]

[2021-07-26 22:26] eriknaslund commented on #736
@profclems I'm afraid so.
Exact same behavior for me with "glab version 1.18.1-40-g0fb95ea (2021-07-27)".

[2021-07-27 02:01] profclems commented on #792
I used `gitlab.utbb.com` instead of `gitlab.utbb.net` in the cURL command, did you replace it with the actual URL?

In your case, it should be something like this (that is if the actual URL is `gitlab.utbb.net` and not just a placeholder you used to mask the actual URL, whatever it is, just replace it with it):

[code]

[2021-07-27 14:52] twiclo commented on #792
[code]
The url for the project is https://gitlab.utbb.net/lunchtime/olive-garden/olive_garden. Not sure why it can't find it

[2021-07-30 14:06] guyfedwards opened #795 "Add commit bodies on MRs with multiple commits"
**Describe the feature or problem you'd like to solve**

Creating an MR with multiple commits, I would like to have the commit bodies added to the MR description as well as the titles

**Propose a Solution**

Up to you whether this should be the default (same as single commit MRs) or behind an additional flag such as `--fill-body` or something.
This can be added [here](https://github.com/profclems

[2021-07-31 13:48] zemzale commented on #795
I agree that this would be a pretty nice addition, but I think this probably should be under a flag. In scenarios where commit messages are very huge, or someone really doesn't care about them it would just be annoying to them.

I think you can easily work on that. I am just more interested of @profclems thoughts on the flag name.

[2021-08-01 05:56] profclems commented on #795
Not quite sure what the flag name should be. It's difficult choosing a flag name that matches its purpose.

To highlight on the behaviour of the `--fill` flag, it fills both the title and body of the MR with the commit title and body respectively (but for single commit). When there are multiple commits available, it will use the commit titles as the MR body (if no description is provided with `--d

[2021-08-01 06:11] profclems opened #798 "`issue/mr` create templates are fetched from PWD"
For the current behaviour, the templates are fetched from the current working git directory.
This is okay if the issue or mr is being created for the project in the current working git directory.

It becomes an issue when the project path is overridden with the `-R | --repo` flag. In such cases, the templates are still fetched from `.gitlab` folder of the current working git directory. So literall

[2021-08-02 05:41] profclems commented on #734
@bcdady are you still able to work on the feature?

[2021-08-03 20:01] marckhouzam opened #800 "Enable completion descriptions for Powershell and allow to disable them for zsh"
**Description**

I notice that `powershell` completion does not provide descriptions although Cobra supports it.
Also, for `zsh` the `--no-desc` flag is not applied although it could.

**Expected Behavior vs Actual Behavior**

Currently:
[code]
while Cobra supports the following:
[code]

[2021-08-03 23:03] guyfedwards commented on #795
Another option for the flag could be `--fill-commit-body` if that is more explicit. In terms of the formatting I was thinking like your first example.

[code]

[2021-08-04 14:43] zemzale commented on #795
I actually prefer the more explicit `--fill-commit-body` flag. And the way how the body is filled looks good too.

[2021-08-04 18:00] carnei-ro opened #802 "[Question] How to add a MR Comment with line breakes?"
How do I create a MR Comment with line breakes? I tried to use `-m "foo\nbar"` but it does not work :disappointed:

[2021-08-04 18:03] #800 closed, assigned to nobody

[2021-08-04 18:07] carnei-ro commented on #802
using `<br/>` it works... but not inside a "code" block

[code]

[2021-08-05 06:59] huhuang03 opened #803 "set remote when `glab repo create` in a local git directory."
**Describe the feature or problem you'd like to solve**
I have a local repo. And want create a repo on gitlab.  Then I run `glab repo create xxx`, but I still need run `git remote add origin git@gitlab.com:xxx.git` manually.

Is better to audo to this for me?

[2021-08-05 10:52] paveljanda commented on #772
👍

[2021-08-06 07:44] gabm opened #806 "Set "Delete source branch" on MR creation"
We want to set the "delete source branch" checkbox per default but glab doesn't allow me to do that. Is there a possibiliy, e.g. via config?

[2021-08-06 08:06] profclems commented on #806
@gabm thanks for opening this issue. This is currently not possible to set via config, but you can create an alias for that using the `glab alias` command.

You can set the alias with:
[code]
and you can use it like:
[code]

[2021-08-06 08:26] gabm commented on #806
thats lovely! .. I didn't know about aliases but I am already convinced that they are very powerful... thank you for that!

[2021-08-06 08:26] #806 closed, assigned to nobody

[2021-08-10 01:32] profclems opened #809 "Avoid all questions from glab when running it in a script"
### Discussed in https://github.com/profclems/glab/discussions/805

<div type='discussions-op-text'>

<sup>Originally posted by **frodr1k** August  5, 2021</sup>
We are trying to incoperate "glab" into a powershell-script (on Windows). Most of it we've managed to figure out but there are some caveats left until we feel it's finnished.

We want to predefine wirth command line options or avoid quest

[2021-08-10 01:54] #734 closed, assigned to nobody

[2021-08-10 01:54] #809 closed, assigned to nobody

[2021-08-10 03:33] LitoMore opened #812 "Clickable terminal links"
**Describe the feature or problem you'd like to solve**

We could make `issue list` and `mr list` clickable.

**Propose a Solution**

[code]

- Click `!123` to go to the issue or merge request:
- Click `(links)` to go to the branch. Example: https://example.com/user/repo/-/tree/links

**Additional context**

- [Hyperlinks (a.k.a. HTML-like anchors) in terminal emulators](https://gist.github.com/eg

[2021-08-10 04:07] profclems commented on #812
@LitoMore thanks for the suggestion.
I haven't really thought about this but I am not really sure which terminals can auto detect these hyperlinks.

Also, I'm making sure that `glab` works well on all operating systems including Windows (obviously), and from the list of terminals provided, I don't see Windows-based terminals (Powershell, CMD)

[2021-08-10 04:12] LitoMore commented on #812
@profclems We can detect the terminal emulator supports hyperlinks or not.

FYI:

- https://github.com/jamestalmage/supports-hyperlinks
- https://github.com/sindresorhus/terminal-link

[2021-08-10 04:40] profclems commented on #812
Ah interesting. This will be a nice feature to add

[2021-08-10 06:04] LitoMore commented on #812
I'd like to help.

[2021-08-10 07:16] rsteube opened #814 "ssh-key/add: wrong use description"
**Description**
`Use` describes title as first positional argument, but this is actually passed as flag `--title`:
https://github.com/profclems/glab/blob/trunk/commands/ssh-key/add/add.go#L34

**Expected Behavior vs Actual Behavior**
`[key-file]` as first and only positional argument

[2021-08-10 07:20] rsteube opened #815 "ssh-key: manage different hosts"
**Description**
ssh keys cannot  be managed for different hosts

**Expected Behavior vs Actual Behavior**
can currently only manage for on host (`gitlab.com` in my case)

**Possible Fix**
add `--repo` flag to `ssh-key` command

[2021-08-10 11:53] rsteube commented on #815
or rather `--hostname` as in the `api` command

[2021-08-10 15:14] bjschafer opened #816 "glab: command not found on Docker image"
**Description**

When launching the latest Docker image with e.g. `docker run -it --rm profclems/glab:latest`, it returns `/entrypoint.sh: line 24: glab: command not found`

**Expected Behavior vs Actual Behavior**
I'd expect it to launch the `glab` executable.

**Possible Fix**
Seems like `glab` isn't in the default `$PATH`, because it's located at `/usr/glab`. Either move `glab` into `/usr/local

[2021-08-11 08:31] profclems commented on #816
@bjschafer thanks for opening this issue.

I guess I would have to do a new release asap.

Seems the docker image works for previous versions up to v1.18.1, I don't know why this is happening.

We run `apk add --allow-untrusted /tmp/glab_*.apk` in the dockerfile so I expect `apk` to find the right path for glab.

[2021-08-11 08:35] #384 closed, assigned to nobody

[2021-08-11 08:35] #791 closed, assigned to nobody

[2021-08-11 09:23] profclems commented on #816
I just found out that the new `goreleaser` update doesn't package nfpms in a /bin directory.

I have opened a PR with a fix. I will do a new release with this.

Thanks a lot @bjschafer

[2021-08-11 09:25] #816 closed, assigned to nobody

[2021-08-11 09:46] profclems commented on #816
Just released [v1.20.0](https://github.com/profclems/glab/releases/v1.20.0)

[2021-08-11 12:27] 1oglop1 opened #818 "MR update description with new commits --fill --yes"
Hi, thank you for the amazing CLI! It saves me a ton of time.

**Describe the feature or problem you'd like to solve**
At the moment it's possible to `glab mr create --fill --yes` which creates an MR with the description from commits when created.
However, the description goes out of date after adding additional commits.
It would be nice to have a feature that can update existing MR or at least li

[2021-08-13 13:35] #814 closed, assigned to nobody

[2021-08-13 16:29] brantb opened #821 "Using arrow keys for menu selection causes error"
**Description**
When making a selection from a menu, pressing any arrow key causes an error and the app quits.

Other keys (text, enter) seem to work as expected, with the exception of Home and End (which cause the same error)

[code]

**Your Environment**

* Version used: glab version 1.20.0 (2021-08-11), installed via `brew`
* Operating System and version: macOS 11.5.1

[2021-08-14 15:49] zemzale commented on #821
Thanks for reporting the issue @brantb

Sadly I can't reproduce the error either on macOS (tried both zsh, and bash) neither Linux (tried bash and zsh).

This seems to be an issue upstream https://github.com/AlecAivazis/survey/issues/341. Terminal escape codes are bit of magic to me that I don't full grasp, so maybe someone else can help with the workaround.

[2021-08-14 16:35] clwluvw opened #822 "Can't auth login in non interactive mode"
**Description**
When using `glab auth login --token TOKEN` it will raise `--stdin or --token required when not running interactively`

**Expected Behavior vs Actual Behavior**
Login to the server

**Steps to Reproduce**
`glab auth login` in non interactive mode

**Your Environment**
gitlab ci

[2021-08-16 04:41] #822 closed, assigned to nobody

[2021-08-17 06:14] asdf8601 opened #825 "FEAT: Change output fields printed out by issue ls"
**Describe the feature or problem you'd like to solve**

I'm a real fan of this tool, When I call to `issue ls` I realized that many times I only need certain fields from the output, like the issue id and the title (creation time is useless almost always and consumes precious space). Could be an interesting feature to let the users choose what fields they want.

**Propose a Solution**

I think tha

[2021-08-17 07:03] zemzale commented on #825
Thanks for the suggestion @mmngreco. This indeed could be a great addition to `glab`. I will mark this open for PRs.

[2021-08-17 13:54] bodqhrohro opened #826 "403 when trying to create an MR"
**Description**

**Expected Behavior vs Actual Behavior**
No 403, successfully created an MR.

**Possible Fix**

**Steps to Reproduce**

**Logs**

[code]

**Your Environment**

* Version used (Run `glab --version`): `glab version DEV` (installed from Nix as `glab-1.18.1`)
* Operating System and version: Debian 11

[2021-08-17 14:09] zemzale commented on #826
Hi @bodqhrohro. Have you authenticated against GitLab using `glab auth login`?

[2021-08-17 14:32] bodqhrohro commented on #826
AFAIR, yes; at least, there is an entry with user/token in config.yml.

I noticed though that there is !!null before the token; is it how it
should be?

[2021-08-17 16:18] profclems commented on #826
What's the output when you run `glab auth status`?

[2021-08-17 16:21] bodqhrohro commented on #826
[code]

[2021-08-23 06:02] #795 closed, assigned to nobody

[2021-08-23 06:12] profclems commented on #826
Mostly you get 403 error when

- MRs are disabled on the repository.

  When merge requests are disabled on a repository, GitLab only returns error 403 (unauthorised) so it's difficult to print out the right error message unless we query the projects api and check if merge requests are disabled (which is another issue to work on).
- Token does not have enough permissions to manage merge requests.

[2021-08-23 06:23] profclems commented on #825
[Go templates]: https://golang.org/pkg/text/template/

This is interesting!

We can make use of [Go templates][Go templates] but this would require that users be familiar with the [Go templates ][Go templates] format. I agree on the `--format` flag.

I suggest we try the templates (`--format` flag) first on the `glab api` command first before extending it to the other listing commands.

[2021-08-23 06:25] profclems commented on #825
Good reference to serve as a start point: https://github.com/docker/cli/blob/daf5f126ad698f34548c21f672450afa5754b7a2/cli/command/formatter/formatter.go

[2021-08-23 10:44] bodqhrohro commented on #826
Neither.

I found the source of the problem: `glab` tried to create the MR in the fork repository rather than in the parent repository.

It remembered the chosen repository once and does not ask me anymore. `gh` asks every time as a first stage what repository I want to create a PR/issue in, why doesn't `glab` do? I have to specify it explicitly via the `-R` key now, which is also not explicitly s

[2021-08-23 15:52] profclems commented on #826
`glab` saves the selected base repository in the local git config in the format `remote.<remote-name>.glab-resolved`.

You can unset it with:

[code]

After unsetting it, glab should prompt for the base repository when run or you can manually set it with:

[code]

NB: substitute `<remote-name>` for the name of the remote containing the base repo

[2021-08-23 16:00] profclems commented on #815
@rsteube thanks for reporting this issue. You're right, this was an oversight.

Are you available to open a quick PR for it? It is also open if anyone would like to open a PR for this fix.

We only need to add:

[code]

to https://github.com/profclems/glab/blob/trunk/commands/ssh-key/ssh-key.go.

This is the diff:

[code]

[2021-08-23 16:29] rsteube commented on #815
Isn't the shh-key configured rather per host than per repository?

[2021-08-23 17:37] brantb commented on #821
Yup, that looks like the exact same issue. I'm using PowerShell as well but tested in bash by launching `bash` **from** a PowerShell prompt, which is why you couldn't reproduce it. When I launch bash/zsh directly (from a separate iTerm2 profile) I don't hit the error either.

[2021-08-23 17:42] brantb commented on #821
I'll close this because it's covered pretty well by the issue you linked (and is fixed in the latest PowerShell 7.2 preview anyway), thanks for looking into this!

[2021-08-23 17:42] #821 closed, assigned to nobody

[2021-08-23 20:24] profclems commented on #815
Yeah you're right. I didn't get enough time to think through this.

Also, the `--repo` flag accepts full git ssh and http(s) URLs which will be parsed and the httpClient will be the instantiated for the hostname in the URL. So I'm not sure whether to just consider the `--repo` flag or introduce `--host | -h` flag to get just the hostname.

[2021-08-23 20:25] profclems commented on #815
GitLab does have project specific ssh-key which is called the "deploy keys" but has an API different from the SSH Keys API.
So maybe, to make sure the command is specific, we'll just introduce the `--host | -h` flag for the `ssh-key` command to get the hostname.

Then we introduce a new `glab deploy-key` command that makes use of `--repo` flag.

[2021-08-23 21:36] mboutet opened #828 "Format output as JSON"
**Describe the feature or problem you'd like to solve**
I'm trying to use glab in my CI, but the lack of easily parsable output makes it difficult to work with. Right now, I use regex to extract what I need, which is more complicated than it needs to be.

**Propose a Solution**
A flag such as `--output=json|yaml|...` or `--format=json|yaml|...`.

As an alternative, I could directly use the GitLab

[2021-08-23 23:20] profclems commented on #828
@mboutet thanks for opening this issue.

I have actually considered adding a global `--json` flag to most of the commands but I haven't had time to think about the implementation.

I will definitely add this to my backlog but it is open for PRs.

Before then, just to bring to your notice that `glab` has the `api` command that allows you to interact with the GitLab API directly and the output is js

[2021-08-25 12:42] TokyoQ opened #829 "Colons are unsupported in pipeline parameter values"
The current implementation tokenizes the input with a colon delimiter and drops everything after it, so you can't set a colon in either the key or value.

e.g.
[code]
sets START_TIME = 05 instead of 05:50pm

I'd suggest treating the first colon as the separator and taking everything following as the value.

[2021-08-25 16:45] #829 closed, assigned to nobody

[2021-08-25 16:46] #815 closed, assigned to nobody

[2021-08-25 23:10] bodqhrohro opened #831 "400 {message: {target_branch: [can't be blank, is invalid]}}"
**Description**
[code]

**Expected Behavior vs Actual Behavior**
Should work successfully, still something is missing.
It also does not seem to automate the fork-push-mr pipeline, unlike `gh`, so I had to issue `glab repo fork` and `git push -u origin set-profile` manually before.

**Possible Fix**

**Steps to Reproduce**

**Logs**

**Your Environment**

* Version used (Run `glab --version`): `gla

[2021-08-27 09:00] profclems commented on #826
@bodqhrohro, just to bring to your notice, you're running a much older version of glab btw

[2021-08-27 11:25] bodqhrohro commented on #826
Okay, upgraded to 1.20.0.

Still does not ask for the base repository until explicitly reset.

[2021-08-27 11:27] bodqhrohro commented on #831
Also still relevant on 1.20.0.

[2021-08-28 13:40] bodqhrohro opened #833 "`glab mr new -w` does not escape spaces"
**Description**
My default browser (LuaKit) treats a CLI argument with spaces as a search query rather than a URI.

**Expected Behavior vs Actual Behavior**
All symbols that are not allowed in a URI should be URI-encoded, though at least the spaces are preserved as-is.

**Possible Fix**

**Steps to Reproduce**

**Logs**
[code]

**Your Environment**

* Version used (Run `glab --version`): glab vers

[2021-08-31 10:50] #779 closed, assigned to nobody

[2021-08-31 10:51] #698 closed, assigned to nobody

[2021-09-04 11:35] Baccanno opened #834 "Auto completion not working in my windows shell"
**Description**
Auto completion does not seem to work on my git bash or Powershell. For instance other commands such as `git` have it in git bash.

**Expected Behavior vs Actual Behavior**
`glab <tab>` should list commands, it does cycle through current folder files instead

**Possible Fix**
Configuration issue ? I tried Powershell and Git bash none work.

**Your Environment**
* glab version 1.20.

[2021-09-04 12:06] Baccanno commented on #834
I manually added the line `eval "$(glab completion -s bash)"` from
https://github.com/profclems/glab/blob/5ef63d84303aa127b8fd0857a09011e199a0aa7f/commands/completion/completion.go#L27` in my bash profile, an I'm all set.

Thanks for the amazing tool

[2021-09-04 12:06] #834 closed, assigned to nobody

[2021-09-04 19:25] TheSimpleZ opened #835 "404 error when creating release"
**Description**

Running `glab release create test` in a fresh repo gives the below error:
[code]

The repo is public, and `glab auth status` shows all green checkmarks.

I would expect the above to work.

**Steps to Reproduce**
1.  Create a fresh repo
2. Make a commit
3. Try to create a release

**Your Environment**

* Version used (Run `glab --version`):
glab version 1.20.0 (2021-08-11)

* Opera

[2021-09-05 10:43] vmohir commented on #792
I'm facing the same issue:

[code]

Also running `curl -X GET --header "PRIVATE-TOKEN: $(glab config get token -h git.mydomain.ir)" "https://git.mydomain.ir/api/v4/projects/Shared%2Configurations"` shows `{"message":"404 Project Not Found"}` which AFAIK is normal because it expects the project's id not it's name. Running `curl -X GET --header "PRIVATE-TOKEN: $(glab config get token -h git.mydomain

[2021-09-06 10:15] profclems commented on #835
@TheSimpleZ thanks for reporting this issue.

The GitLab GET Release endpoint returns 403 when the release does not exist. I think that has been fixed in the recent GitLab releases.

I will submit a fix asap.

[2021-09-10 12:44] #835 closed, assigned to nobody

[2021-09-10 12:46] profclems commented on #812
@LitoMore you're free to open a PR for this. Thanks

[2021-09-12 09:57] jalbstmeijer opened #838 "password is too short return results in error"
**Description**
While trying to create a user, I get

json: cannot unmarshal object into Go struct field .Message of type string

the API result was;

{"message":{"password":["is too short (minimum is 8 characters)"]}}

**Expected Behavior vs Actual Behavior**

The api error should have been passed.

**Steps to Reproduce**

try to create a user with a short password

1. Run this 'glab api users --

[2021-09-14 08:42] mkjmdski opened #839 "reading CI variable from CLI"
**Describe the feature or problem you'd like to solve**
It would be great if `glab` cli could read CI/CD variable same way as it is set

**Propose a Solution**
`glab variable get <VAR_NAME>` would read variable content

**Additional context**
https://docs.gitlab.com/ee/api/project_level_variables.html API allows to do that

[2021-09-14 08:43] mkjmdski commented on #671
@olearycrew have you managed to deliver some PoC for that ?

[2021-09-15 09:07] tommyalatalo opened #840 "Allow showing group level issue boards"
**Describe the feature or problem you'd like to solve**
My team has its issue board not on a specific repo, but on a group above the repos, currently it seems that glab doesn't allow selecting issue boards on groups, only on repos, so I can't display our issue board.

**Propose a Solution**
Find issue boards from all parent groups for the repo that is the currently open folder in the terminal, and

[2021-09-16 06:43] zemzale commented on #840
Thanks for the issue @tommyalatalo

This really is a thing that we are missing. It's mainly because the group and project boards have different APIs.
This shouldn't be that hard to implement, since it's just calling two APIs and merging their responses together. I am marking this as open to MRs if anyone wants to work on this.

[2021-09-17 08:54] gautaz opened #841 "Display a warning that the behavior is degraded with no access token"
**Describe the feature or problem you'd like to solve**

Hello,

With an access token, the following issue search is behaving correctly:

[code]

Without an access token, the filtering seems to fail without any warning:

[code]
**Propose a Solution**

I understand the need for a way to access the whole GitLab API to operate such a search but what is bothering me is that the user has no clue why th

[2021-09-17 10:19] profclems commented on #839
I decided to work on this but I couldn't agree on a better implementation. I don't know if it's a good idea to display the CI variables values in the terminal, especially for masked and/or protected variables

[2021-09-17 10:30] profclems commented on #839
In the meantime, you can create your own command using the `api` and `alias` commands.

This is what I use:
[code]

So I just do:
[code]

[2021-09-17 21:16] mkjmdski commented on #839
That's a lovely solution! Thank you, do you think it might make sense adding instructions on how to prepare that solution to the help section of `glab variables`? Or to some other part of `glab` help sections, kind of the same way that using GraphQL is described inside `glab api`?

[2021-09-17 21:58] profclems commented on #839
Yeah makes sense. Thanks for bringing that up!

We need to add it to the help section of the `glab api` command. Most people don't know they can actually create their own commands with the `api` and `alias` command.

[2021-09-20 14:23] underted opened #842 "Support user certificates"
**Describe the feature or problem you'd like to solve**
Allow users to set user certificates. Our enterprise Gitlab requires internally created user certificates for access to webui and api.

**Propose a Solution**
Provide additional configuration items to allow setting of user key and cert

[2021-09-21 19:01] addshore opened #843 "Refactor to enable packaging glab inside another golang CLI tool (overriding config location)"
**Describe the feature or problem you'd like to solve**

I would like to incorporate a `gitlab` sub command into a CLI I am developing for MediaWiki / Wikimedia developers.
This would work as part of an already released binary, and be automatically configured to point to the Wikimedia Gitlab instance

**Propose a Solution**

Refactor `glinstance` and or Factory to allow overriding the location of

[2021-09-22 20:52] neiesc opened #844 "Add to chocolatey"
https://chocolatey.org/

[2021-09-22 21:25] profclems commented on #844
Hi @neiesc, thanks for bringing this up! I remember I wanted to work on this sometime ago but I couldn't find time to look into this.
I could use some help if anyone would like to work on it.

[2021-09-22 21:37] profclems commented on #843
Hi @addshore, I didn't really expect a use case like this for `glab`. With this, you need access to the internal packages like `glinstance` and `config`.

For instance, to override the default host, you need to use the `glinstance.OverrideDefaultProtocol(host)` which is in the [internal/glinstance](https://github.com/profclems/glab/blob/c608850edb768d2a9be2d98874440a3643a32a42/internal/glinstance)

[2021-09-22 23:45] neiesc commented on #844
I'll check

[2021-09-23 08:27] profclems commented on #825
This is a feature I would to have in `glab`. Moving it to our backlog

[2021-09-23 11:29] profclems commented on #844
Thanks @neiesc

[2021-09-24 16:30] addshore commented on #843
Great!
I'll try and have a go moving these things around!

[2021-09-24 17:38] addshore commented on #843
Ahh right there is per host config already it seems?

[code]

So I could leave the configuration location etc totally untouched? just changing the default host probably?

[2021-09-26 00:10] profclems commented on #843
Yeah you only need to change the default host and leave the config untouched.
`glab` already supports per-host config

[2021-09-26 08:52] tommyalatalo commented on #840
I started working on this myself, will create a merge request when it's getting closer to finished.

[2021-09-27 00:47] #843 closed, assigned to nobody

[2021-09-28 08:17] jakub-valenta opened #846 "Debian package 1.21.0 installs binary to /usr/bin/bin/glab"
I have downloaded and installed glab from deb package glab_1.21.0_Linux_x86_64.deb on debian bullseye and it installed executable to /usr/bin/bin/glab instead of to /usr/bin/glab. This prevents using the program because on most systems /usr/bin/bin is not in the path.

Please change path to /usr/bin/glab.

[2021-09-28 08:27] Nardol opened #847 "Debian package: glab is inn /usr/bin/bin instead of /usr/bin"
**Description**
I've just installed Glab 1.21.0 Debian package and noticed glab command has disappeared.
Looking in the deb file itself and checking on my system, I found glab is placed in /usr/bin/bin so not in the PATH

**Expected Behavior vs Actual Behavior**
* Expected behavior: glab should be in /usr/bin to be usable using glab instead of /usr/bin/bin/glab
* Actual behavior: to use glab I had

[2021-09-28 11:28] #847 closed, assigned to nobody

[2021-09-28 11:40] profclems commented on #846
Thanks for reporting this issue @jakub-valenta. This has been fixed now. I just release v1.21.1

[2021-09-28 11:40] #846 closed, assigned to nobody

[2021-10-03 11:02] #803 closed, assigned to nobody

[2021-10-03 12:51] hoelzro commented on #812
I started on an implementation for this: #852

I took a quick look at some of the support detection - it seems that those packages are mostly a matter of detecting specific environment variables/CLI flags, plus detecting certain terminals known to support the hyperlink escape sequence.  Personally, I think that `glab` would be best served by an explicit `--links` flag that can take the values `nev

[2021-10-03 14:18] LitoMore commented on #812
That's too much.

Things like `--links` may cause people who don't know this command to trigger some errors that they didn't expect.

Just detect it like [supports-hyperlinks](https://github.com/jamestalmage/supports-hyperlinks) does and add some fallback logic like [terminal-link](https://github.com/sindresorhus/terminal-link) does (display the text only).

For product features, we could take a s

[2021-10-03 16:22] hoelzro commented on #812
I'm not sure I follow - what kind of errors do you think users would run into with a flag like `--links`?

Ok, sounds good to me!

[2021-10-04 09:05] profclems commented on #812
It would be best to have it in our [config](https://github.com/profclems/glab/blob/3d9f97c28ee86721b2f1e6ae009b791945e42261/internal/config/config_type.go#L157), with `auto` being the default option, Maybe we can go with `display_hyperlinks`??

[2021-10-04 12:16] junderhill opened #858 "`pipeline view` showing incorrect triggered timestamp"
**Description**

When using `glab pipeline ci view` the timestamp within the header is using the commit timestamp and not the pipeline triggered time.

**Expected Behavior vs Actual Behavior**

Shows the commit time not the pipeline triggered time.

**Possible Fix**

The linked code below is using the commit timestamp.
[https://github.com/profclems/glab/blob/3d9f97c28ee86721b2f1e6ae009b791945e4226

[2021-10-04 12:17] junderhill commented on #858
Will be creating pull request for this fix shortly.

[2021-10-04 14:46] hoelzro commented on #812
I like the idea of having it in the config!

I think maybe it should default to `never`, at least for the time being - we don't know how detecting a false positive and emiting the escape sequence may affect terminals that don't support it.  For example, my terminal (urxvt) doesn't support the hyperlinks OSC out of the box, and while it seems to just ignore it, I don't know if we can guarantee that

[2021-10-04 14:53] hoelzro opened #860 "Idea: CLI flag to trace a given job by name"
**Describe the feature or problem you'd like to solve**
I'd like the ability to specify a pipeline job to trace via the CLI, as an alternative to being prompted interactively.  Let's say I have a job `tests` to run my code's tests, a job `lint` to run `golang-cilint`, and a job `deploy` to deploy my code.  I'd like to be able to automatically trace the `deploy` job after a push to see whether or n

[2021-10-04 15:59] szemek commented on #802
@carnei-ro as I checked you have at least 2 options here

1) Type all the line breaks straight in your shell/terminal

[code]

Your shell might show you `>`, `dquote>` or anything else that double quotes are not closed.

2) Don't provide `-m` option.
When you run `glab mr comment 123` it will open a text file where you can type your note/comment.

https://github.com/profclems/glab/blob/3d9f97c28ee

[2021-10-06 06:51] profclems commented on #858
Hi @junderhill, thanks for opening this issue!

Yeah you're right, instead of using the `opts.Commit.AuthoredDate`, we should use `opts.Commit.LastPipeline.CreatedAt`

[2021-10-06 11:21] #858 closed, assigned to nobody

[2021-10-06 16:49] hoelzro commented on #812
I'm beginning to think that this might be the best way to enable this feature, at least for the time being:

  * If `FORCE_HYPERLINKS` is present and not `"0"`, display hyperlinks
  * If `display_hyperlinks` is set to `true` in the configuration file and we're outputting to a TTY, display hyperlinks
  * Otherwise, don't display hyperlinks

Does anyone have any thoughts on this?  We can always iter

[2021-10-07 10:43] TheArchDev opened #866 "Include awesome-go badge in README"
**Describe the feature or problem you'd like to solve**

I would like to bring visibility to the fact the glab repo is now listed in the https://github.com/avelino/awesome-go project.

**Propose a Solution**

The awesome-go repo provides a dedicated badge listed repos can include.
https://github.com/avelino/awesome-go/blob/master/CONTRIBUTING.md#congrats-your-project-got-accepted---what-now

**Add

[2021-10-07 11:08] #866 closed, assigned to nobody

[2021-10-07 13:54] hoelzro commented on #812
I just pushed my lasted work to my fork - the only outstanding things are docs and a failing test.  The failing test is for `tableprinter` - I had to fix up `text.Truncate` to handle the hyperlink OSC, and my implementation prints "1 ..." instead of "1 h..." for the tableprinter test.  My implementation _is_ truncating the text to the desired five characters, but I can see the rationale behind wan

[2021-10-07 16:28] profclems commented on #812
I agree with these options, although it's been a hard decision. But since we can guarantee hyperlink OSC detection, we would have to go with these options.

[2021-10-07 17:23] #702 closed, assigned to nobody

[2021-10-08 17:30] kartikay101 commented on #833
This sounds like a simple fix.
Is this still a valid issue ? I see a `stale` tag by the bot

[2021-10-08 17:34] kartikay101 commented on #842
I would like to work on this one.

Have a few questions :
1. Is there a specific structure to import certificates that is already in place ?

2. How does the user action look like when importing/using a user certificate ?

3. A bit new to this code base. Any help in where to begin/what to look for would be nice

[2021-10-09 17:01] hoelzro commented on #631
I looked into this a bit - I tried using the [Validate a CI YAML configuration with a namespace](https://docs.gitlab.com/ee/api/lint.html#validate-a-ci-yaml-configuration-with-a-namespace) API, which _seems_ to work, but it has an issue where includes are resolved from the project's default branch, and you don't seem to be able to override that :frowning_face:

[2021-10-12 02:22] darix opened #872 "Support for snippets"
creating/listing/deleting would be nice

and for creating something like `somecommand | glab snippet new -` would be nice.

[2021-10-12 08:38] Spreadcat opened #873 "mr note: variable being interpreted in note text"
**Description**

When trying to add a note to an existing MR, using Markdown syntax to mark code text resulted in the marked text

- being ommited from the note
- being interpreted otherwise.

**Expected Behavior vs Actual Behavior**
Actual behavior:

[code]

The note in the GUI contained

---

Expected behavior:
[code]

The note in the GUI contains

**Possible Fix**

My (wild) guess it that the i

[2021-10-12 10:45] Spreadcat opened #874 "issue create: weight parameter not correct in GUI"
**Description**

When creating a new issue and supplying the weight parameter `-w`, the value is not being taken correctly into the GUI for further adjustment. This leads at the end to the parameter not being set at all.

**Expected Behavior vs Actual Behavior**

Actual Behavior:

[code]
ends up with a priority of 0/empty when using "Continue in browser" during issue creation.

Expected Behavior:

[2021-10-12 20:45] Kamori opened #875 "Feature Request to setup push/pull mirrors"
**Create Gitlab Push/Pull Mirrors**

I have a need to recreate a lot of repositories with pull mirroring. This tool has all the other pieces I need except this one feature.

**Propose a Solution**

Using `glab repo mirror --direction=pull --src="ssh://git@gitlab.example.com:2222/namespace/project.git" --auth=ssh --allow-divergence --protected-branches-only my-new-namespace/my-new-project-name`

I

[2021-10-12 23:16] profclems commented on #874
@Spreadcat thanks for reporting this issue.

So the possible fix now is to remove the extra `%s` from this line https://github.com/profclems/glab/blob/f127d7e62540684d0ba422247fe4d1a03ecfc803/commands/issue/create/issue_create.go#L405

[2021-10-12 23:19] profclems commented on #873
This is an expected behaviour in bash. It happens with `git` as well. In bash, strings wrapped with backticks are interpreted as commands.

You have to escape it with `\`:

[code]

[2021-10-12 23:26] #833 closed, assigned to nobody

[2021-10-12 23:54] profclems commented on #875
@Kamori thanks for opening this issue and proposing a solution. This feature will be useful to a lot of people.

This is open in case anyone would like to work on this.

## Acceptance Criteria
### Command
[code]
### Flags
flag | Datatype | Default | Required  | Description
-- | -- | -- | -- | --
--url | string |  | yes | The target URL to which the repository is mirrored.
--direction | pull, push

[2021-10-13 02:20] dsychin commented on #792
I am facing the same issue.

[code]

[2021-10-13 02:24] dsychin commented on #792
I found a workaround that worked for me. Adding the https url as a remote fixed it.

[code]

[2021-10-13 09:37] Spreadcat commented on #873
Yes, I see. I forgot about bash variable interpolation for a second and were not paying attention to that I used double quotes here.

Both these solutions work as expected:

[code]

Closing, since this isn't a bug - just me being stupid

[2021-10-13 09:37] #873 closed, assigned to nobody

[2021-10-13 11:04] larsuhartmann opened #877 "Can't get glab to work in repo"
**Description**
I started to experiment around with glab, but somehow i can't get past the repo clone:

[code]

am i doing something wronge? I searched the whole documentation but could not find a hint about what to do here!

[2021-10-13 12:46] profclems commented on #877
Looks like the remote was not automatically added by glab. What is the output of `git remote -v`?

[2021-10-13 12:52] #874 closed, assigned to nobody

[2021-10-14 16:15] Spreadcat opened #878 "mr for $x - unable to assign user"
**Description**

When creating a MR for an existing issue and assigning a user to the MR, the user-assignment is not setup for the MR. The assignment field is empty and the MR unassigned.

**Expected Behavior vs Actual Behavior**

**Expected**:

- The MR being created for an issue should have the user assigned when using the parameter `-a`.

**Actual**:

The user given in the parameter `-a` is not

[2021-10-14 16:50] larsuhartmann commented on #877
Hi @profclems thanks for the reply! I am trying to reproduce the error right now, but now i run into another problem: glab started to ask me for a username and password when i run `glab repo clone`..

[2021-10-15 08:26] Gaibhne opened #879 "Provide information on how to use with a typical self hosted GitLab"
**Describe the feature or problem you'd like to solve**
I've only spent half an hour researching, but I could not figure out how to get GLab to work with our not all that non-standard GL CE instance. Scattered through some issues were comments about how to adjust a config to support either a custom port or plain HTTP, but none of the resources I found gave me enough to fight my way through `glab a

[2021-10-16 14:47] NikhilMJagtap commented on #875
If the --direction is pull by default, we should not keep it required. Also, may I work on this issue?

[2021-10-16 17:55] NikhilMJagtap commented on #875
@profclems
1. `--url` is the URL of the project we need to mirror right?
2. API documentations say that we need a project ID in the mirror calls. How can I get the project ID?
I am relatively new to this repository. Can you help me a bit to understand what is to be done? So far I have added `mirror` command with correct flags and have gone through API docs.

[2021-10-17 12:41] Yogi262001 commented on #875
I need track live Mobile locate tell me that process friend

[2021-10-17 12:41] Yogi262001 commented on #875
Need any tracking location number

[2021-10-19 07:18] bradym opened #880 "Setting a variable only works when using --value flag"
**Description**
The help output for `glab variable set` show that you can either provide two arguments with the first being the key and the second being the value, or you can provide the key name as an argument and use the `--value/-v` flag to specify the value. However, if you don't provide the `--value` flag, the variable is created but the value is empty.

**Expected Behavior vs Actual Behavior

[2021-10-19 15:26] AcevedoR opened #882 "Better error message when creating MR with bad CLI parameters"
**Describe the feature or problem you'd like to solve**
Hello,
when creating a MR with bad parameters, the error message is not clear enough,
as a new user it did not help me to find the issue, especially since I had multiple other arguments

**Propose a Solution**
- display the name of the failing argument, eg: `squash-before-merge accepts 0 arg(s), received 1`

**Additional context**
Failing com

[2021-10-19 19:32] #880 closed, assigned to nobody

[2021-10-20 17:25] Kamori commented on #875
While there are a lot of settings that can still be configured via the API. It looks like at this time the Gitlab api will not allow you to create mirrors using SSH Public Key authentication. However, it can be done in the ui :(

https://gitlab.com/gitlab-org/gitlab/-/issues/334092

The general outline for this feature I do not think would be blocked though.
More API details: https://docs.gitlab.c

[2021-10-20 18:10] NikhilMJagtap commented on #875
@Kamori
The `--url` flag is to be sent in the API call right? Sorry I am new to this repo. I understood the API contract and able to do it via curl. Just need help to do it using apiClient in this repo.

[2021-10-20 18:38] Kamori commented on #875
Correct. While I'm not a contributor to this project, the gitlab expect you to do the following.

[code]

This is a little over simplified, but hopefully it answers what you're looking for.

[2021-10-20 19:17] NikhilMJagtap commented on #875
@Kamori Got it. Thank you.
I think the command should look like this then
[code]

Let me know if this makes sense.
This will add `project1` as pull mirror in `your_repo_name`. Any changes in `project1` will be seen in `your_repo_name`.

[2021-10-20 21:05] NikhilMJagtap commented on #875
@Kamori  @profclems
Update:
I was able to create the PUSH mirrors. For PULL mirrors, the functionality does not exist in `go-gitlab` so I think I will have to write this part separately.

[2021-10-24 06:05] profclems commented on #875
@NikhilMJagtap, you can enable pull mirroring using the Edit Project API https://docs.gitlab.com/ee/api/projects.html#edit-project which should be available in `go-gitlab`.

Also, I have been thinking if we should consider `mirror` as a major command on its own, and add `push` and `pull` as subcommands under it.

So we would end up with:
[code]
and
[code]
With this, we can add other subcommands li

[2021-10-24 06:31] profclems commented on #879
@Gaibhne thanks for opening this issue.

`glab` supports self-hosted instances.

Your second attempt (`glab auth login --hostname 1.2.3.4:10080`) should work fine but the resulting error seems to be a proxy issue:

Are you using a proxy? If you're, this problem might be with the proxy, which is probably causing some certificate issues. Try without proxy to see if it works fine.

[2021-10-24 06:56] NikhilMJagtap commented on #875
In my opinion, mirror as subcommand of repo gives better structure. Adding push and pull subcommands to mirror is better.

[code]

[2021-10-24 07:56] profclems commented on #875
I am trying to avoid many nested commands in `glab`.

`glab` is maintaining this standard: `glab <noun> <verb> [Flags]`

[2021-10-24 08:12] Vonfry opened #888 "Download artifacts"
**Describe the feature or problem you'd like to solve**

Now, ci and pipeline are supported to check status and log. Sometimes, a job may produce some artifacts. Can it be downloaded by this tool?

Simply, glab can generate a url from [get job artifacts](https://docs.gitlab.com/ee/api/job_artifacts.html) and pass it to curl.

[2021-10-24 14:49] Gaibhne commented on #879
Sorry, using no proxy and no certificates should be involved in `http` requests.

[2021-10-26 05:22] bradym opened #889 "Feature: delete ci variables"
**Describe the feature or problem you'd like to solve**
The gitlab API allows for deleting CI variables, but this has not yet been implemented in glab.

**Propose a Solution**
Add a `delete` command to the `variable` group that can delete both project and group variables. It should follow the patterns established in the `set` command.

Example commands:

[code]

[2021-10-26 07:22] profclems commented on #879
During authentication, you selected `https` instead of `http` for the `api_protocol` so the request was served via `https`.

Run:

[code]
Select `http` for `api_protocol` when prompted

[2021-10-26 10:26] freswa opened #891 "Feature: Show approvals in `glab mr list`"
At least for the paid customers, gitlab shows how many approvals are left until the MR is marked as "approved".
This would be handy to have in the mr list of glab too.

[2021-10-26 10:54] Gaibhne commented on #879
[code]

You mentioned that I should answer `http` when prompted for the `api_protocol`, but that doesn't happen. I get prompted for git protocol, which I tried answering `http` to (but would prefer to leave at `ssh`), but api protocol gets configured to `https` without my input. There is no prompt for api protocol.

[2021-10-26 11:03] profclems commented on #879
You should be able to leave the git protocol at `ssh`. You can set the `api_protocol` manually with:

[code]

[2021-10-26 11:49] Gaibhne commented on #879
Also doesn't work. Same problem:

[code]

[2021-10-26 12:21] profclems commented on #879
What I meant was that, instead of using `glab auth login` you can login manually by setting the config values with the `config` command.

1. Add token
[code]
2. Set `api_protocol`
[code]
3. Set Git Protocol
[code]

4. Check authentication status
[code]

Let me know if this works

[2021-10-26 12:58] Gaibhne commented on #879
That worked, but it doesn't seem to detect an auth added like that when I try to use it from a repository, possibly also due to the non-standard (but standard for self hosted) port:

[code]

[2021-10-26 13:20] profclems commented on #879
Is the api host the same for the git host? It looks like you have git and the api serving on different ports: 10022 and 10080??

If that's the case, then the main host (--hostname) should be the git host. Your host config should look like this:

[code]

[2021-10-26 14:11] Gaibhne commented on #879
Right, ssh typically serves on port 22, and http/s on port 80; with custom GitLabs, that is typically 10000+port, so 10022 and 10080. Adjusting my config as per your post did not change the outcome:

[code]

[2021-10-27 00:15] forivall opened #892 "Respect `~/.config/glab-cli/aliases.yml` symlink"
**Description**
When `~/.config/glab-cli/aliases.yml` is a symlink, `glab alias set/delete` should write to the linked file instead of destroying the symlink. My ~/.gitconfig is symlinked to my dotfiles repo, and i do the same with many of my configs. Git updates the linked file when using its config commands.

**Expected Behavior vs Actual Behavior**
Expected: The linked file should be updated.
A

[2021-10-27 09:41] #812 closed, assigned to nobody

[2021-10-28 15:33] underted commented on #842
@kartikay101 Though I'm not a real developer, I think this isn't a difficult task.

1. Golang's crypto/tls, crypto/x509, and net/http libraries already support setting user certs
2. User should specify key, cert, and ca cert which are then set in the glab config file. Nothing needs to get "imported".
3. Quick google search found [this](https://gist.github.com/michaljemala/d6f4e01c4834bf47a9c4). Pr

[2021-10-30 12:06] tommyalatalo commented on #840
Opened the PR for this above, this issue should not be marked stale.

[2021-11-03 15:33] ktdreyer opened #896 ""glab repo fork" creates fork remote as https, not ssh"
**Description**
`glab repo fork` adds my fork with the `https` protocol, rather than the `ssh` protocol, even though I've configured `glab` to use "ssh" in the initial setup.

**Steps to Reproduce**
1.  Create a fresh clone on my computer:
[code]
2. Use `glab` to fork and add my fork as a remote:
[code]
3. Look at the new remote URLs with `git remote -v`

**Actual Results**
The fork remote uses `h

[2021-11-03 15:43] ktdreyer opened #897 ""glab repo fork" should simply add remote if fork already exists"
**Describe the feature or problem you'd like to solve**
When I fork a repo with the web UI, or on another computer, I want to quickly add that remote on other computers or clones of the same repo.

Currently if I run `glab repo fork` in a newly cloned repo that's already forked server-side, I get:

[code]

**Propose a Solution**
It would be great if `glab repo fork` simply adds the already-forked

[2021-11-03 16:26] #889 closed, assigned to nobody

[2021-11-03 16:39] profclems commented on #897
Hi @ktdreyer, thanks for opening this issue. I will take a look at it.

It is also open for anyone who would like to take this up

[2021-11-04 00:13] bradym opened #899 "Feature: Update existing variables"
**Describe the feature or problem you'd like to solve**
 The gitlab API allows for updating existing CI variables, but this has not yet been implemented in glab.

**Propose a Solution**
Given how similar the set and update api endpoints are, I think it would make sense to add an update flag to the `set` command that would call new `UpdateGroupVariable` or `UpdateProjectVariable` functions.

Then y

[2021-11-04 13:57] #701 closed, assigned to nobody

[2021-11-04 13:57] #736 closed, assigned to nobody

[2021-11-04 13:57] #878 closed, assigned to nobody

[2021-11-05 18:11] geraldcombs opened #901 "Feature request: Add a "commit" subcommand"
**Describe the feature or problem you'd like to solve**

I sometimes need to find the MR that created a particular commit. I do this now via the search bar in GitLab's web UI.

**Propose a Solution**

Add a "commit" subcommand which would let me run something like `glab commit view 0a1b2c3d` to see GitLab-specific information about a commit, including its corresponding MR.

**Additional context**

[2021-11-06 05:11] bradym commented on #899
As mentioned on #902 I decided to implement as a new command instead as it was both easier and more consistent with other commands.

[2021-11-10 16:29] pdl opened #903 "Feature: Implement `issue --assignee @nobody`"
**Describe the feature or problem you'd like to solve**
As a developer, I would like to find issues which are not assigned to anyone so that I can pick up new issues

**Propose a Solution**
`glab issue --assignee @nobody` should find issues with no assignee, by analogy with https://github.com/profclems/glab/issues/483

**Additional context**
I have tried `--not-assignee somebody --not-assignee som

[2021-11-16 21:30] agentydragon opened #904 "`glab mr create` should respect default "remove source branch" value of repo"
**Description**
When I create a MR with `glab mr merge`, the "remove source branch" does not get checked, despite me having that as a default.

**Steps to Reproduce**
1. Set "remove source branch" as default in repo settings:
![image](https://user-images.githubusercontent.com/714892/142066430-7d5a460f-d7ef-43ea-8bf5-c9bf97af031c.png)
2. Create a MR with `glab mr create --fill`.

**Expected Behavio

[2021-11-17 15:28] kayman-mk opened #905 "Add option to set the reviewer for a merge request"
**Describe the feature or problem you'd like to solve**
`glab mr new` and `glab mr update` do not have the option to set the reviewer which was introduced on [Gitlab side a few releases ago](https://about.gitlab.com/releases/2020/12/22/gitlab-13-7-released/).

As we are using the feature heavily it would be nice to be able to set the reviewer on the command line.

**Propose a Solution**
Add `--rev

[2021-11-18 14:30] profclems commented on #905
Hi @kayman-mk, `glab mr create` and `glab mr update` commands already have the `reviewer` flag.

Which version of `glab` are you using?

[2021-11-18 18:11] kayman-mk commented on #905
That's great! I downloaded the latest version from Github. It could be a documentation issue as it is not mentioned in the [docs](https://glab.readthedocs.io/en/latest/mr/create.html)

[2021-11-21 23:38] jpeedroza commented on #888
Hi @Vonfry, insted using glab to generate a url, i think it's better if it can "download" them. I'm currently doing this command, but I can't assign it. I just have a question about it, if it's necessary to have 2 different commands to download the files because the gitlab api has 2 endpoints to download the artifacts, choosing if i want to download only one file or all the artifact and they have

[2021-11-22 00:36] Vonfry commented on #888
The api for only one file seems to be designed for releases or tags because its arguments replace job_id with tag or release name. Therefore, it is better to be a part of release instead of artifact. By the way, I never use this feature.

[2021-11-22 08:09] W1M0R opened #908 "Specify configuration directory location via environment variable GLAB_CONFIG_DIR"
**Describe the feature or problem you'd like to solve**
When projects use the [12-Factor App](https://12factor.net/config) methodology, they expect to be able to configure tools using environment variables. When multiple projects require a different glab configuration, they currently have to implement their own strategy to swap out the relevant configuration files.

**Propose a Solution**
Add supp

[2021-11-22 09:02] kayman-mk opened #909 "feat: List all merge requests assigned for review for a Gitlab group (and all subgroups)"
**Describe the feature or problem you'd like to solve**
I didn't find the option to list all merge requests assigned to me for review. `glab mr list --reviewer=@me` works on current repository only. I have 70 projects organized by groups so it would be nice to run a `glab mr list --reviewer=@me -R my-group` to show all merge requests I have to review.

**Propose a Solution**
I am not an expert, bu

[2021-11-24 09:18] balupton opened #911 "bug: `glab auth status` failure does not return failure exit code"
**Description**
[code]

**Expected Behavior vs Actual Behavior**
Should return a failure exit code, such as `1`

**Possible Fix**

**Steps to Reproduce**
See description.

**Logs**

**Your Environment**

* Version used (Run `glab --version`): `glab version 1.21.1 (2021-09-28)`
* Operating System and version: `Darwin redacted 21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:23 PDT 2021; root:x

[2021-11-24 17:54] Kamori commented on #875
Its not ready yet. But a gitlab contributor submitted a MR to start exposing the ssh options for mirroring.
https://gitlab.com/gitlab-org/gitlab/-/merge_requests/75155

[2021-11-25 13:37] awa5114 opened #913 "glab installation through winget does not add glab as recognized executable"
**Description**

When I installed `glab` using the `winget` instructions provided in the readme, I couldn't run `glab` from the command line because it is not recognized.

**Expected Behavior vs Actual Behavior**

I expect that the command line app is available immediately after install, but this is not the case.

**Steps to Reproduce**

I installed using the following:

`winget install --exact gl

[2021-11-25 14:23] awa5114 commented on #569
Excuse my ignorance, but why is this necessary? It seems redundant to generate a nested repo like this. Is this something that is only required by the CLI or also required by GitLab itself?

[2021-11-25 14:41] awa5114 opened #914 "Modify default branch of remote repo after creation"
The `--defaultBranch` parameter of `glab repo create`  allows for specification of the default branch upon project creation.

I would like to actually **modify** the default branch of my remote repo *after* creation. This is important, for example, if I accidentally push a fresh local repo with a branch name of `master`.

Is there a way to do this through the `glab` CLI?

[2021-11-26 08:46] Gaibhne commented on #879
If there is anything I can do to help, let me know, though the problem seems pretty straight forward.

[2021-11-26 10:39] Yogi262001 commented on #875
I need any mobile number tracking link then gave me frnds

On Wed, Nov 24, 2021, 23:24 Tyler Coil ***@***.***> wrote:

[2021-11-26 11:39] ghost opened #915 "platform-samples"
**Description**

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this '...'
2. View the output '....'
3. See error

**Logs**

**Your Environment**

* Version used (Run `glab --version`):
* Operating System and version:

[2021-11-26 11:40] ghost opened #916 "Feature request"
**Describe the feature or problem you'd like to solve**

**Propose a Solution**

**Additional context**

[2021-11-26 15:38] zemzale commented on #569
You might be misunderstanding something. The command `repo create` is for creating a new repo from an existing folder.

There is no nesting involved here.

[2021-11-26 15:40] zemzale commented on #914
There is not a way to do it right now. But this could be added by a new
`repo update` command.

On Thu, Nov 25, 2021, 16:41 Amine Aboufirass ***@***.***>
wrote:

[2021-11-26 15:45] #915 closed, assigned to nobody

[2021-11-26 15:45] #916 closed, assigned to nobody

[2021-11-27 09:33] ghost opened #917 "release commands"
**Describe the feature or problem you'd like to solve**

**Propose a Solution**

**Additional context**

[2021-11-27 09:33] #917 closed, assigned to nobody

[2021-11-27 09:34] ghost opened #918 "Friendlier recovery when issue"
**Describe the feature or problem you'd like to solve**

**Propose a Solution**

**Additional context**

[2021-11-27 09:34] #918 closed, assigned to nobody

[2021-11-27 09:35] ghost opened #919 "Better documentation website"
**Description**

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this '...'
2. View the output '....'
3. See error

**Logs**

**Your Environment**

* Version used (Run `glab --version`):
* Operating System and version:

[2021-11-27 09:36] #919 closed, assigned to nobody

[2021-11-27 09:36] ghost opened #920 "Download artifacts"
**Description**

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this '...'
2. View the output '....'
3. See error

**Logs**

**Your Environment**

* Version used (Run `glab --version`):
* Operating System and version:

[2021-11-27 09:37] ghost commented on #920
glab --version

[2021-11-28 01:29] patronn44 commented on #920
Alican alpul

[2021-11-28 01:30] patronn44 commented on #905
ALican ALpuL

[2021-11-28 08:16] #920 closed, assigned to nobody

[2021-11-29 02:41] Vendetta26 commented on #472
gh pr

[2021-11-30 07:12] glorinli commented on #905
Seems not included in latest release 1.21.1.

[2021-12-01 10:40] mkjmdski commented on #466
So is it possible to edit issue with editor locally? That would be very helpful issue

[2021-12-01 22:24] ahillio opened #922 "Does this work with gitlab.com "groups"?"
I have a gitlab group https://gitlab.com/lrn.software that I created from my personal account.  A few of the repositories in that group have issues in their issue queues.  But when I do `glab issue list` it reports:

`none of the git remotes configured for this repository points to a known GitLab host. Please use `glab auth login` to authenticate and configure a new host for glab`.

But I've alrea

[2021-12-01 23:24] reyjrar commented on #466
Seems a rather large omission to not allow the user to edit a new or existing MR description in their editor.

[2021-12-02 11:41] kayman-mk commented on #909
I found the following workaround:
[code]
Replace `GITLAB_TOP_GROUP` and ' MY_GITLAB_USERNAME` with appropriate values.

[2021-12-02 19:23] zemzale commented on #922
Hey @ahillio. Are you running the command inside one of the repositories of this group? Generally `glab` works with individual repositories, with some support from groups (milestones, labels, boards), but there is currently no support for listing all the issues inside a group.

That means that you can run `glab issue list` from a repository and it would list that repositories issues, but you can't

[2021-12-02 19:42] ahillio commented on #922
oh Thank you @zemzale!!!

Is that documented?  It might be a reasonable assumption to make that `glab` needs to be run from inside a repo but I didn't assume that myself.  I don't see anything in the README about it.

I can indeed see issues for my repos within this group.  And if there's a way to have the list print to the terminal than a simple shell script can loop through the groups repositori

[2021-12-02 19:56] ahillio commented on #922
This error message:

`none of the git remotes configured for this repository points to a known GitLab host. Please use glab auth login to authenticate and configure a new host for glab.`

was a little misleading.  It made me think that the problem was in regards to authentication and access control.  But the actual problem was that I wasn't in the directory of a repository.

[2021-12-02 19:57] ahillio commented on #922
Well, the first part of that message could have helped me, but the latter part confused me.

[2021-12-04 02:11] ahillio commented on #922
Getting lists of issues for all repos in group:

[code]

[2021-12-04 02:11] #922 closed, assigned to nobody

[2021-12-06 20:27] JohnVillalovos commented on #802
Is there a way to specify a file to use for the note text?

Basically would like to be able to use this in a script to post a table into a note.

[2021-12-07 02:19] bradym commented on #899
This was fixed in #902 which has been merged into trunk.

[2021-12-07 02:19] #899 closed, assigned to nobody

[2021-12-09 03:37] edgarrmondragon opened #923 "Ignore dotfiles when listing templates"
Files starting with a `.` in their name should be ignored when listing available templates for issues and MRs:

[code]

Possible code location: https://github.com/profclems/glab/blob/e866496799db83a5a5ef939ed78509f3775167c1/commands/cmdutils/cmdutils.go#L85-L88

[2021-12-10 11:34] BenasBud opened #924 "Unable to login using non interactive mode"
**Description**
When executing `glab auth login`  in non interactive mode always receive same error:
[code]
Already tried by passing `--token` and `--stdin`, same result.

**Expected Behavior vs Actual Behavior**

*Actual Behavior*
Executing command `glab auth login --token "XXXXXXXXX"` or `glab auth login --stdin < token.txt`  in non interactive mode receiving error:
[code]

*Expected Behavior*
E

[2021-12-10 13:05] twiglight commented on #924
Me and a colleague were playing around with glab to create an MR in our pipelines at work, and ran into the same issue. I digged around a bit and a fix for this has been made, but it hasn't been released in a version yet. You can circumvent this by using the `--stdin < token.txt` option which is (due to the bug) mandatory if you want to run the auth command non-interactively.

See issue #865

[2021-12-10 13:15] BenasBud commented on #924
Strange but this version should contain that fix (fix was available in [v1.21.0](https://github.com/profclems/glab/releases/tag/v1.21.0))

As well I tried using `--stdin < token.txt` same result.

[2021-12-10 13:47] BenasBud commented on #924
Using [1.20.0](https://github.com/profclems/glab/releases/tag/v1.20.0) image and @twiglight  suggested approach seems to work.

So I guess, I will use  [1.20.0](https://github.com/profclems/glab/releases/tag/v1.20.0)

[2021-12-11 11:02] lukqw commented on #913
+1

[2021-12-11 22:13] kayman-mk commented on #905
Guess it's a problem with the RST files in the docs/ directory? Am I right?

[2021-12-12 07:50] kayman-mk commented on #909
@profclems any idea how this could be solved?

[2021-12-12 09:55] kayman-mk commented on #905
@profclems Seems that there is a problem with creating the docs. Last time the pipeline ran was for 1.19.0. Could you please check this?

[2021-12-12 17:51] x3ro opened #925 "Add command for transferring repositories"
**Describe the feature or problem you'd like to solve**

Transferring repositories to a new namespace is cumbersome using the Gitlab UI, especially when it's not just a single one. As a result, it'd be nice if `glab` had the ability to automate this.

**Propose a Solution**

I've got a working prototype implemented [in this branch](https://github.com/profclems/glab/compare/trunk...x3ro:add-transfe

[2021-12-13 14:51] rsherman-blockhenge opened #926 "invalid token provided"
**Description**

I have generated a new gitlab personal access token

I used glab auth login to authenticate

[code]

auth status check reports that i have provided an invalid token

[code]

while in this state issuing glab commands on a repo returns the message

none of the git remotes configured for this repository points to a known GitLab host. Please use `glab auth login` to authenticate and c

[2021-12-14 16:18] banderlog opened #928 ""vim": executable file not found in $PATH"
**Description**

glab does not see vim, while vim is in path, and I am able to run it from the console

[code]

[code]

[code]

**Your Environment**

* Version used (Run `glab --version`): glab version 1.21.1-59-ge866496 (2021-12-02)
* Operating System and version: Ubuntu 20.04 LTS

[2021-12-15 05:39] zemzale commented on #925
This is a nice feature indeed @x3ro.

I looked at the branch and it looks pretty good. I might have to play with it a bit to see how it all works, but for the first iteration of the feature, this would be nice.

Feel free to open the PR and if there are some comments about we can talk about that there.

[2021-12-15 06:38] zemzale commented on #924
This is a weird issue. I can easily reproduce it with the provided commands.

When I override the entry point by providing `--entrypoint glab` everything works just fine.
When I build the image locally everything works just fine too which is the confusing part.

[2021-12-19 11:21] zemzale commented on #892
@forivall Thanks for reporting the issue. I actually run my dotfiles similar to you by symlinking them everywhere, but I hadn't done that for glab. I can reproduce it and will try to fix this in a MR right now

[2021-12-19 12:49] zemzale commented on #909
We can just add a flag `-g/--group` that we can use to list MRs for a group.

It would simply use the same API you have in your alias, instead of the project API. Will try to write up a PR right now.

[2021-12-20 12:23] rsherman-blockhenge commented on #926
looking into glab source i see that the token validity test is token = 20 characters.. where newly issued tokens appear to be 26 characters.. changing this value leads glab to report that my token is valid.. however the remote error still exists..

[2021-12-20 12:43] rsherman-blockhenge commented on #926
debugging further i see now that i created my own issue.. glab was not correctly resolving the repo host due to some ssh config redirection on my end.. i needed to log into glab using the redirected domain name..

[2021-12-20 17:44] #892 closed, assigned to nobody

[2021-12-22 02:59] Vonfry commented on #888
It is still important for me.

[2021-12-28 11:59] Gaibhne commented on #879
Like I said, if there is anything I can do to help, please let me know.

[2021-12-28 16:06] kayman-mk commented on #909
@zemzale Nice!

[2021-12-29 17:30] pedro-nonfree opened #934 "add estimate and spend commands for time tracking"
**Describe the feature or problem you'd like to solve**

add estimate and spend commands for [time tracking](https://docs.gitlab.com/ee/user/project/time_tracking.html)

**Propose a Solution**

proposing a syntax for modifying estimate and spend time for issue example `#123`

[code]

src https://glab.readthedocs.io/en/latest/issue/update.html

[code]

src https://glab.readthedocs.io/en/latest/issu

[2022-01-05 09:31] pataar opened #935 "Any chance in releasing a new version?"
Hey @profclems,

I'm waiting on certain functionality that hasn't shipped yet. Any chance in releasing a new version soon? Thanks!

[2022-01-06 20:54] cj13579 commented on #839
Rather than open a new issue, I wonder if I can ask a related question here: Is it possible to _set_ a variable for a pipeline via the same API/alias command combo (or via some other method entirely)? Its not obvious from the documentation on [running pipelines](https://glab.readthedocs.io/en/latest/pipeline/run.html) that setting pipeline variables is possible.

Thanks!

[2022-01-10 13:08] #909 closed

[2022-01-10 13:42] pataar commented on #935
Awesome, thanks!

[2022-01-10 13:42] #935 closed, assigned to nobody

[2022-01-10 19:53] bevel-zgates opened #939 "Allow triggering of `when:manual` CI jobs"
**Describe the feature or problem you'd like to solve**
I've got a workflow that requires a manual trigger prior to execution of a certain `.gitlab-ci.yml` function.

**Propose a Solution**
Would like to add this function to `glab ci view -> select job -> <enter>` or add a `trigger` something like `glab ci trigger`

[2022-01-13 06:00] kayman-mk commented on #905
Docs for `mr update` show the flag now, but it is still missing for `mr create`.

[2022-01-13 06:01] #905 closed

[2022-01-13 14:44] Hnasar opened #941 "Support for cloning more than 100 repos due to pagination"
I'm trying to clone all the 150 projects in my group, and I'm only able to clone the first 100 due to glab not supporting pagination in the repo command https://docs.gitlab.com/ee/api/#pagination (and due to the gitlab pagination not being configurable https://gitlab.com/gitlab-org/gitlab/-/issues/17329)

I'm adding an issue for visibility, but the code already has a TODO https://github.com/profcl

[2022-01-13 15:49] zemzale commented on #941
Thanks for the issue @Hnasar. This really is an easy fix so I just opened a PR for this. After that is merged it will be possible to set the page size and page number, for pagination control.

[2022-01-13 21:41] Hnasar commented on #941
Thank you for opening https://github.com/profclems/glab/pull/942 @zemzale !

[2022-01-14 11:27] banderlog commented on #928
bump

[2022-01-14 17:53] zemzale commented on #928
TBH I have no idea why this shouldn't work.

Just asking some sanity questions:
What is the value of `editor` in your `config.yaml` and the value of your `$EDITOR` environment variable?

[2022-01-15 20:43] josephlim75 commented on #570
Any progress on this feature ?  It is important to have `-y` or `--yes` or `--force` to by pass prompt if all required parameters are provided.  Is critical for non-interactive prompt in a CICD pipeline because everything should be automated.

[2022-01-16 09:52] banderlog commented on #928
[code]

I do not have it, should I? I run glab locally without containers.

[2022-01-17 05:55] zemzale commented on #928
Can you maybe try to supply the full path to vim when running glab?

[code]

Otherwise, I have no idea how that

It's the main configuration file that is used to configure everything in `glab` and has nothing to do with containers. You can find it at `.config/glab-cli/config.yaml` or just interact with it using `glab config` command.

[2022-01-18 11:55] banderlog commented on #928
I tried to install glab into venv, but I somehow managed to have glab in snap. And snap messed it all up.

And I think that installing glab into venv is meaningless, am I right?

[2022-01-18 11:55] #928 closed, assigned to nobody

[2022-01-18 16:23] sebademasi10 opened #943 "fatal: Unable to find remote helper for 'https' exit status 128"
Hi everyone!

I am trying to create a MR with the following command:

`glab mr create -s testing -b develop -y -f --fill-commit-body`

Both of them exist:

`git branch --all`

\* develop
  testing
  remotes/origin/dev-cba
  remotes/origin/develop
  remotes/origin/feature/nuevo-contrato
  remotes/origin/feature/nuevo-contrato-adjudicatario
  remotes/origin/fix
  remotes/origin/rm-orm
  remotes/orig

[2022-01-18 17:34] zemzale commented on #928
Yeah if you are talking about python `venv` then yeah. There are no external dependencies library-wise (executables like `git' and your editor are still required), since go programs are self-containing executables.

[2022-01-19 01:19] #941 closed, assigned to nobody

[2022-01-19 01:25] #888 closed, assigned to nobody

[2022-01-19 01:41] profclems commented on #924
This should be fixed in [v1.22.0](https://github.com/profclems/glab/releases/tag/v1.22.0)

[2022-01-19 01:41] #924 closed, assigned to nobody

[2022-01-19 02:06] profclems commented on #913
Hi @brodock, thanks for reporting this issue.

Is this issue still valid for v1.22.0 ?

[2022-01-19 02:11] profclems commented on #908
Thanks for opening this issue @W1M0R!

I totally agree with this proposal.

Alongside this, we could also provide a global flag (`--config-dir`) to specify the path to the config file.

[2022-01-19 02:14] profclems commented on #908
Uh, we already have this supported https://github.com/profclems/glab/pull/921

[2022-01-19 02:14] #908 closed, assigned to nobody

[2022-01-19 15:37] zemzale commented on #943
Hey. This looks like a git issue, but we can try to figure out what is the problem.

Few questions:
- Are you using HTTPS in protocol for the repo or SSH? You can check this with `git remote -v` and see if the remotes start with HTTPS or something like git@
- What kind a protocol have u set for `glab`? You can see this with `glab config get GIT_PROTOCOL` or by checking your `.config/glab-cli/confi

[2022-01-19 15:39] zemzale commented on #943
Also how did you install `glab`? Did you use snap? There have been some problems with that.

[2022-01-19 16:02] sebademasi10 commented on #943
Hi @zemzale! Thanks for answer :relieved:

I am using HTTPS

I have set `HTTPS` when I ran `glab` first time

Yes, I use the repo every day to work

I installed `glab` from snap, as described [here](https://github.com/profclems/glab#snapcraft)

[2022-01-19 16:04] zemzale commented on #943
I have a suspicion that snap is at fault. I saw a similar issue for `gh`. You could try to download the precompiled binary and try to use that and see if that fixes the problem.

[2022-01-21 19:58] sebademasi10 commented on #943
Hi again! I have done what you suggested and it works, thanks very much!

[2022-01-21 19:58] #943 closed, assigned to nobody

[2022-01-23 12:22] homotechsual commented on #913
Can confirm the same behaviour with 1.22.0 installed via WInGet. The `PATH` entry is added for all users I seem to have solved this by adding a `\` to the end of the path.

[2022-01-23 20:36] mxhe1 opened #945 "Conveniently edit tite/description of issues and merge requests in editor"
**Describe the feature or problem you'd like to solve**
Sometimes I come to a situation where I want to make changes to a merge request description, so having a single command for editing fields in issues and merge requests would be very convenient.

**Propose a Solution**
Proposed syntax for editing the description of merge request 123

`glab mr 123 update -d` (no arguments)

OR

`glab mr 123 edi

[2022-01-24 06:43] zemzale commented on #945
Hey @mxhe1. We have an issue for this already open at #466.

I will close this as a duplicate, but gonna bump the priority for the original issue. I don't know if I am gonna have time to work on this feature, but if you want you can have a crack on the problem yourself.

[2022-01-24 06:43] #945 closed, assigned to nobody

[2022-01-26 16:18] elonderin commented on #842
is there some workaround to install self-signed root CAs ? It's a common idiom/issue unfortunately in larger companies to do this for their internally hosted services.
I installed glab in WSL/ubuntu with homebrew and putting the the CA .cert into `/usr/local/share/ca-certificates/` and sorts aint working ...

[2022-01-26 20:41] mxhe1 commented on #945
Thanks for the quick response. I'm not very familiar with go but I'll give it a try if I have time.

[2022-01-28 19:04] mxhe1 commented on #466
I am working on this.

This first version works for me already:
https://github.com/mxhe1/glab/commit/8465bf3a6e23b1523e1db3392661967274fd7b2a

Note that this is only for merge requests right now.
Next week when I have some time I'll add unit tests and the same feature for issues.

Planning to open a PR during the next two weeks.

Have a nice day!

[2022-01-29 14:56] #925 closed, assigned to nobody

[2022-01-31 18:20] #923 closed, assigned to nobody

[2022-01-31 18:44] zemzale commented on #934
So the thing is. Adding estimates/spent time on creation is not that simple. We can't just do it with the same API call we use to create the issue. We need to call a separate [API](https://docs.gitlab.com/ee/api/issues.html#set-a-time-estimate-for-an-issue)

That can be easily be done by just calling after the creation of the issue(like we do with issue linking), but the problematic part is updati

[2022-01-31 19:12] pedro-nonfree commented on #934
what about:

- `--estimate` and `--spend` as declarative/total amount said
- `--add-estimate` and `--add-spend` to add from the total incrementally
  - yes, I feel `--add-estimate` is strange, but I put it there for completeness

[2022-01-31 19:52] profclems commented on #934
With `glab issue update --spend 1h`, I think it makes more sense to mean that it would change the value of the time estimate.

[2022-01-31 20:08] clemsbot opened #948 "Missing URL-encoding for branches."
By **[kaHaleMaKai](https://gitlab.com/kaHaleMaKai)**,

---

**Description**

When on a branch that includes character that require url-encoding, they don't get encoded when opening the repo in a browser.

**Expected Behavior vs Actual Behavior**

E.g. on a branch like `#1-this-is-my-first-issue` the opened url should be something like

[code]

Instead, the browser opens the un-encoded url

[code]

[2022-02-01 13:01] zemzale commented on #934
I think the idea by @pedro-nonfree would be better, because of those time reports that GitLab offers e.g.
<img width="777" alt="image" src="https://user-images.githubusercontent.com/14844365/151973014-f575efa6-948e-4aa1-9d30-90502ae80a09.png">

Some people might care about these reports, so we probably should add functionality for that.

[2022-02-05 16:25] alfredodeluca commented on #792
Hi all. same issue here.

$ glab auth status

gitlab.myinstance.com <--- changed for security
  ✓ Logged in to gitlab.myinstance.com.ai as alfredo  (/home/alf/.config/glab-cli/config.yml)
  ✓ Git operations for gitlab.myinstance.com configured to use ssh protocol.
  ✓ API calls for gitlab.myinstance.com are made over https protocol
  ✓ REST API Endpoint: https://gitlab.myinstance.com/api/v4/
  ✓ G

[2022-02-05 20:15] profclems commented on #792
@alfredodeluca, have you tried adding the https url as a remote like @dsychin  suggested? https://github.com/profclems/glab/issues/792#issuecomment-941855538

[2022-02-05 20:24] alfredodeluca commented on #792
Hi @profclems  I haven't yet but is that mean you need to add that an all you repo? That's unusable! Shouldn't work without doing all of that?
cheers

[2022-02-05 20:28] profclems commented on #792
@alfredodeluca it should work. Currently I'm unable to replicate this issue. I'm investigating why this is happening but for the time being, if @dsychin's suggestion works then you should use it.

[2022-02-05 20:35] profclems commented on #792
Hi @alfredodeluca, looks like your ssh url is different from the https url.

The ssh url seems to be ssh.gitlab.myinstance.com while the authenticated url is gitlab.myinstance.com. Is that correct?

What happens when you run `GITLAB_HOST=gitlab.myinstance.com glab mr list` ?

[2022-02-05 20:35] alfredodeluca commented on #792
ok. so I have in this project this remote
origin	git@ssh.gitlab.myinstance.com:cicd/platform-cicd.git (fetch)
what shoud I add?

[2022-02-05 20:36] alfredodeluca commented on #792
Also.. do I need to do
export GITLAB_HOST=gitlab.myinstances.com or it should work with the auth by default? cheers

[2022-02-05 20:40] alfredodeluca commented on #792
sorry I didn't see your previous message ...that's what happens
$ GITLAB_HOST=gitlab.myinstance.com  glab mr list
none of the git remotes configured for this repository correspond to the GITLAB_HOST environment variable. Try adding a matching remote or unsetting the variable

[2022-02-07 12:22] georgexsh commented on #872
+1 for this

[2022-02-08 14:33] zemzale commented on #872
I am gonna slowly started working on this. Won't be very fast since I don't have that much time to work on this, but I hope for some slow and steady progress

[2022-02-09 13:45] Lucas-C commented on #872
I'd love to have this feature too!

Given that [Drag and Drop](https://gitlab.com/gitlab-org/gitlab/-/issues/223940) is not implemented for now on Gitlab side, I'd be great to be able to `glab snippet new file1.py file2.rb` in order to quickly create a snippet ! And to update it: `glab snippet updatefile1.py file2.rb` maybe?

[2022-02-10 16:37] cliffrowley commented on #939
I would also like this, it's a bit of a jar in the workflow currently :)

[2022-02-10 17:33] batmac commented on #939
I would love it too 👍😃

[2022-02-11 11:04] KrzysztofHeller opened #953 "Support for OAuth tokens"
**Describe the feature or problem you'd like to solve**
Authentication using GITLAB_TOKEN environment variable works only with Personal Access Tokens.
We would like to work with GLab CLI using GitLab OAuth tokens.

**Propose a Solution**
Provide support for OAuth token with another environment variable: for example OAUTH_TOKEN.
When this variable is set GLab CLI should use Bearer Authentication in

[2022-02-13 10:16] GordianDziwis opened #956 "Glab creates new remote on `glab mr checkout -t`"
### Discussed in https://github.com/profclems/glab/discussions/955

<div type='discussions-op-text'>

<sup>Originally posted by **BonaBeavis** February 12, 2022</sup>
The description says:

  -t, --track                    set checked out branch to track remote branch, adds remote if needed

What does glab understand under "if needed"? Because in my setup it creates a new remote with my username a

[2022-02-14 20:26] alfredodeluca commented on #792
hi @profclems. do you know already when this is going to be fixed? Just an idea.
cheers

[2022-02-15 18:12] 1oglop1 opened #957 "Support for libsecret / keychain (mac)"
**Describe the feature or problem you'd like to solve**
I'd like to avoid storing my token in plaintext file even it's on an encrypted partition.

**Propose a Solution**
It would be nice if glab could support credential store such as keychain on mac or Keyring on ubuntu (via libsecret)

[2022-02-16 12:38] sphakka commented on #350
What's the state of this issue? I see the two merges are done, yet with v1.22.0 the problem persists. I see that my token is no good (though it works with curl and I'm correctly authenticated):
[code]

[2022-02-18 07:33] alerque opened #958 "Need a group namespace list command"
I realize this tool is primarily targeting interactive use, but I find it useful to have tools that are both useful to run by hand *and* to script.

One of the things I still use `lab` for in scripting management of GitLab projects is to list the projects in a group namespace.

Glab currently has a search and I can cobble the results out of `glab repo search -s 'group_name /'`, but even coming up

[2022-02-18 07:36] alerque opened #959 "Add output formats that are easier to process"
As mentioned in #958, the output of most `glab` commands is "pretty" in the sense of an end user eyeballing it, but it is not easy to parse and process as part of a script.

I would like to suggest that a global flag be added for a simple output mode that only output the exact data queried in a super plain text format with no extras (such as numbering, spaces, indents, etc.).

As an example, `jq`

[2022-02-18 07:47] alerque commented on #958
For reference, here is how the GitHub CLI does this:

[code]

Note how easy that output would be to pars with say `| IFS='\t' while read repo desc visibility date; do ...; done`.

For Gitlab, the `lab` tool has a very easy to pars output, although the ability to restrict the list to a group is missing so you kind of have to parse that for yourself, e.g.:

[code]

[2022-02-19 09:58] zemzale commented on #958
Hey @alerque. This does make sense. I will try to look into it what can be done about this.

[2022-02-19 12:39] a333klm opened #960 "Can not authenticate with self hosted instance and api endpoint http://localhost:8888/gitlab/api/v4/user"
**Description**
`glab auth login` seems not to work when the api endpoint is not under `http://localhost:8888` but `http://localhost:8888/gitlab`

![image](https://user-images.githubusercontent.com/29760462/154800996-2878da83-d453-4306-9908-a7a81ee57349.png)

**Your Environment**

* Version used (Run `glab --version`): glab version 1.22.0-19-gff1032b (2022-02-16)

* Operating System and version: U

[2022-02-19 16:44] zemzale commented on #960
hey @a333klm If the APi endpoint is under `http://localhost:8888/gitlab` then when running running auth you should put that under API hostname

[2022-02-20 08:03] a333klm commented on #960
hey @zemzale
I think I found the issue in the code. The hostname validator accepts only digits after `:`
So to change this behavior, the regex needs to be adapted.
[See this Code line](https://github.com/profclems/glab/blob/83eac0195c87365c98856e0e034fe2985354d93f/commands/auth/login/login.go#L324)

(regex for reference)
`^(([a-z0-9]|[a-z0-9][a-z0-9\-]*[a-z0-9])\.)*([a-z0-9]|[a-z0-9][a-z0-9\-]*[a-

[2022-02-22 11:11] eiro opened #962 "no way to choose a different name than the directory?"
hello,

[code]
I expected  https://mind.your.biz/myself/testalacon3. is there a way to get this right ?

[2022-02-23 17:40] alerque opened #963 "Return sensible results for archived repositories"
I've recently done a big of housekeeping across half a dozen orgs using Gitlab and we are now faced with a bunch of archived projects. GitLab handles this pretty graciously, but now the trouble is `glab` goes right on operating on all repositories if nothing changed.

- [ ] It would be nice if ⓐ the search and ⓑ future list commands (c.f. #958) had some sort of flag to exclude archived repositorie

[2022-02-23 17:53] alerque opened #964 "Archive flag for group clone not ~~functional~~ documented"
The PR #349 introduced the ability to clone a whole GitLab group. Supposedly the `-a` flag should trigger filtering of archive repos. It isn't clear from the docs which way the filtering happens (does `-a` exclude archived repos or include them?) but either way it doesn't seem to do anything. I was looking at this in relation to #963 hoping there was a dry run option of some kind that would net me

[2022-02-23 17:57] alerque opened #965 "Group clone function should probably nest groups"
The `glab repo clone -g <group> -G` option allows cloning all repositories in a group recursively, but it ends up cloning a flat structure unlike the nested group structure of the source groups. I would expect it to nest the directories by default just as in the groups.

[2022-02-24 19:03] turbobastii opened #966 "Examples for "pipeline list" and "ci list" display --state instead of --status argument"
**Description**
When running `glab pipeline list --help` or `glab ci list --help` the returned examples document the `--status` argument as `--state`. The options overview is however correct.

**Expected Behavior vs Actual Behavior**
Expected:
`glab pipeline list --help` returns the example `$ glab pipeline list --status=failed`

Actual:
`glab pipeline list --help` returns the example `$ glab pipe

[2022-02-25 06:57] zemzale commented on #962
Hey @eiro. You can simply provide a path to the repo as an argument. To get what you desire would be
[code]

The `-n/--name` flag is for setting the visible name for the repo, which can be changed after creation e.g.
![image](https://user-images.githubusercontent.com/14844365/155669247-cb891cea-588a-4491-af34-b5b65468cb0e.png)

[2022-02-25 06:58] #962 closed, assigned to nobody

[2022-02-25 07:02] zemzale commented on #965
Hey @alerque if I underststand correctly you are looking for  flag for
[code]

So instead of cloning them as
[code]
They would be cloned as
[code]

[2022-02-25 07:27] zemzale commented on #964
So this flag seems to be kinda funky:
- if you don't set the flag it will get all the repos, even the arrived ones
- If you set the flag with simply `-a` or `-a=true` it will return ONLY the archived ones
- if you explicitly set the flag to `-a=false` it will filter out the archived repos.

I am kinda split about this flag. From one side it works just fine, but it's also overly complex and hard to

[2022-02-25 07:38] turbobastii commented on #966
Not applicable when built from source, so closing the issue

[2022-02-25 07:38] #966 closed, assigned to nobody

[2022-02-25 10:42] alerque commented on #965
Yes, sorry I missed that in the docs!

[2022-02-25 10:42] #965 closed, assigned to nobody

[2022-02-25 10:45] alerque commented on #964
Also it's not documented in `--help`. I even tried something like this, but I didn't use the equals sign, I believe I dried just `-a true` and `-a false` just as a stab in the dark. I'll go back and try it with the `=` syntax.

I really don't know why you'd want to `clone` only archived repos, but I guess having the 3 way ability could be useful. Honestly that functionality would be more utilitari

[2022-02-25 11:01] alerque commented on #964
I can confirm `-a=false` does what I need, confusingly `-a false` silently does what both `-a` and `-a=true` does hence by conclusion that the flag was not behaving.

I don't know what argument parser you are using for this project but the `=` requirement is a bit unconventional. Workable, but if there was an easy way to be more flexible with that I'd say go for it.

More importantly, this 3 way u

[2022-02-25 11:05] alerque commented on #964
It looks like similar issues exist with other flags. For example the `-G` flag exists, but already defaults to true. For it to be useful one has to use `-G=false`, but this is not evident from the `--help` page. Also it's just **weird** to have flags for things that are already the default behavior instead of flags for triggering something other than the defaults.

[2022-02-27 14:08] profclems commented on #842
@elonderin, glab already supports self-signed certificates. See the comment here on how to set the path in the config:

https://github.com/profclems/glab/issues/781#issuecomment-873352223

[2022-02-28 15:20] #792 closed, assigned to nobody

[2022-02-28 15:20] #877 closed, assigned to nobody

[2022-02-28 15:36] #960 closed, assigned to nobody

[2022-02-28 17:04] #934 closed, assigned to nobody

[2022-03-03 14:46] ThaDaVos opened #969 "Handle time tracking"
**Describe the feature or problem you'd like to solve**

It would be amazing if one could also handle time tracking from command line, for example:

- Show total time reported for today, yesterday (globally, per project, per group or per issue)
- Report time on an issue
- Set daily quota
- More?

**Propose a Solution**

Maybe someone can submit a PR - I am not experienced enough with Go to even tr

[2022-03-03 20:41] jghal opened #970 "Add a generic 'api' command taking curl-style arguments for making arbitrary API calls with saved authentication"
**Describe the feature or problem you'd like to solve**

For all the API calls that glab doesn't natively have commands for, it'd be nice to still be able to make use of the saved authentication with a generic `api` command and do JSON queries on the response. This would be similar to the `gh` CLI tools [api](https://cli.github.com/manual/gh_api) command.

[2022-03-03 21:38] gsalvatella commented on #926
I'm having the exact same problem with `glab version 1.22.0 (1641826717)`. Completely unusable for now :(

[2022-03-03 21:58] profclems commented on #970
@jghal `glab` already has the `api` command for making REST and graphql requests to the GitLab API.

You can always use it together with the `glab alias` command to create custom commands.

[2022-03-03 23:01] jghal commented on #970
Oh nice! I didn't see it documented [here](https://glab.readthedocs.io/en/latest/) and `glab help` after installing the deb didn't mention it. But it turns out I had an old 1.11 binary in my path and after removing that I see the command.

[2022-03-04 07:06] zemzale commented on #926
Yeah looks like since 14.5 the token is prefixed by `glpat-` [see](https://about.gitlab.com/releases/2021/11/22/gitlab-14-5-released/#new-gitlab-access-token-prefix-and-detection). Will try to open PR soon, or someone else can take this up If they have time.

The code in question would be https://github.com/profclems/glab/blob/ce81f277e793ac618f6da773486f1606df2105e4/api/default.go#L10

[2022-03-04 07:08] zemzale commented on #926
@gsalvatella Also, this should only show bad auth status, but glab should still work. We don't actually check if token is valid on `auth status` but when calling any other command it should work just fine.

[2022-03-06 18:32] heeh commented on #879
@Gaibhne
I got the same error. `glab auth login` passed all but executing commands like `glab mr list` prints out the following log.
```none of the git remotes configured for this repository points to a known GitLab host. Please use `glab auth login` to authenticate and configure a new host for glab```

TL;DR: use `https based clone`.

`glab` assumes that we are using `https based` remote address.

[2022-03-06 19:09] heeh commented on #926
Substitute the return statement with `return true` and build the glab worked for me.
https://github.com/heeh/glab/commit/aa990bc6acf059da9003fc0235b3a430ebada608

[2022-03-07 08:53] zemzale commented on #879
So the issue here probably is how the remote resolution happens.
TLDR: The port is not being used inside the resolution code when it should be.

The gist of how it works:
- we look at remotes setup for the current git repository
- we parser the information needed from the git URLs
  - that includes repo, project/group, and the hostname of GitLab
- we filter out all the remotes by HOSTNAME

The pro

[2022-03-08 14:37] #970 closed, assigned to nobody

[2022-03-08 15:00] ygarasab commented on #926
I'll give it a go :D

[2022-03-09 00:54] gterras commented on #879
Same with a custom but no custom ports as far as I'm aware (v1.22.0) :

[code]

[code]

[code]

[code]

[2022-03-09 23:07] brodock commented on #913
It wasn't me who have reported it :) @awa5114 would you mind double checking if this is still a problem?

[2022-03-10 04:38] justin-f-perez opened #972 "`glab issue view --help` has copy-paste errors from `glab mr view --help`"
the problem is pretty obvious and even though I have no `go` experience the fix looks trivial so I'm skipping the issue template and will open an MR in a few mins (if for some reason there is any problem with MR I will edit this issue to match the template)
[code]

[2022-03-10 05:07] lpapp opened #974 "Creating a merge request: assignee, reviewer and label do not work"
Hi,

I am on Mac OS (Monterey 12.2.1.).

I installed glab through brew.

`glab auth login` works fine.

When I am trying to create a merge request, what happens is that -a laszlo.papp creates /assignee laszlo.papp in the description (body) of the merge request. Why is this happening as opposed to selecting me as the assignee in the Assignee drop-down list?

We are using this gitlab version on the

[2022-03-10 06:24] zemzale commented on #974
Hi @lpapp

What is happening here is that when using the `-w` flag you will get redirected to a web browser where you can continue with your MR creation. If we continue to the browser the only way how we can add the assigne is using the slash commands, so we just append them to the MR description.

See https://docs.gitlab.com/ee/user/project/quick_actions.html

The reason for this is that there is

[2022-03-10 06:57] lpapp commented on #974
@zemzale oh, I see, thanks! So, the issue is that there is no preview API provided by the gitlab server.

So, then, the only issue that I can see is that this option on the command line:

`--reviewer foo.bar`

does not get added on the preview as:

`/reviewer foo.bar`

like the `-a foo.bar` options gets added as:

`/assign foo.bar`

or the `-l "foo" `as:

`/label ~"foo"`

Does it work for you? Am

[2022-03-10 07:09] zemzale commented on #974
The reviewer is missing indeed. All the other things should be correct.

If you press create MR on the Web UI it should add all the labels and assignes. I will try to open a PR to fix the reviewer thing.

[2022-03-10 07:28] lpapp commented on #974
I can open a PR for this. It would be my first go contribution in a long time :) I think it is as simple as this:

git diff
diff --git a/commands/mr/create/mr_create.go b/commands/mr/create/mr_create.go
index c66ba99..4cbe44d 100644
--- a/commands/mr/create/mr_create.go
+++ b/commands/mr/create/mr_create.go
@@ -672,6 +672,10 @@ func generateMRCompareURL(opts *CreateOpts) (string, error) {

[2022-03-11 01:36] #974 closed, assigned to nobody

[2022-03-11 01:38] #926 closed, assigned to nobody

[2022-03-11 04:41] ygarasab commented on #903
Looking at the code structure, it seems to me it would be better to have something like `glab issue list --unassigned`, since the code is currently filtering issues by assignee using username, not id.

[2022-03-11 05:13] ygarasab commented on #903
Hey, just looked at the go-gitlab package and we can't really set our AssigneeID to "None" cause it accepts only integers, as we can see [here](https://github.com/xanzy/go-gitlab/blob/bd30483e865c054c52179448051bef0c597a2495/issues.go#L218)

Since I also would apreciate this feature, I've openned an [issue ](https://github.com/xanzy/go-gitlab/issues/1408) at their repo so we can find a nice soluti

[2022-03-11 06:17] #972 closed, assigned to nobody

[2022-03-11 06:23] zemzale commented on #903
Yeah, this is kinda dumb from GitLab's side.

The one thing we could do is filter the tests on our side, but I feel like that would be a lot of hassle, and pagination would painful.  Lets wait and see If the go-gitlab issue brings some clarity on how we could deal with this, if not then we will have to do the filtering on our end.

[2022-03-11 09:38] lpapp opened #977 "glab mr update: -f --fill-commit-body options"
**Describe the feature or problem you'd like to solve**
I have accidentally issues:

`glab mr create -a laszlo.papp -l mylabel --reviewer foo.bar,hello.world -b 3d-arch -f -y`

without `-fill-commit-body`

This works fine for creating a MR from a single commit, but for multiple commits, the title and description of MR are not very informative.

**Propose a Solution**
When I do a mistake like above

[2022-03-15 12:40] RoneoOrg opened #978 "Add remote when using `glab repo create RepoName`"
Hi there,

**Describe the feature or problem you'd like to solve**

A remote is automatically added when using `glab repo create`.

I would like the same when specifying a repo name (with `glab repo create RepoName`)

**Additional context**

I'm using the last version, `glab 1.22.0` (and I love it!)

[2022-03-15 14:55] penx opened #979 "Warn if branch not published"
**Describe the feature or problem you'd like to solve**

If you try to run `glab mr create` on a branch that only exists locally, a merge request is created from a non existent branch with no changes.

**Propose a Solution**

Option to warn or block `glab mr create` if the branch doesn't exist on the remove.

[2022-03-15 15:38] zemzale commented on #979
Hi @penx

I guess we could show some kind of info text that nothing is pushed to the remote and it's an empty MR, but I don't think this is really needed since it's a completely valid thing to do in GitLab.

And if you want to push your current branch you can use the `--push` flag.

[2022-03-15 15:48] penx commented on #979
A warning would be great, for me due to me wrongly thinking I'd pushed a branch and then distributing the MR link with my team only to later be told the MR is blank 😄 (I've done this about 4 times over the past couple weeks! I'm used to `hub` which I think prevents a PR being created)

Yes I could start using `--push` by default instead...

Thanks for glab 🙂

[2022-03-15 16:00] zemzale commented on #979
You can use an alias for this. I have one called `mrc` that does all the stuff I need for MR

You can do it like `glab alias set mrc "mr create -a=@me --remove-source-branch --push`

[2022-03-16 07:37] philippludwig commented on #686
Stumbled on this today. Would be nice if this could be documented somewhere, it caused me about 30 minutes of frustration.

[2022-03-16 17:49] ryanprior opened #980 "Command to create a short-lived auth token"
Every day, I use the GitLab web UI to create a short-lived token with permissions I need for that day. The token gets sent to one or more other machines and stored temporarily so that some semi-automated tools can act using my identity.

I've got the GitLab auth tokens page bookmarked, and I've gotten pretty fast at using it, but it would be even faster and more convenient to automate this with `g

[2022-03-16 18:27] zemzale commented on #872
So I have created the initial support for adding snippets, but that only works for a single file, because the GitLab API library didn't support it when writing the initial PR, but it does now since I added that there. So there are a few things to do
- [ ] Update the GitLab API library to the newest version to support multiple file uploads
- [ ] Add the support for multiple files in the create comm

[2022-03-16 21:35] Lucas-C commented on #872
Wow, great, thanks for working on this @zemzale !

[2022-03-17 05:56] zemzale commented on #980
Hey @ryanprior.

So GitLab doesn't support creating personal access tokens programmatically using the API, only using the rails console, which is not a thing we are gonna even try to do because that is for GitLab administration and it can mess up the whole GitLab instance if you do something wrong. See [here](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#create-a-personal-acc

[2022-03-18 19:49] ygarasab commented on #903
Hey, just a small update about  this
So, they've updated the go-gitlab repo with something that will help us implment this, but we would have to pump up to this latest version, which would come with quite a lotta stuff to fix within the code, mostly types and stuff, so...
It would be quite the PR

[2022-03-19 13:50] zemzale commented on #903
I have actually opened a PR for this at #982

It still needs to be tested before merging, because of those nasty breaking changes, but after we do this, we can implement this feature

[2022-03-21 17:37] profclems opened #983 "Announcement: `glab` is being adopted by GitLab"
Hi everyone! I wanted to make an announcement and let everyone know that the `glab` project is being [adopted by and transitioned to GitLab](https://gitlab.com/groups/gitlab-org/-/epics/7514). I'm really excited about this transition and the future of the `glab` project with GitLab.

I'd like to thank everyone who has supported and contributed to this project over the years. None of this would hav

[2022-03-21 18:06] dnsmichi commented on #983
@profclems Thank you for all your hard work on creating an amazing GitLab CLI  🌱 💜

[2022-03-21 18:09] johncoghlan commented on #983
@profclems thanks for building this for the community! I hope you will continue to be an active member of the GitLab community in the future.

[2022-03-22 05:41] zemzale commented on #983
I assume the maintainers are now gonna be from GitLab side? I really loved working on this project, but it was simply impossible to keep up with the feature requests and needs for the project.

This is a great step forward for an already great tool and I hope to see it grow even more 🔥

[2022-03-22 17:31] phikai commented on #983
@zemzale Thank you for all your contributions to the project. I hope you'll continue to contribute now that the project is on GitLab!

[2022-03-23 16:08] gdzien opened #984 "`repo search` documentation is wrong"
**Description**

glab config set gitlab_uri https://example.com
failed to set "gitlab_uri" to "https://example.com": failed to write config: not a git repository
alias glab
alias glab='GITLAB_HOST=https://example.com glab'

$ glab repo search
required flag(s) "search" not set

$ glab repo search docker
accepts 0 arg(s), received 1

**Expected Behavior vs Actual Behavior**
Commands actually work an

[2022-03-23 20:02] zemzale commented on #984
So few things here.
1. `glab config set gitlab_uri https://example.com/` needs to be run inside a git repository to make, sense. This sets the URI for the GitLab API for that directory.
2. `glab repo search` error message is clear enough, although the help message is not great. You need to provide the `--search` flag instead of using an argument. e.g. `glab repo search --search docker`

[2022-03-23 22:11] wwalker commented on #959
Please please please, may we have --json?

[2022-03-24 12:11] gdzien commented on #984
1) makes no sense to be directory sepecific when otherwise my calls to "search repo" says 401 unauthorised to gitlab.com
2) Documentation and messages need to be updated, also adding "--search" to "repo search" is illogical.

[2022-03-24 13:31] zemzale commented on #984
The API host is found by
- GITLAB_HOST
- Check if  the host in the current `git` directory is authenticated
- If neither of the above is true, fall back to `gitlab.com`

So you either have to set `GITLAB_HOST` and authenticate against the host using the `glab auth login` command

I agree with this. Since the tool is being adopted by GitLab( https://github.com/profclems/glab/issues/983) feel free t

[2022-03-24 15:09] jsnopek commented on #570
Any progress on this feature ?

[2022-04-04 01:31] bryant-finney opened #985 "`glab ci lint` provides `0` exit code"
# Description

When using `glab` client to lint my CI configuration, I expect the command's exit code to reflect the linting results. However, the command returns a `0` exit code, even on linting failure.

## Expected Behavior vs Actual Behavior and Steps to Reproduce

[code]

Related issue: #911

### Possible Fix

`curl` and [`httpie`](https://httpie.io/cli) both provide flags to return a non-zer

[2022-04-04 06:57] ThaDaVos commented on #969
Anyone?

[2022-04-06 07:30] jclsn opened #986 "Provide zsh completion"
**Describe the feature or problem you'd like to solve**
The bash completion file can't be loaded in zsh.

**Propose a Solution**
Also generate a zsh completion file

[2022-04-07 07:30] zemzale commented on #986
@jclsn For zsh you just need to use `glab completion --shell zsh`

[2022-04-07 07:30] #986 closed, assigned to nobody

[2022-04-08 10:00] byjokese opened #987 "glab showing incorrect pipeline "triggered by" name."
**Description**
In  then command `glab ci view <tag_name>`, If the pipeline was triggered using a tag, glab picks the author from the commit that is tagged on. It should pick the name of the person who created the tag, as the GitLab page is showing.

**Expected Behavior vs Actual Behavior**
GitLab Web and glab cli showing different authors in "triggered X minutes ago by XXXX"

![imagen](https://us

[2022-04-08 10:08] jclsn commented on #986
That doesn't work for me

I put the completion script in a file in $FPATH and when I press tab multiple times I get the names of the files contained in the folder.

[code]

whereas with bash I get
[code]

[2022-04-08 11:25] zemzale commented on #986
That is an issue with your shell setup then, not the completion script. Works just fine for me.
Try running
[code]
and then see if it works

[2022-04-08 11:36] jclsn commented on #986
No, that doesn't make a difference unfortunately. I use oh-my-zsh. Don't think that it would conflict with the script. I just tried moving the .oh-my-zsh directory and .zshrc for a clean configuration, but it still doesn't work.

How do you load the file?
On Apr. 8 2022, at 1:25 pm, zemzale ***@***.***> wrote:

[2022-04-12 07:36] nison-jp opened #988 "Cannot Login to Self-hosted instance in the subdirectory"
**Description**

* I'm using a GitLab self-hosted instance, which is located in the sub directory, like https://example.com/gitlab/.
* At command `glab auth login`, asking hostname, `glab` only accepts domain name.
* SSH connection is not available for that instance.

**Expected Behavior vs Actual Behavior**

* Expected behavior:
  * accepts subdirectory
 * Actual behavior:
   * only accepts domai

[2022-04-12 14:47] pgrz commented on #772
Probably a duplicate of https://github.com/profclems/glab/issues/435

[2022-04-12 14:54] pgrz opened #989 "[QUESTION] Is it possible to comment on a line in diff?"
**Describe the feature or problem you'd like to solve**
During review I mostly comment on files and suggest edits to lines, I don't see the possibility to do so - a read only view of the diff is available. Is it possible to add a comment to a file/line?

[2022-04-12 20:15] wwalker commented on #351
@profclems Thank you for a great program!!

Slight correction to help others wanting to link issues.

This doesn't work for me:
[code]
However, this does, because, in the uri path, you need `%2F` (url-encoded `/`) but in the `target_project_id` you need `/`:
[code]

[2022-04-13 04:58] zemzale commented on #989
There is an issue about this here #679, but nobody has done any work about it. It's a pretty substantial task, with quite a lot of work needed.

[2022-04-13 06:50] pgrz commented on #989
I missed that one, thanks

[2022-04-13 06:50] #989 closed, assigned to nobody

[2022-04-13 13:36] ds82 commented on #842
This actually works .. just set the config entries `ca_cert`, `client_cert` and `client_key` for the specific host

[2022-04-13 13:46] justin-f-perez commented on #986
[code]

personally, I let homebrew take care of it. check your zcompdump file (see the man page)

[2022-04-20 14:36] kofl91 commented on #939
+1 I could really use this feature. This ends up being the only thing I need the browser for as "glab ci view" does not work in all of my shells.

[2022-04-20 14:39] kofl91 commented on #879
Do you really need "glab auth"?
I use it on my private hosted gitlab using the environment variables
  GITLAB_TOKEN=???
  GITLAB_HOST=34.116.241.10:8080

[2022-04-27 11:42] okias commented on #205
For this utility would be best to get into Debian main repository, but I guess it'll need some maintainer.

[2022-04-27 11:52] okias opened #991 "crash on mesa CI at gitlab.freedesktop.org"
Hello! First I want you to thank you for this amazing piece of software!
Second, report of crash:

**Description**
Crash on big CI ( gitlab.freedesktop.org ). There is lot of stages/pipelines...
**Logs**
[code]

**Your Environment**
x86_64, GNOME
* Version used (Run `glab --version`):
glab version 1.22.0 (2022-01-10)

* Operating System and version:
Debian unstable/testing

[2022-05-02 00:03] volker-schukai commented on #831
Version 1.22 is also affected
Gitlab Version: 14.10.0

[2022-05-04 03:21] johnmarcou commented on #985
Same issue here.
Workaround:
[code]

[2022-05-05 13:10] ssbarnea opened #992 "Failure to open editor if that is an alias"
**Description**

glab fails to open user `EDITOR=foo` if `foo` is defined as an alias. That is because it wrongly assumes that this must be an executable.

**Expected Behavior vs Actual Behavior**

Use shell to run editor instead of trying to execute it as a command.

Current behavior break for at least two use cases: aliases and shell functions. On both, it will fail to start the tesit.

**Possib