[2020-07-24 23:57] profclems opened #1 "Add functionality to merge merge request"

[2020-07-25 03:40] profclems opened #2 "Add functionality to list list and filter issues"

[2020-07-25 03:41] #2 closed

[2020-07-26 04:12] profclems opened #3 "Add a command to rename issues"

[2020-07-26 04:27] profclems opened #5 "Ability to create merge requests"

[2020-07-26 04:29] profclems opened #6 "Ability to approve merge requests"

[2020-07-26 04:30] profclems opened #7 "Ability to list merge requests"

[2020-07-26 05:20] profclems opened #8 "Add command to delete merge request(s)"
User should be able to delete merge requests...

usage:

- `glab mr delete <merge_request_id>`

    Eg: `glab mr delete 12`

- `glab mr delete <multiple,comma,separated,ids>`

    Eg: `glab mr delete 3,21,3,12`

[2020-07-26 05:40] profclems commented on #8
Resolved

[2020-07-26 05:40] #8 closed

[2020-07-26 21:29] #7 closed

[2020-07-26 21:29] #5 closed

[2020-07-27 04:16] profclems opened #12 "Nil pointer error due to panic on map index"

[2020-07-27 05:49] #12 closed

[2020-07-27 05:50] #1 closed

[2020-07-27 13:31] profclems opened #16 ""glab version" gives Wrong version info"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Type '...'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Software Info(please complete the following information):**
 - OS:

[2020-07-28 02:04] #16 closed

[2020-07-28 02:44] profclems opened #17 "Add command to mark merge request as ready or in progress"
**Is your feature request related to a problem? Please describe.**
Merge requests with status WIP or Draft cannot be merged as they are considered not ready.
There should be a command to mark merge requests as ready so they can be merged.

**Describe the solution you'd like**
Add a command:
[code]

**Describe alternatives you've considered**
[code]

[2020-07-28 02:52] profclems opened #18 "Source Branch should be created automatically if not specified"

[2020-07-29 01:51] profclems opened #20 "(CRT-A0010) Function call can be replaced with helper function"
## Description
Some function calls have shorthands that can be used instead of going about the long way. Some of these examples are `wg.Done()` instead of `wg.Add(-1)`, `strings.Split` instead of `strings.SplitN` with `N` as `-1` and `http.NotFoundHandler` instead of `http.HandlerFunc` with `http.NotFound` as the function.

## Occurrences
There are 6 occurrences of this issue in the repository.

S

[2020-07-29 02:08] profclems opened #22 "(SCC-SA4006) A value assigned to a variable is never read before being overwritten."
## Description
Value has been assigned to a variable but it is being overwritten before being read. In most cases, this could be a forgotten error check. Example: ``` a := &quot;foo&quot; a = &quot;bar&quot; ```

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/profclems/glab/issue/SCC-SA4006/occurrences/](https://dee

[2020-07-29 02:25] #20 closed

[2020-07-29 02:26] #22 closed

[2020-07-29 06:24] #18 closed

[2020-07-30 17:39] profclems opened #26 "Configuration should be global (system-wide)"
**Describe the bug**
Glab configuration is set for the folder in which the configuration is done. Configuration is required for every folder

**Expected behavior**
Configuration should have been global instead of using a specific directory

[2020-08-02 17:00] abakermi opened #30 "add pipelines support (ex. list, status ,delete)"
**Is your feature request related to a problem? Please describe.**
CI pipelines are cores features for GitLab, we should add support for that ex.deleting, listing

**Describe the solution you'd like**
add a command for  minimum & easy functionality

`glab pipeline  [list, status,delete]`

**Describe alternatives you've considered**
`glab pipe  [list, status,delete]`

[2020-08-03 09:08] abakermi commented on #30
@profclems I can help with that

[2020-08-03 09:21] profclems commented on #30
I marked it as relevant so you can open a PR

[2020-08-03 09:35] profclems commented on #30
I marked it as relevant so you can open a PR

[2020-08-04 14:51] #30 closed

[2020-08-04 14:52] profclems commented on #30
@abakermi I hope you share so we get more users and contributors

[2020-08-04 19:01] #26 closed

[2020-08-04 19:02] #6 closed

[2020-08-05 04:55] gunjan01 commented on #3
Hi @profclems I would like to work on it if its still not assigned ? :)

[2020-08-05 05:12] profclems commented on #3
You can update issues details

Great! Your contributions are welcome... It is not currently assigned

[2020-08-05 05:23] profclems opened #41 "Add command to create a To Do for a merge request"
**Is your feature request related to a problem? Please describe.**
User should be able to create a ToDo for a merge request

**Describe the solution you'd like**
`glab mr <merge-id> new-todo`

**Describe alternatives you've considered**
`glab mr <merge-id> create-todo`
`glab mr <merge-id> todo create`
`glab mr <merge-id> todo new`

**Additional context**
https://docs.gitlab.com/ee/api/merge_reques

[2020-08-05 05:33] profclems opened #42 "Ability to get user contribution events"
**Is your feature request related to a problem? Please describe.**
There should be a command to get the contribution events for the specified user, sorted from newest to oldest.

**Describe the solution you'd like**
`glab user events`

**Describe alternatives you've considered**
`glab user contributions`

**Additional context**
https://docs.gitlab.com/ee/api/events.html#get-user-contribution-event

[2020-08-05 05:45] profclems opened #43 "Ability to create, list and manage branches"
**Is your feature request related to a problem? Please describe.**
Commands should be available to create new branches, get the list of all available branches and manage (delete, get a single branch) branches

**Describe the solution you'd like**
`glab branch create [--flags]`
`glab branch list [--flags]` to get available branches
`glab branch delete <branch-id>` to get delete a branch
`glab branc

[2020-08-05 05:51] profclems opened #44 "Documentation for each command"
**Is your feature request related to a problem? Please describe.**
glab currently lack documentation for all commands on command line unless viewed from the documentation page.

**Describe the solution you'd like**
 For example, running `glab issue --help` should show documentation on the `issue` command

**Additional context**
https://clementsam.tech/glab

[2020-08-05 06:58] profclems opened #45 "Add command to clone repository"
**Is your feature request related to a problem? Please describe.**
User should be able to clone a GitLab repo with a clear and concise command in `glab`

**Describe the solution you'd like**
`glab clone owner/repo`
Eg. `glab clone profclems/glab`

[2020-08-05 07:58] abakermi commented on #45
@profclems I will handle that

[2020-08-05 07:59] profclems commented on #45
Great!

[2020-08-05 10:42] lwpamihiranga opened #47 "Fix spelling mistakes in the README md file"
Found some spelling mistakes in the README file

https://github.com/profclems/glab/blob/trunk/README.md

[2020-08-05 10:52] profclems commented on #47
@lwpamihiranga thanks for the issue :)
Do you think you can submit a quick PR for this?

[2020-08-05 10:53] #47 closed, assigned to nobody

[2020-08-05 10:59] lwpamihiranga commented on #47
Already did 😉

[2020-08-05 11:10] lwpamihiranga opened #49 "Spelling mistakes in contributions.md"
Found some spelling mistakes in contributions.md file

https://github.com/profclems/glab/blob/trunk/.github/contributions.md

[2020-08-05 11:25] #49 closed, assigned to nobody

[2020-08-06 02:17] profclems opened #51 "Incorrect issue or merge request due date"
Due date is always set to Jan 1, 0001

**Description**
When creating issues and merge requests, due date is always set to Jan 1, 0001

**Expected Behavior**
Due date should be based on user's input or not set all

**Actual Behavior**
Due date is always set to Jan 1, 0001

**Possible Fix**

**Steps to Reproduce**

![image](https://user-images.githubusercontent.com/41906128/89483413-88934400-d78b-11

[2020-08-06 02:26] profclems opened #52 "TimeAgo showing in decimal"
Issue/merge request's time value shows in decimals for seconds

**Description**

![image](https://user-images.githubusercontent.com/41906128/89483640-0eaf8a80-d78c-11ea-8464-5f591dddec34.png)

**Your Environment**

* Version used: 1.7.0
* Operating System and version: Ubuntu 20.04 (WSL) x86_64

[2020-08-06 03:40] profclems opened #53 "Add command to get a single pipeline"
**Is your feature request related to a problem? Please describe.**
Already, there are commands to list and delete pipelines. However, there is no command to view details for a single pipeline.

**Describe the solution you'd like**
`glab pipeline get <pipeline-id>`
Additionally, the URL to the pipeline should be made available including the status and other relevant information about the pipeline

[2020-08-06 03:50] profclems opened #54 "ANSI colors output should be fixed for windows"
GLab uses [aurora package](https://github.com/logrusorgru/aurora#windows) which provides ANSI colors only, so there is no support for Windows, hence, output improperly formatted on windows cmd

**Your Environment**

* Version used: 1.7.0
* Operating System and version: Windows 10 Build 2004 (CMD and Powershell)

[2020-08-06 08:10] marcolino opened #56 "Error: "Could not find remote url for gitlab""
Running any command (for example `glab issue list`) I get the error in the subject

**Description**

Running any command (for example `glab issue list`) I get the error in the subject

**Expected Behavior**

I expect a list of the issues

**Actual Behavior**

I get the error in the subject

**Possible Fix**

Documentation about requested environment variables should be more complete...

**Steps to

[2020-08-06 08:15] profclems commented on #56
The GIT_REMOTE_URL_VAR should contain the variable name for your git remote url. If your remote url variable is origin, run
[code]
By default, it is set to `origin`. This is useful when you have two remote urls for a single repository.

[2020-08-06 08:22] profclems commented on #56
You can also run:
[code]
If your git remote url variable that contains the gitlab repo url is `upstream`:
[code]

[2020-08-06 08:36] marcolino commented on #56
I have one remote url for my repository (https://gitlab.com/mypass_web/marketplace).

I do:

    export GIT_REMOTE_URL_VAR=origin
    glab config --global --remote-var=origin

and

     glab issue list

and get:

    2020/08/06 10:34:24 Could not find remote url for gitlab

[2020-08-06 08:47] profclems commented on #56
1. Make sure you're working from the directory that contains your repo. If you haven't cloned the repo, I suggest you first clone your repo and make sure you are in the directory.

2. Run `glab config --remote-var=origin --url=https://gitlab.com` .

3. Set your token globally with `glab config --global --token=xxxxxxxx`

Using `export` will make the variables available for only the current bash se

[2020-08-06 09:03] marcolino commented on #56
Ok. Sorry, I was not running from the project folder...

Now I get:

    $ env | grep GITLAB
    GITLAB_TOKEN=*****************
    GITLAB_URI=https://github.com

    $ glab issue list
    2020/08/06 11:04:51 GET https://github.com/api/v4/projects/git@gitlab.com:mypass_web/marketplace/issues: 404 {error: Not Found}

[2020-08-06 09:10] profclems commented on #56
The GITLAB_URI should be set to https://gitlab.com and not https://github.com

Regards

[2020-08-06 09:15] marcolino commented on #56
Thanks, sorry! (ashamed)

However I feel these variables setting documentation (included GITLAB_TOKEN) should be documented more clearly, in the installation section...

Best regards, and keep on this nice project...

[2020-08-06 09:19] profclems commented on #56
Yeah sure... I will consider that.

I really appreciate your feedback

[2020-08-06 09:19] #56 closed, assigned to nobody

[2020-08-06 09:22] marcolino commented on #56
Thanks.

And, too, consider issuing a more clear error message in case you do not find a valid current folder ... :-)

[2020-08-06 09:27] svenk opened #59 "Glab repo not working"
[code]

**Description**

Cloned/checked out master @ 38b78f2ee9050d6d5876bd26a40036118698d36c at Thu Aug  6 11:28:09 CEST 2020:
[code]

**Expected Behavior**

Some useful error message or actually some working. The command is listed as an option:

[code]

**Actual Behavior**

Command not found

**Possible Fix**

**Steps to Reproduce**

See above

[2020-08-06 09:29] svenk opened #60 "Bug: glab config crashes on run"
[code]

**Description**

Code actually crashes.

**Expected Behavior**

Some useful message

**Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

See #59 for the setup how I built/installed glab.

**Context**

**Your Environment**

* Version used:
* Operating System and version:

[2020-08-06 09:30] mattLLVW opened #61 "Remove .idea directory and add it to .gitignore"
That's a minor issue but I think you shouldn't commit your editor specific config files.

[2020-08-06 09:37] dougEfresh commented on #60
@profclems is there any reason why you didn't use a library to parse commands and args? For example,
[cobra](https://github.com/spf13/cobra)

[2020-08-06 09:40] profclems commented on #60
I'll look at that... At the meantime, you can set your variables with
[code]

[2020-08-06 09:43] profclems commented on #60
I wanted a lot more flexibility. I've actually looked into cobra

[2020-08-06 09:51] dougEfresh commented on #60
From looking at your code, cobra would handle all that you need. Its really flexible.

[2020-08-06 09:53] dougEfresh commented on #60
the CLI world, these two statements are the same:
`glab config --token=blah --url=https://gitlab.com`
`glab config --token blah --url https://gitlab.com`
but your code doesn't support that.

[2020-08-06 09:53] profclems commented on #60
I'll consider that! Thanks a lot

Or do you think you could open a quick PR to help with that? It'll be much appreciated

[2020-08-06 09:53] dougEfresh commented on #60
I'll fork and open a PR

[2020-08-06 10:16] vbrandl opened #62 "Multiple binaries in release archive"
The release archive contains multiple binaries (from [glab_1.7.0_Linux_x86_64.tar.gz](https://github.com/profclems/glab/releases/download/v1.7.0/glab_1.7.0_Linux_x86_64.tar.gz)):

[code]

I think the `bin` directory shouldn't be in the release.

[2020-08-06 10:22] vbrandl opened #63 "Wrong URL for Repositories cloned via SSH"
I have a repository that is cloned via SSH. Executing `glab issue list` in the repository gives me the following error:

[code]

(I replaced the actual values with placeholders)

[2020-08-06 10:33] #61 closed, assigned to nobody

[2020-08-06 12:25] duritong commented on #53
What would also be nice is to watch a running pipeline.

[2020-08-06 12:26] grdscrc opened #64 "Error installing on MacOS Catalina 10.15.6 with Homebrew 2.4.9"
It seems there is a bug on the macos homebrew install process

**Description**
Being interested by the tool, I type `brew install -vvvv glab`, then :

**Expected Behavior**
==> glab successfully installed (or something of the sort)

**Actual Behavior**
[code]

**Possible Fix**
In the step before the error, the directory being copied is `glab_1.7.0_macOS_amd64`. Perhaps it is the correct dirname in

[2020-08-06 12:42] misterMeldrum opened #65 "Brew install fails on macos 10.14.6"
When attempting to install **glab** via brew ( is. _brew install profclems/tap/glab_ ), it fails to do so.

[code]

From what I can pull up from the debug, the actually glab binary cannot be found by the brew script/recipe/automation ( sorry don't know enough about brew yet ) but it is in the package:
[code]

[2020-08-06 14:01] skorokithakis opened #66 "Commands are not discoverable"
There is no documentation on the site about commands and subcommands, and `glab help command` does not work. There's no way to figure out how to use the tool, from what I can see, unfortunately.

[2020-08-06 14:08] profclems commented on #64
Same issue as #65

[2020-08-06 14:23] profclems commented on #64
Whilst we work on fixing this issue, you can install with the quick install script:
[code]

[2020-08-06 14:23] profclems commented on #65
Whilst we work on fixing this issue, you can install with the quick install script:
[code]

[2020-08-06 14:26] profclems commented on #66
We are working on resolving the issue related to getting help for each command #44 . However, check the [documentation](https://clementsam.tech/glab) as subcommands and flags for each command are  shown

[2020-08-06 16:05] profclems commented on #63
While we work on fixing this, here's a quick fix:

1. Add the https remote URL to your repo to a remote origin variable
[code]

2. Set the remote origin variable with:
[code]

[2020-08-06 19:33] profclems commented on #56
Noted! Thanks

[2020-08-07 00:15] ShakataGaNai opened #67 "Move hosting to GitLab"
Call it a "Feature request", but it seems kinda wrong to be hosting GitLab tools on GitHub. So I'd suggest moving this repository over to GitLab. Perhaps it could be left as a read-only mirror on GitHub.

[2020-08-07 00:22] profclems commented on #67
Thank you @ShakataGaNai
I hosted it here on GitHub for OSS visibility; a lot of people find it convenient to contribute to FOSS on GitHub.
However, it is hosted on Gitlab as well as a mirror from this GitHub repo.
https://gitlab.com/profclems/glab

[2020-08-07 03:02] profclems opened #68 "Chore: Automatically generate docs"
**Is your feature request related to a problem? Please describe.**
It will be best to automatically generate the docs page on the introduction of new commands

**Describe the solution you'd like**
Should be done via TravisCI with Github pages

**Describe alternatives you've considered**
Use GitHub action for the automation

**Additional context**
Add any other context or screenshots about the feat

[2020-08-07 03:51] #64 closed, assigned to nobody

[2020-08-07 03:51] #65 closed, assigned to nobody

[2020-08-07 03:53] #67 closed, assigned to nobody

[2020-08-07 13:29] abakermi commented on #45
@profclems would you prefer cloning the repos using the file archive (gitlab API)  endpoint or using external command git
`git clone https://gitlab.com:<personal_access_token>@gitlab.com/user/repo.git'`

[2020-08-07 15:25] abakermi commented on #45
currently , I have the zip file with the latest commit sha and option to specify the format `--format`,
should we extract the zip to a directory ?
![screenshot](https://user-images.githubusercontent.com/60294727/89661780-c99a6e00-d8db-11ea-8bf0-9fa3ebb8d61a.gif)

[2020-08-07 15:59] profclems commented on #45
Great!
I think using the file archive endpoint is great for getting the zip format but with cloning the repo files into a folder, executing an external git command will be great. GLab depends on git anyway. .What do you think?

[2020-08-07 16:08] abakermi commented on #45
I think clone **without options** will launch external `git clone` command and with options like the` --format `we will just download the stream archive

[2020-08-07 20:28] spiderkeys commented on #45
One thing that would be super helpful, as some extra bells and whistles to this feature, especially for individuals/companies that have a large number of repos, is the ability to run a single command that can clone an entire Gitlab group (including its subgroups) to your machine with the same group/subgroup structure.

I hacked together a python script for this a while back, but it seems like some

[2020-08-07 20:55] profclems commented on #53
That is being considered in the next minor release! Thanks!
I would appreciate if you would open an issue to describe how best you want to see it so we add up.

[2020-08-07 20:57] profclems commented on #45
@spiderkeys that's being considered. Thanks!
Do you think you could open a quick PR to help speed up with that?

[2020-08-07 21:00] abakermi commented on #45
@spiderkeys that would be a huge recursive way, the `clone` command should only clone a single repo with `options` just like git does

[2020-08-07 21:37] profclems commented on #45
@abakermi, how about a flag that allows a user to specify the repo to clone like:
[code]
Alternatives
[code]
Or
[code]

[2020-08-07 21:39] abakermi commented on #45
@profclems great with that, I will send PR tomorrow

[2020-08-08 21:43] #44 closed, assigned to nobody

[2020-08-09 12:26] BreD1810 opened #75 "README is missing AUR package"
The README does not include the AUR package for Arch Linux users found [here](https://aur.archlinux.org/packages/gitlab-glab-bin/).

[2020-08-09 15:05] #75 closed, assigned to nobody

[2020-08-10 06:19] #53 closed, assigned to nobody

[2020-08-10 06:19] #68 closed, assigned to nobody

[2020-08-10 08:11] profclems opened #78 "Add Command to add note to a merge request"
Help Commands

[code]

Reference: https://docs.gitlab.com/ce/api/notes.html#merge-requests

[2020-08-10 08:20] profclems opened #79 "glab mr diff"
Show changes with annotations

Reference:
https://docs.gitlab.com/ee/api/merge_requests.html#get-mr-diff-versions

[2020-08-10 08:25] profclems opened #80 "Gui based merge request review"
`glab mr review <id>` to review a merge request directly on the cli.

Can be implemented with [gocui](https://github.com/jroimartin/gocui)

[2020-08-10 08:47] trytuna opened #81 "404 failed to parse unkown error format"
**Description**
If I run the issue list command I gonna get the following error message:

[code]

I can get a list of issues if I curl the GitLab API like so `curl --header "PRIVATE-TOKEN: <token>" https://gitlab.x.y.z.de/api/v4/issues`.

[code]

**Expected Behavior**
List the a list of open issues

**Your Environment**
I am running the latest macOS (10.15.6) and glab (1.8.0) version.

GitLab Vers

[2020-08-10 09:55] duritong opened #82 "1.8.0 reports wrong/no version"
[code]

[2020-08-10 09:57] duritong opened #83 "Be able to watch a running pipeline"
Based on discussion in #53 it would be nice if I could follow/watch a running pipeline.

What would I like to see:

Currently running job
Successfull jobs
Failed jobs

The command should block the cli and keep updating based on how the pipeline progresses.

[2020-08-10 10:48] aral opened #84 "Issue list help display merge request list help"
**Description**

`glab issue list --help` displays the help for `glab mr list --help`

**Expected Behavior**

It should display the issue list help.

**Actual Behavior**

It displays the merge request list help.

**Possible Fix**

Update the copy.

**Steps to Reproduce**

1. `glab mr list --help`
2. `glab issue list --help`

**Context**
n/a

**Your Environment**
n/a

* Version used:
[code]
* Opera

[2020-08-10 11:47] alerque commented on #82
Same is true for Arch Linux package which is compiled from source rather than using the upstream binary release. Besides the version number issue, the email address string is missing the ending angle bracket.

[2020-08-10 11:51] alerque opened #85 "Accept standard arg format for version"
Please accept one of the common `-V` or `--version` arguments instead of the version subcommand. These are almost ubiquitous and something people routinely guess at, even just to see if a binary is working. The subcommand syntax for this operation is very unexpected.

[2020-08-10 12:14] #63 closed, assigned to nobody

[2020-08-10 12:14] #60 closed, assigned to nobody

[2020-08-10 12:14] #59 closed, assigned to nobody

[2020-08-10 12:15] #52 closed, assigned to nobody

[2020-08-10 12:15] #45 closed, assigned to abakermi

[2020-08-10 12:28] #84 closed, assigned to nobody

[2020-08-10 15:07] #85 closed, assigned to nobody

[2020-08-10 15:07] #82 closed, assigned to nobody

[2020-08-10 16:13] Worty opened #89 "update-check version number wrong"
When doing a  `glab check-update` its comparing `1.8.1` to `v1.8.1`.
So it always tells there is an update.

[2020-08-10 17:56] #66 closed, assigned to nobody

[2020-08-10 20:44] trytuna commented on #81
I solved it by myself. It actually was a misconfiguration in the apache reverse proxy.

If someone is facing the same error message this might help: https://forum.gitlab.com/t/webide-wont-open/18680/19

[2020-08-10 20:44] #81 closed, assigned to nobody

[2020-08-10 20:48] profclems commented on #81
@trytuna, glad you found a solution and shared. Thanks!

[2020-08-10 20:51] #51 closed, assigned to nobody

[2020-08-10 20:52] #54 closed, assigned to nobody

[2020-08-11 09:57] enchilada-composer opened #91 "Could not find remote url for gitlab. Run git config"
Hello guys,

total noob here. As the title suggests, I'm not able to see current merge requests in GitLab via
`glab mr list`

`git remote -v` gives me

[code]

what am I doing wrong? I googled a lot to the point where I was not able to pull anything from master anymore. I really wanna use this great tool without breaking my project.

Can someone help?

[2020-08-11 10:05] abakermi opened #92 "add support delete piplines by status"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
 add support to delete pipeline by status ex:
`glab pipeline delete --status=success
`

**Describe alternatives you've considered**
`glab pipeline delete --status=success
`

[2020-08-11 12:37] ombre8 commented on #91
have the same issue, I think this is a Bug, i configured glab the same way i did on another computer (with older version on which it worked)

[2020-08-11 15:14] brackindustries commented on #91
Try running the configuration command `glab config --token=<YOUR-GITLAB-ACCESS-TOKEN> --url=https://gitlab.com` and ensure the file `~/.glab-cli/config/.env` is present after that.

It should contain stuff like
[code]

This solved it for me.

[2020-08-11 15:50] profclems commented on #91
Take a look at this https://github.com/profclems/glab/issues/63#issuecomment-670022252

[2020-08-11 17:35] profclems opened #94 "Design a logo"
If this cool tool doesn't even have a shiny logo, how are we supposed to pitch a tool to end-users?

Somebody else is going to have to take this one on because my design sucks 😃. Well, yeah, I'm a CLI guy!
Does anybody want to give back to us for this OSS by contributing some cool branding for this project?

[2020-08-12 05:44] enchilada-composer commented on #91
Thanks for the replies!

I tried the above and did what was described in #63. Now I get:
`2020/08/12 07:36:36 GET https://gitlab.com/api/v4/projects/groupName/projectName/issues: 401 {message: 401 Unauthorized}`

I think I only used gitlab via ssh before. When I try to
`git remote add glab-origin <https-clone-url-for-your-repo>`
and
`glab config --remote-var=glab-origin`
then
`git remote -v` gives

[2020-08-12 05:49] enchilada-composer commented on #91
Fixed!
I messed up the url part in
`glab config --token=<YOUR-GITLAB-ACCESS-TOKEN> --url=https://gitlab.com`

It is working now, thank you!

[2020-08-12 05:49] #91 closed, assigned to nobody

[2020-08-12 05:57] #92 closed, assigned to nobody

[2020-08-12 06:51] profclems commented on #91
Great!
Also note that setting configuration without the `--global` flag sets it for the current repo directory. To set global configurations that persist across all repos add the global flag
`glab config --token=<YOUR-GITLAB-ACCESS-TOKEN> --url=https://gitlab.com`

[2020-08-12 13:20] baurmatt opened #97 "Could not find remote url for gitlab. Run git config"
**Description**
glab always complains about `Could not find remote url for gitlab. Run git config`.

[code]

**Expected Behavior**
It works

**Actual Behavior**
`Could not find remote url for gitlab. Run git config`

**Possible Fix**

**Steps to Reproduce**
[code]

**Context**

**Your Environment**

* Version used:
* Operating System and version:

[2020-08-12 13:45] profclems commented on #97
Run:
`glab config` or `glab config --global` and follow the prompt

Note that without the `--global` flag, glab sets the configuration only for the current repo directory

[2020-08-12 14:00] baurmatt commented on #97
Same error :(

[code]

[2020-08-12 14:04] profclems commented on #97
The remote url variable is the git remote variable that contains the git url. Example is `origin` or `upstream` or any other defined varibale. You are providing the git URL instead of the variable.
Run:
`glab config --global --remote-var=origin`

`glab` uses the variable provided to get the URL from git configuration.

[2020-08-12 14:09] baurmatt commented on #97
Ah, now I get is. Can you just default the Git remote url variable to `origin`. That should be fine for 98% of the users.

[2020-08-12 14:12] profclems commented on #97
By default, the remote url variable is set to `origin`. I'm sure you probably changed.

Also note that global configuration is saved at `~/.glab-cli/config/.env` which you can modify

[2020-08-12 14:17] baurmatt commented on #97
Nope, I using the default: `origin`. In fact this repository has only one remote: `origin`:

[code]

For this use case, I need repository specific configuration because it uses a different Gitlab instance as most of my other projects.

[2020-08-12 14:25] profclems commented on #97
For local configs, the  `.glab-cli` folder is created in your current directory and automatically added to your .gitignore file to avoid being tracked by git.
If there is no `.gitignore`, glab creates one for you

[2020-08-12 14:28] baurmatt commented on #97
Yep, and this works as expected :) Still this commands seems to have a problem:

[code]

Even if the remote is `origin` this throws the `Could not find remote url for gitlab. Run git config` error.

[2020-08-12 14:35] profclems commented on #97
I will look into that... it should have defaulted to `origin`.
However, add `--remote-var=origin`
You can also check if the `.glab-cli/config/.env` file has `GIT_REMOTE_URL_VAR=origin`

[2020-08-12 14:37] baurmatt commented on #97
Hmm yeah, it doesn't wrote `GIT_REMOTE_URL_VAR` into that config file:

[code]

[2020-08-12 14:42] profclems commented on #97
Thanks for your feedback!

I will do a release on 14th addressing these issues alongside other features like #83   :)

[2020-08-12 14:49] #97 closed, assigned to nobody

[2020-08-12 14:51] baurmatt commented on #97
Thanks! :)

[2020-08-14 08:20] #83 closed, assigned to profclems

[2020-08-14 09:35] #89 closed, assigned to nobody

[2020-08-15 03:31] #78 closed, assigned to nobody

[2020-08-16 11:06] profclems commented on #83
@duritong this has been featured in version 1.9.0

[2020-08-17 02:15] akshaybharambe14 opened #103 "Enable windows executables to be distributed via Winget"
Microsoft has released Winget cli tool to install and manage windows programs. The glab windows executables can be distributed via this tool.

Link to Winget project
https://github.com/microsoft/winget-cli

[2020-08-17 14:46] sirlatrom opened #105 "List MR eligible approvers"
**Is your feature request related to a problem? Please describe.**
`glab mr approve` currently supports approving an MR. It would be cool if it could also list who can approve based on available MR and/or project level approval rules.

**Describe the solution you'd like**
`glab mr approvers` could list the eligible approvers.

**Describe alternatives you've considered**
Not implementing it.

**Add

[2020-08-17 15:32] iggyvolz opened #106 "Color is not reset on mr list if last branch is ellipsed"
**Description**

If the branch for the final MR is too long to be listed, blue color is not ended at the end of the line and

**Expected Behavior**

The `[0m` element should always close the color even if it is ellpised.

**Actual Behavior**
There is no `[0m` element, leading the next line to retain its color

**Possible Fix**
Error appears to be in https://github.com/profclems/glab/blob/606ba7dd2

[2020-08-17 17:37] BreD1810 opened #108 "Add aliases for long commands"
**Is your feature request related to a problem? Please describe.**
It would be nice if a user could create aliases for long commands that they use a lot.

**Describe the solution you'd like**
The [GitHub CLI](https://cli.github.com/manual/gh_alias_set) handles aliases very nicely, so it may be a good idea to base it off of their approach. The key features include:
- Ability to list aliases
- Abili

[2020-08-17 17:52] profclems commented on #108
Great! I thought so too.
Do you think you could open a quick PR for that??

[2020-08-17 18:12] profclems commented on #106
@iggyvolz thanks for reporting this issue...

[2020-08-17 19:00] BreD1810 commented on #108
I might be able to pick it up soon. But if anyone wants to make a start on it, feel free :)

[2020-08-17 23:15] #105 closed, assigned to nobody

[2020-08-18 15:06] majoal0 commented on #94
I made this one:

![glab-logo-design-100](https://user-images.githubusercontent.com/9063085/90530075-d7a58580-e14a-11ea-9727-4f592f7dcf2e.png)

[2020-08-18 15:34] profclems commented on #94
Impressive!
Could you add it to the top of the readme and open a PR so GitHub recognizes you as a contributor?
Thank you

[2020-08-18 22:46] j-mcavoy opened #114 "Ability to create branch & mr for issue"
**Is your feature request related to a problem? Please describe.**
I would find it useful to be able to create branches and MR for an issue from command line, similar to the way Gitlab's "Create Merge Request" works. This is something that could dramatically speed up workflows that create branches for each issue without needing to manually create a MR, add a title it and add a `/close #issue-num`

[2020-08-19 01:42] profclems commented on #114
Great idea... This really makes sense.

There's a built-in solution but it's not elegant. You could do something like:
[code]
Create the mr for the issue and specify the branch should be created using `--create-source-branch` flag which creates the branch using the MR title
[code]

The solution above is quite verbose. I agree with you that a single and simple command should do that.

Do you think

[2020-08-19 03:39] j-mcavoy commented on #114
Thanks for the speedy reply!

I made a simple PR that does this. The command works the same way as the "Create Merge Request" button, it automatically creates the branch, the MR, and it tags the MR to automatically close the issue when the MR is merged.

[2020-08-19 06:40] profclems commented on #103
Never heard of winget till now. Seems it's still in preview stage and available only for those on windows insiders.
Thanks, I'll work on that in the next release, however, I will be glad if you'd want to take this up 😃

[2020-08-19 08:00] sattellite opened #116 "pipeline view ci glitches"
**Description**

The screen is not drawn correctly when I return to it from the job traces screen. And after that glitch glab not responding to any key press, like freezes.

**Expected Behavior**

I want see correct main screen after return from job traces.

**Actual Behavior**

Go to "production build" block. View job traces.

![image](https://user-images.githubusercontent.com/322910/90607142-801

[2020-08-19 08:03] sattellite commented on #116
Also I catch freezes on main screen when job finished and pipeline goes to next job. glab not responding to any key press too. `pkill glab` helps only.

[2020-08-19 08:16] profclems commented on #116
Sorry about this... I'll get this fixed asap.
I think the problem comes from mishandled keybindings. Use <kbd>Enter</kbd> to toggle in and out of the job log view and let me know if it works on your side without failure.

[2020-08-19 08:56] sattellite commented on #116
<kbd>Enter</kbd> works correctly.

[2020-08-19 08:59] profclems commented on #116
Okay. I will get it fixed asap and do a patch release

[2020-08-19 09:48] profclems commented on #105
@all-contributors please add @sirlatrom  for funding and code

[2020-08-19 10:39] profclems commented on #105
@all-contributors please add @sirlatrom for financial and code

[2020-08-19 12:37] pgollangi commented on #41
Hey @profclems since TODO is just marking MR, i would go with `glab mr todo <merge-request-id>`. What do you think?

[2020-08-19 12:42] profclems commented on #41
Yeah I think it's great.
It will be consistent since note uses `glab mr note <merge-request-id>` so I agree with you on `glab mr todo <merge-request-id>` 👍

[2020-08-19 16:04] pgollangi opened #144 "Cache glab env configuration to avoid reading from FileSystem everytime"
Possibly there are fetching of multiple glab env variables per a command execution which always reads from FileSystem will lead to delay in commnad execution especially on HDD

**Description**
Current Benchmark results of `internal/config/file.GetKeyValueInFile` are
[code]

**Expected Behavior**
**Possible Fix**
It can be reduced by caching glab on first FS read.

**Steps to Reproduce**
PR #145 de

[2020-08-19 16:35] #41 closed, assigned to nobody

[2020-08-19 17:51] #144 closed, assigned to nobody

[2020-08-19 18:28] j-mcavoy opened #150 "`mr for` 404 Not Found"
API fails to create MR and gets a 404 not found response.

**Description**
The `mr for` command successfully creates a new branch but it fails create an MR for the new branch.

The

**Expected Behavior**
[code]

**Actual Behavior**
[code]

**Possible Fix**
I just patched this issue (https://github.com/profclems/glab/pull/149). I re-wrote the command based on the 'mr_create' and the command and it

[2020-08-19 19:28] #150 closed, assigned to nobody

[2020-08-20 01:43] #114 closed, assigned to nobody

[2020-08-20 06:17] #94 closed, assigned to nobody

[2020-08-20 12:34] pgollangi opened #157 "Organize commands to folders"
With increasing number of commands, its becoming difficult look through commands and when tests included to commands, entire `./commands` folder become messy.

We can group all secondary commands of a primary command to one folder.

**Describe the solution you'd like**
Folder structure would be:
[code]

**Describe alternatives you've considered**
Package to classify all primary commands to one is

[2020-08-20 12:45] profclems commented on #157
I agree with this. We really need to write tests for the commands but the commands folder will look quite messy with that so restructuring will help us.
However, there's currently an open PR by @BreD1810 to resolve #108. We would have to wait then.

By the way, we have a minor release (v1.10.0) to do this Weekend 🎉

[2020-08-20 12:48] BreD1810 commented on #157
I've become fairly busy since making that PR. It may be best to go ahead with this change, and I can merge/start fresh with #113 when I have more time. Otherwise, you might be waiting for a while.

Looking forward to the release :)

[2020-08-20 12:54] pgollangi commented on #157
Thanks @BreD1810 for sharing status on #113
@profclems I think I can take up this after v1.10.0 release.

[2020-08-20 13:30] pgollangi commented on #17
From the gitlab [documentation](https://docs.gitlab.com/ee/user/project/merge_requests/work_in_progress_merge_requests.html#removing-the-draft-flag-from-a-merge-request), adding a note to merge request will toggle `wip` or `draft`. But it will just be toggle, but not add or remove. I think this should be fine if we can add a column to `mr list` results to inform user about MR wip status (`WorkInPr

[2020-08-20 13:36] pgollangi commented on #17
I'm not sure of `go-gitlab` support of it yet. I'll check and update. Action command would gentrify all actions on MR. It would be something like `glab mr action wip`.

Actually it will become an alternative way for all current actions implemented. For example to reopen `glab mr action reopen`  and  `glab mr reopen` are same.

[2020-08-20 13:37] pgollangi commented on #17
I think no special support from `go-gitlab` required since this should be done via notes API.

[2020-08-20 14:27] profclems commented on #17
I think I should have closed this issue since we added additional flags (`wip` and `drafit`) to `mr create` in [09ba137](https://github.com/profclems/glab/commit/acf2e6e7f7419312a62f51c3bf24cc9fc0d95c33)

[2020-08-20 14:32] pgollangi commented on #17
Okay. Do you think marking MR `wip` after creating it is not a priority for now?

[2020-08-20 14:54] profclems commented on #17
I think that can be done with `glab mr update` where you can change the title and add `WIP` or `Draft` to the title.
I will add `wip` and `draft` flag to `mr update` to simplify that

[2020-08-20 18:24] #17 closed

[2020-08-20 18:45] profclems opened #160 "Add command to create project"
**Is your feature request related to a problem? Please describe.**
There should be a command to create a project directly from the command line

**Describe the solution you'd like**
[code]
if path is not specified, the current folder name should be used

**[Flags]**
[code]

**Describe alternatives you've considered**
[code]

[2020-08-21 14:48] pgollangi commented on #160
Raised #161 addressing this.

[2020-08-21 16:16] #160 closed, assigned to nobody

[2020-08-21 17:06] pgollangi commented on #80
Interesting!! I'll have a thought on this.
@profclems  any thoughts on UI interaction?

[2020-08-21 17:27] profclems commented on #80
I implemented the GUI for viewing pipeline(#95) with [tview](https://github.com/rivo/tview). [Gocui](https://github.com/jroimartin/gocui) seems to be no longer maintained

[2020-08-24 07:16] #116 closed, assigned to nobody

[2020-08-24 11:31] akshaybharambe14 commented on #103
Sure, I will open a PR for this.

[2020-08-25 14:24] profclems opened #167 "Ability to list merge requests assigned to a user"
**Is your feature request related to a problem? Please describe.**
There should be additional flags on the `glab mr list` command to list merge request assigned to current user or a specific user

**Describe the solution you'd like**
Add --mine and --assignee flags to `glab mr list`

To get list of MRs for the current user:
[code]
To get the list of MRs for a user with username
[code]
Should allow

[2020-08-25 14:25] profclems opened #168 "Ability to list issues assigned to a user"
Follows a similar format as  #167

[2020-08-26 15:57] profclems commented on #103
Great... We'll be looking forward to that

[2020-08-28 10:44] profclems opened #170 "Overhaul Configuration"
Currently, `glab` uses `.env` configuration format to store its configuration. Global config files are stored at the user's home directory as `$HOME/.glab-cli/config/.env` whereas local config files are stored in the current working directory and added to the `.gitignore` file to ignore it.
This solution seems not to be ideal enough as there will be several local config files spread across differe

[2020-08-28 17:48] BreD1810 commented on #170
I think it would be a good idea to make this change. Personally, I would prefer the YAML approach.

Backwards compatibility would be nice if possible. We should be able to check if the old local file exists, update the global one before deleting the old. Maybe a user prompt here would be a good idea.

[2020-08-28 19:14] profclems commented on #170
Yeah, same here. I prefer the YAML approach, it looks neat and has better support with viper.

I thought of this solution too. This should help prevent re-configuration.

[2020-08-28 19:30] profclems commented on #170
I should add that `glab`, out of the box, supports multiple GitLab providers.
The configurations are read first from the OS environment variables, then look in the current directory for a config before looking for the global one: **OS ENV -> local .env config -> global .env config**

I'm thinking we should maintain this style but switch configuration to YAML approach:
**OS ENV -> local config.yml

[2020-08-29 05:28] j-mcavoy commented on #168
This API call for listing issues for a assignee username are supported on GitLab's API but is missing from go-gitlab's API, I made a PR and issue https://github.com/xanzy/go-gitlab/issues/925

Once this is sorted out, the following should work:
https://github.com/profclems/glab/compare/trunk...j-mcavoy:168_list_issues_assigned_to_a_user

[2020-08-29 06:42] profclems commented on #168
Yeah I just checked the PR and it's a relevant change you've made. You can open a PR once it's accepted

[2020-08-29 15:59] profclems opened #172 "Support for shell-executable aliases"
@BreD1810 did a great job adding the ability to create command aliases #113.
It will be great if a user can set aliases that can be passed through shell like so:
[code]
`shell` flag indicates that that particular command should be executed through shell. This feature will help user's set shell snippets or commands as aliases using glab.
Example:
[code]
should execute like so:
[code]

[2020-08-29 21:06] profclems opened #174 "Support for shell completions."
`glab` uses cobra. Cobra has support for generating bash and zsh autocompletion here: https://github.com/spf13/cobra/blob/master/bash_completions.md

***Edit:***

Targetted Shells
* Bash
* Zsh
* Fish
* Powershell

Reference: https://github.com/spf13/cobra/blob/master/shell_completions.md

[2020-08-30 09:12] bgraf opened #175 "Support for auto-completition of project specific Labels during issue creation in the CLI"
#### Situation

When using the CLI to create a new issue, we are prompted for a comma-separated list of labels, e.g.:

[code]

#### Feature

Provide auto-completion of project specific labels at this point.

#### Notes on implementation possibilities

- Cache the project specific labels at some point in the project's glab configuration `project/.glab-cli` folder.
  - could be done when the user fe

[2020-08-30 12:03] profclems opened #177 "Acknowledge glab contributors"
This issue is opened specifically to acknowledge `glab` contributors in the [README.md](https://github.com/profclems/glab#contributors-) using @allcontributors bot.

If you have contributed to `glab` and your name hasn't appeared in the contributors' list on the project's readme, check the bot usage here https://allcontributors.org/docs/en/bot/usage and comment as such to automatically open a PR w

[2020-08-30 12:20] profclems commented on #177
@all-contributors please add @bgraf for code

[2020-08-30 12:25] profclems commented on #177
@all-contributors please add @profclems for platform

[2020-08-30 12:29] profclems commented on #177
@all-contributors please add @pgollangi for maintenance

[2020-08-30 12:31] profclems commented on #177
@all-contributors please add @sattellite for bug

[2020-08-30 13:00] BreD1810 commented on #174
Could we add fish to the list please? It's very popular too.

It seems cobra has support for bash, zsh, fish and powershell. It may be best just to support all 4.
https://github.com/spf13/cobra/blob/master/shell_completions.md

[2020-08-30 14:58] profclems commented on #174
Yeah sure... We should work on all 4 then

[2020-08-30 15:08] profclems commented on #174
Do you think support for aliases will be feasible?
Seems there are limitations in zsh, fish and powershell in terms of custom completion

[2020-08-30 15:45] BreD1810 commented on #174
From what I have seen before, a completion script is used which calls `glab` to determine what commands are available. I'll have to have a look into how cobra determines what commands to give back to the completion script, but in theory it should be possible to append a list of aliases to the suggestions.

[2020-08-30 19:33] #175 closed, assigned to nobody

[2020-08-31 01:50] profclems commented on #108
Resolved by #113

[2020-08-31 01:50] #108 closed, assigned to nobody

[2020-08-31 08:25] #168 closed, assigned to nobody

[2020-08-31 11:38] dnsmichi opened #184 "GITLAB_URI environment variable not set by default, leads to "unsupported protocol scheme" error"
**Description**

I was trying this nice project and started with the minimum effort - short install and only the required settings.

After setting the GITLAB_TOKEN environment variable, I changed into a GitLab repository and ran `glab pipeline list` to see the CI/CD status.

There I was greeted with this error:
![image](https://user-images.githubusercontent.com/382049/91715714-82c42f00-eb8e-11ea-9

[2020-08-31 11:56] Dentrax commented on #184
I'm getting exact same issue:

**Steps to Reproduce**
1. Install **glab** via _Homebrew_
2. `glab config --token=<YOUR-GITLAB-ACCESS-TOKEN>`
3. `glab config --url=gitlab.example.com`
4. `glab pipeline list`
5. See the error: `Error: Get "gitlab.foo.com/api/v4/projects/bar%2Fbaz/pipelines?page=1&per_page=20&sort=desc": unsupported protocol scheme ""`

But when i send a **GET** request that **URL**

[2020-08-31 12:41] profclems commented on #184
@dnsmichi thanks for reporting this issue. I'll have this fixed asap.

@Dentrax Sorry you had this issue. Make sure you include the protocol (https or http) in the GITLAB_URI; for example:
[code]
You can also just run `glab config -g` and follow the prompt to verify and set the configuration

[2020-08-31 17:33] #184 closed, assigned to nobody

[2020-09-01 04:46] zemzale commented on #170
It would be nice if this tool would respect the [XDG_Base_Directory](https://wiki.archlinux.org/index.php/XDG_Base_Directory) spec aka ability to place configs in `~/.config` directory and not clutter my home directory.

This can be opened up as a separate issue and added to the v1 release too.

[2020-09-01 05:25] profclems commented on #170
Thanks @zemzale, that will be considered. Please open it as a separate issue

[2020-09-01 06:09] zemzale opened #186 "Support XDG Base Directory spec for configuration files"
**Is your feature request related to a problem? Please describe.**
There is a [spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) for where different type of files should be. The main thing to this project is the configuration files. This allows for decluttering the home directory and having all the config files in one place.

**Describe the solution you'd like**
G

[2020-09-01 06:32] wilsonjwz opened #187 "glab mr approve can't work"
first
`glab mr create -t patch -d patch -b test`

get
`#1794 patch (feature/xxx) less than a minute ago`

and
`glab mr approve 1794`

get
`Approving Merge Request #1794...
404 Not Found`

i want get the resason

[2020-09-01 06:42] profclems commented on #186
Thanks @zemzale
I would appreciate if you would want to take this up with a quick PR 😉

[2020-09-01 06:47] wilsonjwz commented on #187
version: GitLab Community Edition 10.0.3

[2020-09-01 06:48] wilsonjwz commented on #187
@profclems  can you print the gitlab http request

[2020-09-01 06:56] profclems commented on #187
@wilsonjwz sorry you're faced with this issue.

I can't pinpoint exactly where the issue is coming from. The GitLab API changes.
Check if you entered the correct merge request ID. Also, make sure you have permission to approve merge requests

[2020-09-01 07:03] wilsonjwz commented on #187
ok my friend  I will debug it until I can merge it

[2020-09-01 07:08] profclems commented on #187
You can also try merging to see if it errors as well with:
[code]

[2020-09-01 07:15] wilsonjwz commented on #187
thank you very much my friend
I misread the command for `approve ` actually `merge `
If the examples in the document can be enriched, it will be clear

[2020-09-01 07:15] #187 closed, assigned to nobody

[2020-09-01 19:12] pgollangi commented on #157
@profclems what would you think if I make this change now(possibly tomorrow)? Since I don't see many open PRs and we are heading to add more test coverage.

[2020-09-01 20:08] profclems commented on #157
Okay sure... I'll merge the recent PR today.
However, there are a few concerns we must take into consideration. We might need to change the code structure so that each sub-package doesn't introduce cyclic dependencies.

[2020-09-02 09:33] tommyknows opened #189 "Fix module path in go.mod"
**Description**

The module path in the `go.mod` file is listed as `glab`, although to `go get` it, the correct path would be `github.com/profclems/glab`.

This makes it impossible to run `go get github.com/profclems/glab`.

**Expected Behavior**

[code]
runs without an error, building the binary.

**Actual Behavior**
[code]
**Possible Fix**
Change the first line in the `go.mod` file from `module

[2020-09-02 10:24] profclems commented on #189
Thanks @tommyknows
For most CLIs built using cobra, you're likely to encounter errors using `go get` to clone and build the binary, unless you're reusing packages in the `pkg/` folder. `glab` provides no publicly usable packages yet.
Check https://github.com/profclems/glab#building-from-source if you want to build from source.

However, I have also thought of changing the module path in case we ad

[2020-09-02 10:48] tommyknows commented on #189
Not quite sure if I understand correctly, but it is possible to just `cd` into `cmd/glab` and run `go build .` in there. Because of that, `go get github.com/profclems/glab/cmd/glab` would install the binary on the system too (unless you're running this command in a module-folder).
I've written a [wrapper](https://github.com/tommyknows/packa) for this, which effectively runs `go get [URL]@[VERSION]

[2020-09-02 12:21] profclems commented on #189
Resolved by #190

[2020-09-02 12:21] #189 closed, assigned to nobody

[2020-09-02 12:24] tommyknows commented on #189
very nice, thanks for the quick response!
I can confirm that it works as expected:
[code]

[2020-09-03 17:24] BreD1810 opened #194 "Aliases can be made with the names of commands"
Currently, you can set an alias with the same name as the command. The alias will not work, but it will be created anyways.

![image](https://user-images.githubusercontent.com/32489229/92146271-608e1380-ee11-11ea-9c28-5558f9745825.png)

Instead, there should be an error shown to the user, similar to the GitHub CLI:

![image](https://user-images.githubusercontent.com/32489229/92146408-9206df00-ee11

[2020-09-03 22:45] profclems commented on #194
Noted! I have added it to the v1.11.0 milestone

[2020-09-04 06:51] #186 closed, assigned to nobody

[2020-09-04 06:52] profclems commented on #177
@all-contributors please add @andhe for code

[2020-09-04 06:54] profclems commented on #177
@all-contributors please add @Zachcodes for financial

[2020-09-04 11:32] profclems opened #198 "glab repo clone requires to be run in a git directory"
[code]
The command should work outside a git directory as well

[2020-09-04 13:15] profclems commented on #194
Pooled a quick fix with #199.
I believe there is still a more optimized solution that needs to be considered

[2020-09-04 13:15] #194 closed, assigned to nobody

[2020-09-05 16:00] profclems commented on #177
@all-contributors please add @andhe for security

[2020-09-05 17:58] andhe opened #205 "Debian packaging discussions"
Opening this bug report for some debian packaging discussions as @profclems seems interested in that.

[2020-09-05 18:00] andhe commented on #205
`dh-make-golang estimate github.com/profclems/glab` seems to fail because go.sum contains some obsolete(?) import paths that for a project which has since been moved: should likely be resolved by removing both lines containing `github.com/russross/blackfriday/v2` from go.sum

[2020-09-05 18:07] andhe commented on #205
trivial packaging attempt `dh-make-golang make github.com/profclems/glab` creates a package, unfortunately the package fails to build because of import path confusions `glab` vs `github.com/profclems/glab` in v1.10. This issue seems to already be resolved in `trunk`, so we need to force dh-make-golang to package a git snapshot using `dh-make-golang make -force-prerelease github.com/profclems/glab`

[2020-09-05 18:23] profclems commented on #205
the glamour module seems to depend on `github.com/russross/blackfriday/v2`. Since glamour isn't packaged in debian yet, could that be another possible reason it fails?

Whoops... Let's just hope their dependencies are already packaged.

[2020-09-05 18:39] profclems commented on #205
@andhe, the module path issue wasn't resolved in previous versions including v1.10.0 so this issue is expected.
If this could solve the path confusion, we can do a pre-release for v1.11.0.

[2020-09-05 18:44] profclems commented on #205
Useful info here: https://people.debian.org/~stapelberg/2015/07/27/dh-make-golang.html

[2020-09-06 11:39] andhe commented on #170
FWIW my opinion is that YAML looks easy and nice at first glance but once you get to know the format you also learn about how completely insane it is. If you really want to switch format to something more formal and complex I'd suggest you instead look at TOML.

[2020-09-06 14:47] andhe commented on #205
[code]

Thus as far as I can tell 9 go modules need to be packaged before glab-cli can be packaged. This assumes that any already packaged module is actually new enough to actually satisfy the need. (Also note how russross/blackfriday/v2 does not show up?! Apparently it was dropped in https://github.com/charmbracelet/glamour/commit/6f20136abcf5fe157df80b499f04b913c5502964 )

(An alternative is ofc

[2020-09-06 15:17] profclems commented on #205
We should drop `russross/blackfriday/v2` then.
I'm looking out to see if we can replace some of the dependencies with those that are already packaged on debian:
[code]
`mattn/go-colorable` seems to be a good replacement for `github.com/gookit/color`

[2020-09-06 15:29] andhe commented on #198
Looks like the call chain for this is:
`repo clone ... -> currentUser() -> git.InitGitlabClient() -> GetRepo() -> GetRemoteURL()`

The currentUser() call was introduced in commit 3ec2810c44b2971151e58ed132c7bdac968f08c9 (which likely caused the regression).

(Note however that currentUser() is not the only caller of git.InitGitlabClient() in this code, so simply eliminating it does not fix the pro

[2020-09-06 15:48] andhe commented on #198
A general design comment is that  glab seems to be way to keen on calling log.Fatal* or os.Exit deep down in library or helper methods. It would be better if they would just return err instead and let higher level code deal with it (or atleast give them a chance to clean up). This would require a major refactoring/cleanup that ofcourse isn't suitable just as a fix for this bug.

A minor nitpick is

[2020-09-06 15:54] profclems commented on #198
I just thought so too... I perfectly agree with this point. I thought of doing a major refactoring to introduce some consistencies when there are no active PRs.

[2020-09-06 19:33] matthiasng opened #210 "Failed to update config file on windows"
Running `glab config -t ...` failes with `Failed to update config file: chmod C:\Users\...\AppData\Local\Temp\..env337738213: not supported by windows`

**Description**
https://github.com/profclems/glab/blob/3ff88b6ea5bb8e2aba83d6e29f9cefac533a0979/internal/config/config.go#L162
renameio.WriteFile uses [File.Chmod](https://golang.org/pkg/os/#File.Chmod) which is not supported on windows.

**Expect

[2020-09-06 19:48] andhe commented on #210
Ouch, sorry for this problem.

Maybe we can fix renameio to work on Windows too though. /cc @stapelberg
(Edit: oh you already linked the relevant renameio issue...)

[2020-09-06 20:20] stapelberg commented on #210
I’d love to receive a fix for this in renameio, but have no idea about windows myself :)

[2020-09-06 20:50] profclems commented on #210
Atomic file replacement in windows seems almost impossible unless with hardcoded routines

[2020-09-06 20:59] andhe commented on #210
@matthiasng I'm not sure how to do it, but is there any chance you could hack your renameio, replacing `t.Chmod(perm)` in writefile.go with `os.Chmod(t.Name(), perm)`, and see if that resolves the issue? (I'm not sure if the chmod is the only issue with renameio on windows...)

[2020-09-06 21:03] profclems commented on #210
We can write a temporary fix for glab by eliminating the `chmod` function on windows till the issue is resolved in renameio:

https://github.com/google/renameio/blob/353f8196982447d8b12c64f69530e657331e3dbc/writefile.go#L29

with:
[code]

[2020-09-06 21:33] andhe commented on #210
I've submitted https://github.com/google/renameio/pull/21 which was tested with a trivial test program importing my forked version from `github.com/andhe/renameio`.

[2020-09-07 07:48] matthiasng commented on #210
Following your PR in renameio it seems that this library will completely drop windows support, which in my opinion is right desigion because there is no reliable way to gurantee a atomic rename on windows.

I understand that with #170 the config loading and saving is getting to replaces by viper, am i right ? Therefore, i think that a simple workaround for windows is good enought at the moment.

[2020-09-07 08:08] andhe commented on #210
FYI example at https://github.com/google/renameio/pull/21#issuecomment-687920335 - the switch statement could just be dropped in place of the only use of renameio.WriteFile that currently exists in glab trunk.

I'm thinking the need of importing/linking `runtime` (and `renameio` on windows) could be avoided by creating a `WriteFile` helper method in afile which has a `!+build windows` and another

[2020-09-07 08:42] matthiasng commented on #210
I think renameio only fixes the sympton and not the root cause. There are several variables in the configuration, and for each of them glab reads and write the configration separately. I think reading and writing the entire file only once for all variable should be good enough (not in scope of this issue but an implicite upvote for #170).

I have also never seen a cli tool that uses atomic write o

[2020-09-07 08:49] stapelberg commented on #210
If you’re okay with emptying out your config file when you run out of disk space,
or losing your config file contents when your laptop battery runs out while you use the tool, sure.

Personally, I think it’s better to avoid these cases, so I recommend using renameio.WriteFile where available.

[2020-09-07 18:08] #210 closed, assigned to nobody

[2020-09-08 12:48] #174 closed, assigned to nobody

[2020-09-10 05:19] breml opened #217 "check-update reports update, but version is the same"
Version compare in `glab check-update` does report a new version even though, the installed and the latest version are the same.

**Description**

I have installed glab from the official .deb package (https://github.com/profclems/glab/releases/download/v1.10.0/glab_1.10.0_Linux_x86_64.deb). If I run `glab check-update`, I get the following output:

[code]

It looks like, because of the missing `v`

[2020-09-10 09:10] profclems commented on #217
Thanks @breml for reporting this issue.
This issue has been resolved by this e5fce4f1d308dcc85c78ea99506cca58a233311f and should work in newer releases. I'll do a release (v.1.11.0) this weekend

[2020-09-10 09:41] #217 closed, assigned to nobody

[2020-09-11 01:55] profclems opened #219 "Ability to set git_protocol"
**Is your feature request related to a problem? Please describe.**
Currently, `glab` performs git operations using ssh, hence users cannot access git repositories over https.

**Describe the solution you'd like**
Users should be able to decide on the git protocol that `glab` should use to perform git operations.
Users should be able to set git_protocol in the config using:
[code]
or
[code]
`glab`

[2020-09-11 11:44] #172 closed, assigned to nobody

[2020-09-11 18:02] #3 closed

[2020-09-11 20:56] andhe commented on #198
Looked at how to avoid triggering the fatal getRepo function in a minimalistic way. Given that both calls to git.InitiGitlabClient ignores the second returned argument anyway, the result in it should not matter. If the first argument passed into InitGitlabClient is set to false, that avoids the fatal code-path which also just modifies the second return argument (which we deemed did not matter)...

[2020-09-11 21:21] #198 closed, assigned to nobody

[2020-09-11 21:23] #219 closed, assigned to nobody

[2020-09-13 17:58] profclems commented on #170
I think the flow with which `glab` read from config variables should changed. Should be
***`local config -> global .env config -> OS ENV`***
instead of
***`OS ENV -> local config -> global .env config`***
To avoid conflicting with environmental variables that are not intended for glab's use.
What are your thoughts??

@andhe @BreD1810

[2020-09-13 18:06] profclems commented on #198
Thanks @andhe, have you considered any optimal alternative solution??
The alternative solution I can think of is to initialize the GitLab client directly without calling git.InitGitlabClient() but that isn't a consistent solution imao

[2020-09-13 19:23] BreD1810 commented on #170
Personally I like the current approach as it means I can override local/global settings with environment variables should I need to. I can't think of many uses for it, but it is a nice override option that is less permanent than changing a settings file.

As for conflicting environment variables, are there any programs we know that conflict?

[2020-09-13 19:29] profclems commented on #157
@pgollangi in order to enhance restructuring the commands folder into separate units and write better tests, I'm currently rewriting the config package which I will open a PR soon to cover.
Also to avoid introducing cyclic dependencies, I will create a factory package that initializes the needed functions and passes them to the `commands/*`

[2020-09-14 15:12] pgollangi commented on #157
@profclems Its only good to make restructuring command after #223 and even organizing commands as part of #223 would make sense to me.

[2020-09-18 08:55] pedropombeiro opened #225 "`glab pipeline ci view` command crashes on branch with child pipelines"
**Description**

The following command crashes:

[code]

[code]
**Expected Behavior**

I should be able to see the pipeline, as for branches which don't contain child pipelines.

**Actual Behavior**

The app crashes because this particular branch contains a dynamically generated child pipeline.

**Possible Fix**

**Steps to Reproduce**

1. Create a child pipeline on a `.gitlab-ci.yml` file
2. Run

[2020-09-18 09:28] profclems commented on #225
Thanks @pedropombeiro for reporting this issue. We will have this fixed asap.

Check if a pipeline actually exists on the branch you're accessing or you entered the correct branch name

[2020-09-18 09:35] pedropombeiro commented on #225
Thanks. The answer is yes to both questions.

[2020-09-18 13:32] andhe commented on #170
I would personally expect environment setting to override config files.

[2020-09-20 00:55] profclems commented on #177
@all-contributors please add @zemzale for code

[2020-09-20 19:58] #170 closed, assigned to nobody

[2020-09-25 04:46] sunzoje opened #230 "Issue Edit/Update"
**Is your feature request related to a problem? Please describe.**
Right now there's no way to update or edit issue for title, description, labels and others.

**Describe the solution you'd like**
Allow command to edit/update an issue:
`glab issue update <issue_no> --label <newlabel>` for adding label.
Likewise we can have `--unlabel <oldlabel>` to remove label

[2020-09-25 05:59] profclems commented on #230
Thanks @sunzoje! This is worth considering

[2020-09-26 11:12] zemzale commented on #167
Since I had listing only mine MR done I figured I could implement the `glab mr list --assignee=<username>`, part too.

I came up with few problems. GitLab allows filtering only by single [assignee ID ](https://docs.gitlab.com/ce/api/merge_requests.html#list-project-merge-requests). That might not be a problem since we could do multiple request, one per user, and then display.

Before we can make t

[2020-09-27 11:33] profclems commented on #167
It is best we consider the exact matches.
Note that the users' API returns a single user though in a multidimensional array if the username queried exactly matches a particular user

[2020-09-29 05:55] #157 closed, assigned to nobody

[2020-09-29 08:15] sunzoje opened #232 "Not able to start application"
**Description**
With the commit sha dec7d94f48ed9cef2d59b1c4499dcd1d7853bb21 I'm getting
[code]
when trying to start the application. Every command with flags displays the aforementioned message.

**Expected Behavior**
Application starts without aforementioned error message.

**Actual Behavior**
Aforementioned error message is displayed.

**Steps to Reproduce**
[code]

**Your Environment**
* Versi

[2020-09-29 08:25] profclems commented on #232
Sorry you've had this issue... Were you having an older version installed initially?

[2020-09-29 09:32] sunzoje commented on #232
No. No issue at all.

[2020-09-30 21:04] profclems opened #233 "Add `glab login` command"
**Is your feature request related to a problem? Please describe.**
Instead of directing the user to create an access token and use it to authenticate glab, there should be a command to directly login to GitLab and create access token with API scope for glab.

**Describe the solution you'd like**
Add the `glab login` command to log in to GitLab and create an access token for user. Since `glab` supp

[2020-09-30 21:29] profclems commented on #103
@akshaybharambe14 are you still up for this??

This should help: https://github.com/microsoft/winget-pkgs#submitting-a-package

[2020-10-01 13:08] unjuli commented on #233
May I pick this up?

[2020-10-01 13:18] unjuli commented on #79
I'd like to pick this up too if still available.

[2020-10-01 13:24] profclems commented on #233
Yeah sure @anjali-sharma... You're welcome

[2020-10-01 14:46] profclems commented on #233
I would suggest we use `glab auth login` instead of `glab login` so that in case we consider adding other authentication commands in the future, we wouldn't have to refactor again.
We may consider `auth` subcommand like `logout`, `refresh` later

[2020-10-01 14:52] unjuli commented on #233
Makes sense. Will do that 👍

[2020-10-01 15:19] unjuli opened #234 "Redundant newlines for version output"
**Description**
`Fprintln` on Line 17 and `Sprintf` on Line 10 [here](https://github.com/profclems/glab/blob/trunk/commands/version/version.go) lead to two newlines after the version output.

**Expected Behavior**
[code]

**Actual Behavior**
<2 newlines>
[code]

**Possible Fix**

https://github.com/profclems/glab/commit/d6540bf

**Steps to Reproduce**

1. `glab version`

**Context**

The intention

[2020-10-01 15:20] unjuli commented on #234
Ideally, there should be no newlines but that could be a personal preference.

[2020-10-01 16:46] #234 closed, assigned to nobody

[2020-10-01 16:54] unjuli opened #237 "Error message for unresolved commands refers to invalid option `glab auth login`"
**Description**
For unresolved commands, the error message which is rendered is misleading since the command mentioned is invalid.

**Expected Behavior**
[code]

**Actual Behavior**
[code]

**Possible Fix**
Update the help text.
(Happy to pick this up and push a fix.)

**Steps to Reproduce**

1. Run any invalid glab commands like `glab mr list`, `glab mr create` without adding gitlab access tokens

[2020-10-01 17:49] profclems commented on #237
Yeah I know I should've added this error message after the `glab auth login` command has been completed.
While working on this #229 I had wanted to add the login feature directly but I thought it would be wise to do that in a separate PR.

[2020-10-01 17:50] profclems commented on #177
@all-contributors please add @anjali-sharma for code and bug

[2020-10-01 17:59] profclems commented on #237
I don't know if we should depreciate the `glab config init` for `glab auth login` or leave it as an alternative for users who wouldn't want to login via `glab` but just create the access token and authenticate `glab` with it.
What are your thoughts?

[2020-10-01 18:05] profclems commented on #79
That's great @anjali-sharma

[2020-10-01 19:54] unjuli commented on #237
Yeah, it can be deprecated in future. Should be fine for now.

By the way, I'm trying to test `glab config init` but it is not working for me.

Using `glab` downloaded via Homebrew:
[code]
Am I missing something?

[2020-10-01 21:13] unjuli commented on #79
@profclems What do you mean by annotations here?

[2020-10-01 21:14] profclems commented on #237
I just fixed the auth check issue on the `config init` command.
Also note that `glab` looks through the git remotes to find remote pointing to gitlab.com or any known host in the config.yml file.
If your local repo does not point to any known/authenticated host, glab will throw an error.

Replying to your edit:
`config init` is not available in any of the released versions. https://github.com/prof

[2020-10-01 21:34] unjuli commented on #237
Thanks for the clarification and quick fix.
Feel free to close the issue if needed.

[2020-10-01 21:41] profclems commented on #79
Comments or notes added to the changes
You can leave that out for now and show only the diff

[2020-10-02 01:59] sunzoje commented on #232
Closing. Problem was due to old global config structure. Fixed as of sha 1b77f9e259a6337d616e8dfc2eec1dae6d3dddd5

[2020-10-02 01:59] #232 closed, assigned to nobody

[2020-10-02 17:12] profclems commented on #233
@anjali-sharma I have fixed the travis test issue. You can update your branch and see if it works for you

[2020-10-02 21:52] #237 closed, assigned to nobody

[2020-10-03 22:25] #230 closed, assigned to nobody

[2020-10-03 22:27] profclems commented on #177
@all-contributors please add @sunzoje for code

[2020-10-04 00:11] profclems opened #248 "[Feature] Support for issue boards"
**Is your feature request related to a problem? Please describe.**
GitLab supports issue boards for projects and groups. Since `glab` aims at bringing most relevant GitLab features to the command line, it would be nice to be able to view and manage project issue boards directly from the CLI with `glab`

**Describe the solution you'd like**
`glab` should provide support for GitLab issue boards.
Ava

[2020-10-04 00:22] #43 closed, assigned to nobody

[2020-10-04 11:13] profclems opened #249 "[Feature] Ability to import GitHub and Bitbucket repos to GitLab"
**Is your feature request related to a problem? Please describe.**
GitLab's API has support for importing repositories from GitHub and Bitbucket to GitLab.
It would be a nice-to-have feature in `glab`.

**Describe the solution you'd like**
`glab` should provide a sub-command for the `repo` command that helps users import repos from GitHub and Bitbucket to GitLab.
[code]
It should be noted that the

[2020-10-05 11:45] solidnerd opened #253 "Missing global flag option in glab config init"
**Description**

I installed glab fresh from homebrew and tried to set up a global configuration.

**Expected Behavior**

After `glab config init -g` a prompt appears to configure everything.

**Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1.  `glab config init -g`

**Context**

Can set a configuration globally like described in the [README.md](https://github.com/profclems/glab#con

[2020-10-05 12:08] #253 closed, assigned to nobody

[2020-10-05 12:10] profclems commented on #253
Sorry for this...
`glab config init` saves to the global configuration and does not have a global flag. I have updated the docs.
Thanks for reporting this Issue

[2020-10-05 17:41] solidnerd commented on #253
You are welcome!  I wasn't sure if it's a bug so I didn't send the pr for fixing this.

[2020-10-05 18:20] profclems commented on #253
I look forward to your PRs in case you'd want to submit one 😊.
You started out a great work with [gogpat](https://github.com/solidnerd/gogpat)

[2020-10-07 21:34] #248 closed, assigned to nobody

[2020-10-08 15:33] 34875634567 opened #258 "Improve scriptability"
It's currently quite tricky to write scripts with `glab` as the output is porcelain. E.g. `glab mr list` outputs:

[code]

Could it default to plain-text when writing to non-interactive ttys, or provide a flag of some sort to control this behaviour?

[2020-10-08 16:22] profclems commented on #258
Thanks @34875634567
I have considered adding `prompt` and `color_enabled` or `no_color` boolean options to the configuration to take care of this.

[2020-10-09 03:09] profclems commented on #258
Also, there's a quick way to prevent color output; that's setting the environment variable `NO_COLOR=true`
[code]

[2020-10-09 03:13] profclems commented on #106
@iggyvolz while we work on fixing this kindly refer to this comment https://github.com/profclems/glab/issues/258#issuecomment-705941793 for a quick fix

[2020-10-09 07:59] #167 closed, assigned to nobody

[2020-10-10 02:43] sunzoje opened #259 "Create Label is Missing"
**Description**
Code for creating label is present in the repo at  `glab/commands/label/create/create_label.go`.
Printing help for label doesn't list the create command.

**Expected Behavior**
Create command for label should be listed and should be able to create labels.
[code]
**Actual Behavior**
[code]

**Your Environment**
* Version used: 1.11.0-pre2
* Operating System and version: macOS catali

[2020-10-10 10:15] #259 closed, assigned to nobody

[2020-10-12 06:50] zemzale opened #262 "Change merge request assigne"
**Is your feature request related to a problem? Please describe.**
In my organization we assigne one of the seniors/maintainers of the repo for them to review the MR when it's ready.
Right now I can create an merge request using this tool, but once the mr is in a state where it's ready to be merged I can't change the assignee to other maintainers to review them.

**Describe the solution you'd like

[2020-10-12 06:53] zemzale commented on #262
As per GitLab API docs this should be trivial https://docs.gitlab.com/ee/api/merge_requests.html#update-mr

If there are no comments, or objections about it, I will start work on implementing this

[2020-10-12 12:12] profclems commented on #262
Sounds a great idea @zemzale. You can go ahead. Thanks

[2020-10-13 10:53] 34875634567 commented on #258
Hi, thanks for the input. I think `NO_COLOR` env var will work for my purposes.

[2020-10-13 12:33] 34875634567 opened #263 "NO_COLOR is not working"
Setting the env var `NO_COLOR` does not affect output

**Expected Behavior**
Colour codes should not be present.
[code]

**Actual Behavior**
[code]

**Your Environment**

* Version used: 1.10.0
* Operating System and version: macOS Catalina

[2020-10-13 12:41] profclems commented on #263
The `NO_COLOR` env var is recognized from v1.11.0-pre1.
You should upgrade with `brew upgrade glab` if you used homebrew to install

[2020-10-15 16:07] #262 closed, assigned to nobody

[2020-10-15 16:08] #263 closed, assigned to nobody

[2020-10-15 16:11] profclems commented on #258
I would like to keep this issue open as there are some major scriptability improvement works to be done:
- [ ] Ability to disable survey prompts on non-ttys
- [ ] Avoid printing command progress information on non-ttys
- [x] using `PAGER`

[2020-10-15 16:20] 34875634567 commented on #263
Apologies, my mistake. Thanks for your help.

[2020-10-16 02:07] petsgre opened #268 "{message: 405 Method Not Allowed}"
When i accept a mr , use command 'glab mr merge 15'
It showed

**Your Environment**

* Version used:➜ glab --version
glab 1.11.0-pre2 ()
* Operating System and version:

[2020-10-16 07:55] profclems commented on #268
You're likely to receive this error when the mr is a draft or a work in progress or When there are merge conflicts.
Make sure it's not a draft before merging:
[code]
Check and let us know your feedback

[2020-10-16 07:57] profclems commented on #268
I agree there should be a proper error handling on the endpoint to show merge conflicts and drafts when merging. That has been done with #264 which is pending release

[2020-10-16 10:20] petsgre commented on #268
I ran this command,but still got same error
merge_requests/15/merge: 405 {message: 405 Method Not Allowed}

And i'm sure there are no conflicts,and not in progress,i had created a test merge request,still got some problem

[2020-10-16 11:18] profclems commented on #268
Sorry you're having this issue.
`glab` heavily relies on the GitLab API. From the API docs, it states:

Kindly check if your merge request has any of the issues stated by the API docs.

[2020-10-19 02:00] petsgre commented on #268
When i merge request on website, it will be fine
![image](https://user-images.githubusercontent.com/22208613/96393493-db5c9380-11f1-11eb-8ca3-e96ae6bb9a91.png)

but when i merge request in terminal by API, will get 405,
Did i lose something when i merge it through the API ?

[2020-10-19 09:40] alzedd opened #270 "api_protocol seems to be ignored"
It seems that I can't se `api_protocol` for a custom gitlab install
**Description**

This is my minimal config
[code]

**Expected Behavior**

My custom gitlab URL should use the defined `api_protocol` (eg: http://gitlab.self.hosted.address)

**Actual Behavior**

Every Api Call is done in HTTPS (eg: https://gitlab.self.hosted.address) getting an 'untrusted certificates' error.

**Steps to Reproduce

[2020-10-19 09:45] profclems commented on #270
Sorry you're having this issue. That was a minor oversight. I will submit a fix right away. Thanks

[2020-10-19 10:22] alzedd commented on #270
Thank you!

[2020-10-19 11:29] vkuznet opened #272 "Unable to run on Linux CC7"
I downloaded glab from https://raw.githubusercontent.com/profclems/glab/trunk/scripts/quick_install.sh and install it in my local area, after that I get this
[code]
But glab help works just fine

**Description**
Unable to use executable

**Expected Behavior**

**Actual Behavior**

**Possible Fix**

**Steps to Reproduce**
1. glab issue list

**Context**

I also tried to build it from source but the

[2020-10-19 11:51] profclems commented on #272
Sorry you're having this issue. I can't seem to reproduce the error.
Can you upgrade to [v1.11.0-pre2](https://github.com/profclems/glab/releases/tag/v1.11.0-pre2) and see if you can reproduce the same error.
You can install with [snap](https://github.com/profclems/glab#snapcraft) or [Linuxbrew](https://github.com/profclems/glab#linuxbrew-homebrew)

[2020-10-19 11:58] vkuznet commented on #272
Hi, this is quite old Linux distro and neither snap or Linuxbrew is installed. Instead, can you just provide a static executable to try out?

[2020-10-19 12:06] profclems commented on #272
Check the releases page https://github.com/profclems/glab/releases/tag/v1.11.0-pre2 and download an rpm and install with yum.

You might as well install with:
[code]

[2020-10-19 12:32] vkuznet commented on #272
hmm, this seems to work as executable, and now I face yet another issue:
[code]
Then I did
[code]
but here I have no idea where to get the Token, so I just press Return. And, then
[code]

When I look at my .git/config I see this
[code]

So, it seems to me, it is not that simple to use it with gitlab configured with custom authentication methods.

[2020-10-19 12:41] profclems commented on #272
You should be able to get an access token with API scope at https://gitlab.cern.ch/profile/personal_access_tokens.

Do you access the API through a specific port?

[2020-10-19 13:03] vkuznet commented on #272
Cool, it works now, thanks a lot for guidance.Since issue is resolved I'm closing it.

[2020-10-19 13:03] #272 closed, assigned to nobody

[2020-10-19 14:53] zemzale opened #273 "Ability to mark branch to be deleted on merge"
**Is your feature request related to a problem? Please describe.**
When creating MRs from WebUI I always mark delete branch when merged, since I like to leave the repos clean with no stale branches.

This is not possible right now, and it's quite frustrating UX since I can create MR, but to mark it to delete on merge I got to open the browser.

**Describe the solution you'd like**
There are two pl

[2020-10-19 17:59] profclems commented on #273
Great! I thought of this too... gh has a similar implementation
You have spare time to take this up?

[2020-10-20 04:25] zemzale commented on #273
Yeah, I probably will come up with an PR in the next couple of days

[2020-10-21 13:01] #270 closed, assigned to profclems

[2020-10-21 15:43] profclems opened #276 "`glab auth login` workflow changes"
I opened this issue #233 as a feature request to create better authentication between `glab` and GitLab and also, dynamically create access token for users directly using their username and password.
However, GitLab currently does not support creating an access token using the GitLab API. Access tokens can only be created on GitLab's web UI.
There is an [issue][1] on this. A [merge request][2] was

[2020-10-21 15:45] profclems commented on #233
I'm closing this issue in favour of #276

[2020-10-21 15:45] #233 closed, assigned to nobody

[2020-10-22 14:39] profclems commented on #268
Kindly check that your access token has `api` and `write_repository` scopes enabled.
You may have to create a new token to validate with the `api` and `write_repository` scopes enabled.
 https://xxx/profile/personal_access_token

[2020-10-23 03:12] petsgre commented on #268
![image](https://user-images.githubusercontent.com/22208613/96952152-b7b28980-1520-11eb-8e7a-e823546060ed.png)

I give the all permission , and use `glab config init ` set the new access_token
Still got 405 when use `glab mr merge 19 `

[2020-10-25 06:38] profclems commented on #268
We will release v1.11.0 today. So you can upgrade and see if you can still reproduce this same error

[2020-10-25 11:21] profclems commented on #273
Squashing is enabled on the `mr merge` command via the `--squash-message` and `--squash` flags.
I'm thinking of adding an interactive way of doing this for interactive ttys if the `--squash` flag is not specified like this:

[code]

[2020-10-25 11:39] #273 closed, assigned to nobody

[2020-10-25 11:40] #276 closed, assigned to nobody

[2020-10-26 08:54] petsgre commented on #268
Maybe you didn't release until now?
![image](https://user-images.githubusercontent.com/22208613/97152510-fad45d00-17ab-11eb-8875-94f28187daea.png)

[2020-10-26 17:37] #79 closed, assigned to nobody

[2020-10-27 08:16] lionep opened #282 "check-update failing"
When running check update, a new version is advertised, same as current one (v1.11.0)

**Description**

[code]

**Expected Behavior**

No update should be proposed.

**Actual Behavior**

An update with same version is proposed.

**Possible Fix**

I think the heading "v" is responsible for this mismatch.

**Your Environment**

- glab v1.11.0d
- mac OS Catalina 10.15.7, installed with Homebrew.

[2020-10-27 17:56] profclems commented on #268
That was a prerelease. I released v1.11.0 yesterday

[2020-10-29 11:04] petsgre commented on #268
➜ glab mr merge
you do not have enough priviledges to merge this merge request

Why? I can merge it on website
Do i need configure something when use command?

[2020-10-29 13:05] profclems commented on #268
I don't really know what's happening on your end but GitLab merge request endpoint response has this:

[code]

`glab` uses that to check if the user is authorized to merge the merge request
https://github.com/profclems/glab/blob/5b9c10f72a91a72aa1e958794b5b658bb5c1470d/commands/mr/mrutils/mrutils.go#L70-L72

Possibly, you may be using a different access token. Try authorizing again with `glab auth

[2020-10-30 01:18] petsgre commented on #268
![image](https://user-images.githubusercontent.com/22208613/97648855-c8b74980-1a90-11eb-98fb-6f6a20f1fb29.png)

![image](https://user-images.githubusercontent.com/22208613/97648863-cead2a80-1a90-11eb-81c9-e731df29c2a1.png)

There is some screenshoot info , please help me check it out

[2020-10-30 11:20] zemzale commented on #42
I added a Draft PR for this feature. Would be nice if I could get some input

[2020-10-30 19:23] debdolph opened #285 "glab mr for $issue mentions merge requests"
If I want to create a merge request for issue 1, glab mentions `!1` in the description. It must mention `#1`.

[2020-10-31 11:24] #285 closed, assigned to nobody

[2020-11-01 15:47] georgiotunson commented on #249
@profclems Hey mind if I work on this issue?

[2020-11-01 16:17] profclems commented on #249
Sure

[2020-11-01 16:18] profclems commented on #249
Sure. You can self assign and take it up. Thank you!

[2020-11-01 16:22] georgiotunson commented on #249
Sure, any additional info on where to start would be helpful e.g. where should I add the sub command. Where in the source code can I find the repo command?

[2020-11-01 16:35] profclems commented on #249
`repo` is aliased as `project`; all the repo commands source codes are in the `./commands/project` folder.
`glab` uses https://github.com/xanzy/go-gitlab library to access the GitLab API.

Ref: https://docs.gitlab.com/ce/api/import.html

[2020-11-01 17:03] carlpett opened #287 "Bash completion broken"
**Description**
The generated bash-completion is broken.

**Expected Behavior**
`glab <tab>` should complete.

**Actual Behavior**
`$ glab <tab>-bash: aliashash[""]: bad array subscript`

**Possible Fix**

**Steps to Reproduce**

1. `eval $(glab completion -s bash)`
2. `glab <tab>`

**Context**

**Your Environment**

* Version used: glab 1.11.0 (2020-10-26)
* Operating System and version: Fedora 3

[2020-11-01 17:11] georgiotunson commented on #249
Thanks for the info. I will start working on this. I am not able to self assign so if you could assign this to me that would be great.

[2020-11-02 10:47] profclems commented on #287
Resolved by @carlpett with #288.
Thanks @carlpett

[2020-11-02 10:47] #287 closed, assigned to nobody

[2020-11-02 10:47] #177 closed, assigned to nobody

[2020-11-03 04:34] profclems commented on #268
I have encountered this issue today. `glab mr merge` is supposed to find the open mr on the current branch and merge but I received `you do not have enough priviledges to merge this merge request`.

It works when I specify the merge request id: `glab mr merge 337`.
I will open a PR to fix this asap

[2020-11-04 10:21] petsgre commented on #268
Thanks for you work and when will release it?

[2020-11-04 10:44] profclems commented on #268
I did a patch release yesterday

[2020-11-05 14:13] profclems commented on #282
Thanks @lionep. I actually thought I have fixed that

[2020-11-06 18:42] jthornhill opened #295 "Repo search requires an undocumented positional argument, but does not seem to use it"
**Description**

`glab repo search` requires a positional argument. However, the function of the positional argument is not documented nor does it appear to do anything.

**Expected Behavior**

`repo search` should not require a positional argument

**Actual Behavior**

`repo search` requires a positional argument

**Possible Fix**

The search behavior should match the help text. If the argument i

[2020-11-07 08:44] petsgre commented on #268
Upgrated to 1.11.1
And login with a new token
But still got 405...

[code]

![image](https://user-images.githubusercontent.com/22208613/98436750-e03da480-2118-11eb-83e6-29048e548137.png)

[2020-11-10 09:50] #42 closed, assigned to nobody

[2020-11-11 08:18] zemzale commented on #295
This seems to be an error with the repo search command. It for some reason requires one argument that it doesn't use. I opened a PR to fix this.

[2020-11-11 08:25] zemzale commented on #106
This seems to be fixed with the newest releases, where pager for displaying merge request lists.
[code]

I would imagine we could expand the size the output depending on the size of the terminal, since it cuts off before reaching half of my terminal size, but that is out of scope for this issue.

[2020-11-11 11:55] #295 closed, assigned to nobody

[2020-11-11 12:00] profclems commented on #106
Yeah I agree with you @zemzale. Kindly open a separate issue for this then we see how best we can resolve this issue

[2020-11-11 12:14] #106 closed, assigned to nobody

[2020-11-11 19:39] debdolph opened #299 "Copy labels when creating MR for issue"
It would be nice if glab would copy the labels of an issue when creating a mr with `glab mr for $issue`. This option maybe could be configurable with a command argument.

[2020-11-12 07:39] zemzale opened #300 "Table printer should take as much terminal space as it can"
**Is your feature request related to a problem? Please describe.**
When we are printing something with table printer we always default width of 70 cells. When we have long output like for example in #106, this output gets cut off while the terminal has still plenty of output space.

**Describe the solution you'd like**
We should query the terminal for it's width. There is https://godoc.org/golang.

[2020-11-12 07:53] zemzale commented on #299
This seems like a good feature to add.

I would propose we add option `--wtih-labels` for `mr for` command that would copy the labels from the related issue on creation.

[2020-11-12 09:39] profclems commented on #299
I agree with the `--with-label` flag option

[2020-11-12 09:55] profclems opened #301 "[Bug] `mr close` panics with index out of range [0] with length 0"
`glab mr close` panics when merge request ID is not provided.

**Expected Behaviour**

If the merge request id is not provided, `glab` should find the open merge request for the current checked out branch and close it

**Actual Behaviour**
[code]

It works when merge request ID is provided
[code]

[2020-11-13 12:28] profclems commented on #300
Resolved by this commit 7506a8a837812a9a0fd0ea12d6d4ae7b55b3649e

[2020-11-13 12:28] #300 closed, assigned to nobody

[2020-11-15 06:06] #299 closed, assigned to nobody

[2020-11-15 15:35] zemzale commented on #301
I started to implement a fix for this, but came up to some stuff that I found a bit weird.
In `commands/mr/close/mr_close.go` we are getting the current branches merge request ([reference](https://github.com/profclems/glab/blob/bc7bafcc0538d2490f8a6181f464439bb3caf3ca/commands/mr/close/mr_close.go#L29)).
Later on we are ignoring this and just getting MR ID from args where the panic is thrown.

The

[2020-11-15 17:11] profclems commented on #301
Whoops!!! I completely forgot this functionality (ability to close, reopen, merge and delete multiple merge request) while working on the `MRFromArgs` function.
I think we should fix both.

[2020-11-16 14:38] profclems commented on #67
@zemzale what do you think about this issue?
I recently had the chance to talk with GitLab's Open Source Program Manager and she suggested we move the hosting to GitLab.
Personally, I'm okay with it here because we are already using [GitLab CI](https://github.com/profclems/glab/blob/trunk/.gitlab-ci.yml) to run the tests and we have a mirror on [GitLab](https://gitlab.com/profclems/glab).
I still

[2020-11-16 16:38] #282 closed, assigned to nobody

[2020-11-16 18:51] espoelstra opened #310 "Would be nice to get prompted to run `glab config init` to set `gitlab_uri` if supplying a `--hostname` to `glab auth login`"
**Is your feature request related to a problem? Please describe.**
When attempting to clone from a host the initial attempts fail immediately because it was assumed gitlab.com and the repository of course doesn't exist there even though I had run the `glab auth login --hostname mygitlab.host`.

**Describe the solution you'd like**
If `glab auth login --hostname` is invoked but `glab config --globa

[2020-11-16 18:56] espoelstra opened #311 "Running `glab config init` the pasted in token isn't masked in the terminal, when using `glab auth login --hostname` it is"
**Description**
Pasted token not masked in all cases.

**Expected Behavior**
Pasted token should be masked.

**Actual Behavior**
Pasted token appears inline after the prompt.

**Steps to Reproduce**

1. `glab config init`
2. Set custom hostname
3. Paste token at the prompt
4. Observe token in the scrollback/visible output.

**Context**

This is unsafe if the output of the terminal is being logged

[2020-11-16 19:00] profclems commented on #311
`glab config init` is set to be depreciated in favour of `glab auth login`.

Passwords are masked when using `glab auth login`.

`glab auth login` has `--stdin` option which allows to read token from file
https://github.com/profclems/glab#authentication

[2020-11-16 19:02] zemzale commented on #67
I think for the moment the OSS visibility is really the main reason why we should stay on GitHub.
I love using GitLab and I use it way more for personal and work related things, but I strongly believe that the visibility is not there for OSS projects.

[2020-11-16 19:52] profclems commented on #310
@espoelstra thanks a lot for detailing your case. This really makes sense. I agree with prompting the user to select a host. I will add it to my backlog and see if I can submit a fix within the week.

It is however open for anyone who would like to submit a fix sooner

[2020-11-16 19:56] #311 closed, assigned to nobody

[2020-11-16 20:05] zemzale commented on #310
I would imagine we could also default to the available hosts in the config and work from there.
If there is only one host setup and it isn't gitlab.com, we default to that. We could also tell user that we used this host because `gitlab_uri`(or whatever value is used for getting the default host, I don't know how this exactly works) wasn't available.

[2020-11-16 23:12] guyfedwards opened #313 "Tests fail with `make test`"
**Description**

Currently the tests are failing seemingly due to some explicit checking of `profclems/glab` for remotes in tests and also some tests for creating merge_requests failing to push changes. Looking through the code it seems as though for the tests there shouldn't be any code actually running against the main repo, should be using the `test/testdata` setup so could be a config/my env i

[2020-11-17 06:31] profclems commented on #310
If `glab` is run from a git repository, it looks through the git remotes available and checks if any of them is authenticated.
It is extremely rare to have multiple authenticated hosts in a single repository but if that happens, `glab` gives priority to the remotes nicknames in this order `upstream > gitlab > origin`.
If there are multiple remotes pointing to the same hosts, like:
[code]
`glab` wi

[2020-11-17 18:28] profclems commented on #313
Thanks @guyfedwards for the detailed input. This PR (#317) should fix it

[2020-11-17 18:30] #313 closed, assigned to nobody

[2020-11-17 22:26] eingress opened #318 "[Feature] Delete Repository"
Please implement

DELETE https://gitlab.com/api/v4/projects/<REPOSITORY>

[2020-11-18 10:17] junderhill opened #319 "Pass variables when running a pipeline"
When running pipelines we use variables to trigger a release to the specified environment.

An additional argument when calling `glab pipeline run` such as `--variables KEY:VALUE` would be ideal.

Currently, the only alternative is to use the web UI.

[2020-11-18 10:19] junderhill commented on #319
I have just noticed looking at the code there is already a mention of this functionality in a `todo` comment.

https://github.com/profclems/glab/blob/9b0868068e88acdec171aa07d6651df537b72986/commands/pipeline/run/pipeline_run.go#L60

I don't have much experience in `Go` but I will try and take a look at implementing this functionality over the next day or so.

[2020-11-18 15:58] reobin opened #320 "GLAB_PAGER not being used"
**Description**

I was about to create a feature request for the support of a `glab` specific pager environment variable, but I was glad to find by looking at the code that it was added a little while back. (docs should probably be added on its usage for other users like me).

With that said, not sure if it's specific to my config, but the variable doesn't seem to get picked up.

Here's a gif wher

[2020-11-18 16:44] profclems commented on #320
Sorry about that. I just realized PAGER is used if set, before falling back to GLAB_PAGER

While we work on fixing it, use
[code]
Or set the PAGER env var and run glab

[2020-11-18 16:47] reobin commented on #320
Thanks for the quick response @profclems !

[2020-11-18 16:53] profclems commented on #318
Thanks @eingress. I initially thought of adding this feature but held back looking at how critical it is and the problems it could create; such as a user mistakenly deleting a repo.
But I think we can implement it to be safe following these:

- user should be prompted to confirm action:
   - ask to verify repo name (as implemented on the UI)
   - a 'YES/NO' confirmation prompt

- add `--force, -f`

[2020-11-18 17:31] eingress commented on #318
With great power comes great responsibility…

A force flag would be preferable, one of the reasons to have this in a cli is to avoid jumping through the hoops the Web UI entails.

Use case, multi-repo (opposed to mono-repo) projects; I want to shell script/loop the deletion of several repos at once, being forced to click through multiple dialogues is painful at best.

[hub](https://github.com/gith

[2020-11-19 12:08] elkowar opened #322 "Include more details in `glab mr view`"
**Is your feature request related to a problem? Please describe.**
Currently, when looking at merge requests from glab, relevant details like if a merge request has been approved, the pipeline-status, or if it can be merged directly (rebase necessary?) are not easily visible.

**Describe the solution you'd like**
More details should be included in top status line. Here, it already mentions "merged

[2020-11-19 13:21] profclems commented on #319
Thanks @junderhill. I look forward to that

[2020-11-19 14:12] profclems opened #323 "GitHub Action for glab??"
I just had this thought of having a GitHub action for glab.

**Do we need that? **

Yeah, I think we do.
Especially for repos on GitHub that are mirrored to GitLab. Maintainers may decide to accept issues and merge requests on GitHub, and write a script that automatically creates the issues and merge requests on GitLab too.
I think there are a lot of  other use cases way beyond my imagination.

**

[2020-11-20 10:11] zemzale commented on #322
I am for adding more info to the `mr view` command.

Pipeline statues would be pretty easy to implement I suppose, but that should probably be just overview t.i. pipelines still running/failed/success. Smaller details should be gotten from `pipeline` commands.

For approval statuses there is the problem that anything that is related to [approvals](https://docs.gitlab.com/ee/api/merge_request_appro

[2020-11-20 10:23] profclems commented on #322
Yeah should be easier adding the pipeline status should be straightforward since the single mr endpoint (GET) comes with the pipeline details as well.
The merge details as @elkowar suggested can also be added.
[code]
https://docs.gitlab.com/ee/api/merge_requests.html#get-single-mr

[2020-11-20 11:27] bigspawn opened #325 "Failed watching pipe status -l"
**Description**
[code]

**Your Environment**

* Version used: 1.11.1
* Operating System and version: macOS 11.0.1 (20B29)

[2020-11-20 11:29] profclems commented on #325
Sorry for having this issue. Run `glab pipe ci view` and see if you encounter any errors

[2020-11-20 13:25] bigspawn commented on #325
When pipeline already started in gitlab server `glab pipe ci view` works well but for the first time when pipeline pending it failed with error
[code]

[2020-11-20 13:56] bigspawn commented on #325
seems that I can use `glab pipeline status --live` command instead of the old variant with `glab pipe status -l`

[2020-11-20 14:31] zemzale commented on #325
About the panic in `glab pipe ci view` it seems that the panic is caused by trying to access `commit.LastPipeline.ID` [here](https://github.com/profclems/glab/blob/trunk/commands/pipeline/ci/view/pipeline_ci_view.go#L96).

I was able to reproduce this by creating an empty repo without any pipelines and then running `gitlab ci view`.
The API returned empty `last_pipeline` field and crashed
[code]

[2020-11-22 14:24] nigel4321 commented on #325
Not sure if this is related, though when I run
`glab  pipeline status -l`

The response is :
`GET https://gitlab..../api/v4/projects/tools/templates/pipelines: 400 {error: order_by does not have a valid value}`
Adding the above URL in the my browser's window gives me a 404.

`glab pipe ci view` works fine for me on the same project.

This is using hosted CE gitlab.

[2020-11-22 14:30] profclems commented on #325
@nigel4321 I'm not really sure what might have caused it. The GitLab API changes.
What version of GitLab CE are you using?
What version of `glab` are you using?

[2020-11-22 19:25] nigel4321 commented on #325
@profclems
Tried with gitlab 11.11 and 12.10
glab 1.11.1

The list pipelines call (if that's what's happening there) looks like it was added in gitlab 8.11 :
https://docs.gitlab.com/ee/api/pipelines.html#list-project-pipelines

[2020-11-23 07:04] #301 closed, assigned to nobody

[2020-11-23 07:40] zemzale commented on #325
We use `order_by:updated_at` with `glab pipeline status` here:
https://github.com/profclems/glab/blob/48d09dfd41b0357f801a4454fc6dd0d8fff6323e/commands/pipeline/status/pipeline_status.go#L56
It makes sense that there is an error with GitLab 11.11 since it wasn't there yet https://docs.gitlab.com/11.11/ee/api/pipelines.html#list-project-pipelines, but it should work with Gitlab 12.10 https://docs.g

[2020-11-23 07:47] zemzale commented on #323
This seem like a nice thing to have, since that would open up a lot of opportunities, for cross GitHub and GitLab usage.

[2020-11-23 08:36] zemzale commented on #225
This seems to be the same issue as here: https://github.com/profclems/glab/issues/325#issuecomment-731203988
I will try to mock up a PR, so we don't panic like this at least.

[2020-11-24 11:31] profclems opened #329 "Changes on current `mr create` and `issue create` flow"
I had a couple of thoughts about the current `mr create` and `issue create` flow and came up with these issues and suggested changes.

**Issues**
1. Description step is not skippable for interactive mode
1. Users are unable to preview the issue or merge request body as can be done on the UI

**Suggested Changes**

- [x] Make the description step skippable

[code]

- [x] Provide submit options to a

[2020-11-24 12:12] profclems opened #330 "Support issue and merge request templates on `issue create` and `mr create`"
**Is your feature request related to a problem? Please describe.**
`glab` currently does not support issue and merge request template.

**Describe the solution you'd like**
User should be given the option to select and issue or merge request template when interactively creating issue or merge request.

[code]

**Additional context**
https://docs.gitlab.com/ce/api/project_templates.html#get-all-tem

[2020-11-24 12:19] #80 closed, assigned to nobody

[2020-11-24 12:45] zemzale commented on #329
Maybe we should also consider adding ability to write the body inline without opening the editor.
My workflow requires me to add `Resolve {JIRA-Ticket-ID}` to the body of the description.
It's a bit annoying that I have to open an editor to just write one line. But we shouldn't remove the ability to open an editor because that is a nice thing to have if I need to write something more.

I just don'

[2020-11-24 18:31] profclems commented on #329
You should be able to switch to writing the body inline by using the `--no-editor` flag. I guess this feature is less known
[code]
and yeah, you can completely avoid the interactive mode if you supply the required data using the option flags. If you use a flag for a particular required field, you will not be prompted for it.
For instance `glab` will not prompt for title and description for the com

[2020-11-25 10:29] zemzale commented on #329
I really have missed the --no-editor flag, that fixes my issue

[2020-11-26 13:39] profclems opened #331 "Alpine Linux Packaging"
Most CI environments like to use alpine Linux for its lightweight nature.
It would be nice to have `glab` packaged in the official alpine package repository so it can be installed with:
[code]
In the meantime, you can easily install with the [quick install script](https://github.com/profclems/glab/blob/trunk/scripts/quick_install.sh) via curl or wget as stated in the [readme](https://github.com/pr

[2020-11-27 18:32] zemzale opened #335 "[Bug] GitLab 11.11 failure to run `glab pipeline status -l`"
**Description**
Opening this issue to track it separately from #325 since it's issue with the same command, but is not the same issue.
As per comments https://github.com/profclems/glab/issues/325#issuecomment-731756008 https://github.com/profclems/glab/issues/325#issuecomment-731827690 there is failure to run `glab pipeline status -l` on `GitLab 11.11`.
This is because we use `order_by:updated_at`

[2020-11-28 11:22] profclems commented on #335
Maybe we can just take out that part
https://github.com/profclems/glab/blob/7c2733b9d4167612e93f6b465752ce7bc3030fde/commands/pipeline/status/pipeline_status.go#L56

I don't think the ordering is really that important

[2020-11-29 02:08] #335 closed, assigned to nobody

[2020-11-29 13:19] profclems commented on #329
You can set an alias for that
[code]
and now you should be able to do, `glab mrne`

[2020-11-30 08:30] #330 closed, assigned to nobody

[2020-11-30 10:34] zemzale commented on #225
I messed up the the mentioned issue on the merge request. This is now fixed by #334

[2020-11-30 10:34] #225 closed, assigned to nobody

[2020-12-01 08:31] profclems opened #341 "[Test] glab test fails due to accidental deletion of glab test repo"
Testing the `repo delete` #340 led to the accidental deletion of the glab test repo : ( making tests fail since most of the tests perform actual actions on GitLab using the test [repo](https://gitlab.com/glab-cli/test)

**Affected tests**
- commands/pipeline/ci/trace
- commands/project/archive
- commands/project/clone
- commands/mr/create

**Solution**
Use mocks instead of performing actual action

[2020-12-01 08:32] #318 closed, assigned to nobody

[2020-12-02 14:31] profclems opened #343 "`glab mr create` fails when templates are unavailable"
**Description**

Running `glab mr create` in a repository with no templates fails with
[code]

**Expected Behavior**
`glab` should only display the `open new blank merge request` option

**Actual Behavior**
[code]

**Your Environment**

* Version used: v1.12.0
* Operating System and version: Arch Linux x86_64 (5.9.10-arch1-1)

[2020-12-02 14:31] profclems commented on #343
`glab issue create` is likely to produce the same issue

[2020-12-02 17:30] #343 closed, assigned to nobody

[2020-12-03 06:51] solidnerd opened #347 "Implement glab repo fork command"
**Is your feature request related to a problem? Please describe.**
As a Go Developer or working with OSS projects a lot. I mostly fork the repository and do the changes and contribute it back. I want to have an easy way of creating a fork and clone it locally

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
An implementation of `glab repo fork`

Wha

[2020-12-03 07:10] solidnerd opened #348 "Implement clone of repositories from a GitLab Group"
**Is your feature request related to a problem? Please describe.**

It's quite hard to clone a whole group at once for this you typically bash scripts for python scripts for doing this job. But I would like to have it integrated.

**Describe the solution you'd like**

`glab repo clone -g everyonecancontribute`

1. clone the group of `everyonecancontribute` with all Projects and Sub Groups with

**

[2020-12-03 07:23] solidnerd commented on #331
Hey @profclems,
I want to help here and also learn how to build an alpine package. I'll have a look at the Weekend.

Some Information:
- [APKBUILD example](https://wiki.alpinelinux.org/wiki/APKBUILD_examples:Simple)
- [Abuild](https://wiki.alpinelinux.org/wiki/Abuild_and_Helpers)

[2020-12-03 11:38] zemzale commented on #347
Thanks for the suggestion.
This seems like a nice feature.

The forking can be done using [projects api](https://docs.gitlab.com/ee/api/projects.html#fork-project). Then it's just matter of waiting for fork to be completed since it's a background job and cloning it if user wants to do that.

The only thing I think we should consider is how we determine which of the authenticated hosts to use

In m

[2020-12-03 11:51] profclems commented on #331
Thanks a lot @solidnerd. I will be looking forward to that

[2020-12-03 11:54] zemzale commented on #348
I agree that this would be a nice thing to have. I have wrote scripts in the past to do this myself, a simple command from `glab` would be great timesaver.

We can use the [groups api](https://docs.gitlab.com/ee/api/groups.html#list-a-groups-projects) for this.
Implementation would be just calling this API and cloning the repos.

The one thing I have a question about is should we clone archived pr

[2020-12-03 13:01] profclems commented on #348
This is really a standout feature for `glab` if implemented. I will start putting together solutions right away

I think by default `glab` should clone all the group projects including the archived ones but there should be flags to limit the types of projects to clone

[2020-12-03 13:04] zemzale commented on #348
This probably is better way clone everything and explicitly filter things if you wish, instead of silently filtering stuff.

[2020-12-04 02:26] profclems commented on #329
This step has been implemented while working on #337

[2020-12-04 09:49] #348 closed, assigned to nobody

[2020-12-04 09:56] nlarzon opened #350 "Cannot get glab working on private instance with different endpoints"
We are running our own gitlab instance and the api/http have a different address then the ssh

git.name.devops.com  (ssh)
gitlab.name.devops.com (webUi and api)

**Description**
Using glab auth login I can login but I am not able to use any of the functionality like list issues

**Expected Behavior**

Be able to use the great features
**Actual Behavior**

glab says `none of the git remotes configu

[2020-12-04 10:46] zemzale commented on #350
Thanks for reporting this issue.

I think we just currently don't support different hostnames for git and API. We resolve host that needs to be used by the remotes in the current git repo, and since the API and ssh hostnames don't match you see this error.

I might be wrong but @profclems should know better.

[2020-12-04 11:08] mimor opened #351 "Enable issue linking for issue creation"
We can link MR's to an issue, but we are not able to link related issues through the cli.

### The current flow is:
* create an issue `glab issue create --title "" --description ""`
* go to the web-interface to link the relevant issue.

### Possible solution:
Introduce a --linked-issue flag, that takes an issue ulr/id from the cli.

[2020-12-04 11:31] profclems commented on #350
I never thought of this use case. This doesn't look like a bug.
As pointed out by @zemzale, `glab` currently doesn't support different hostnames for git and API. We'll add this to our backlog and work on that.

Here is simple tweak to get it working for now as we fix this:
 - Add a new remote to the git repo using the APIs hostname you authenticated
[code]
This should get you most of `glab`'s feat

[2020-12-04 11:39] profclems commented on #350
Also most `commands` have the option to override the repo and host with the `--repo (-R)` flag.

With this command, you should be able to view issues in the repository `GNOME/libhandy` of `gitlab.gnome.org`
[code]

[2020-12-04 12:05] profclems commented on #351
Thanks @mimor for your suggestion.
We are very careful implementing features that are ***limited*** by GitLab tiers and ***newer***.

`glab` relies heavily on the GitLab API and it seems the [Issues Link API](https://docs.gitlab.com/ce/api/issue_links.html#create-an-issue-link) falls into the two categories I have mentioned.

We may however, consider this one since  it is now supported for ***GitL

[2020-12-04 12:30] profclems commented on #351
While you wait as we work on this, you can easily implement this with the `glab api` command as it helps you interact with the GitLab API directly.
[code]
Here is an example:
[code]
You can set a short alias for this command with:
[code]
and now you should be able to use `glab linkIssue` command like:
[code]
Example:
[code]

`glab` is highly customizable so you can use it whichever way you want it

[2020-12-04 14:29] mimor commented on #351
I'd like to complement you on this awesome and complete response 👏

[2020-12-04 19:47] solidnerd commented on #331
@profclems Can you assign me the ticket ;)

[2020-12-05 17:26] Spreadcat opened #354 "Error connecting to custom gitlab instance, login successful"
I've got a problem using gitlab almost right from the start.
* I can login to the private gitlab instance using an access token.
* I can not list any issues of the repository I'm currently in-

**Description**

1. I login using `glab login auth` and the interactive method. That seems to work fine.
2. I try to list all the issue of the repo I'm currently in with my cli and I get the error message

[2020-12-06 15:12] profclems commented on #354
Thanks for reporting this issue @Spreadcat

We do support custom SSH Configs because git supports them. For example, this will be supported by glab per your ssh config:

[code]
The remote URL will be interpreted as `ssh://gitlab.com/profclems/glab` per your ssh config.

Here is our current ssh config parser:
https://github.com/profclems/glab/blob/trunk/internal/git/ssh_config.go

The only thing `g

[2020-12-06 15:19] profclems commented on #354
Here is our current ssh config parser:
https://github.com/profclems/glab/blob/trunk/internal/git/ssh_config.go

[2020-12-06 15:21] #347 closed, assigned to nobody

[2020-12-06 15:23] profclems commented on #325
If I'm not mistaken, this should be resolved by #336 ([v1.12.0](https://github.com/profclems/glab/releases/v1.12.0))

/cc: @zemzale

[2020-12-06 15:48] Spreadcat commented on #354
Yes, it does. with git I do not have issues cloning, pull or pushing to the repository.

I did some more testing.
It seems to have something to do with the use of the host aliases in the file `~/.ssh/config`.

----

This does not work with glab, but works with git:

[code]

[code]

[code]

----

This DOES work with glab and in git:

[code]

[code]

[code]

[2020-12-07 07:59] zemzale commented on #325
@profclems We actually have not fixed this yet. #336 fixed the issue with panic in `glab pipe ci view`, but not `glab pipeline status -l`. This is a different panic that happens when the pipeline is still pending and we try to view the status. I am looking into it right now so we can close this issue for good.

[2020-12-07 15:45] #325 closed, assigned to nobody

[2020-12-08 11:48] zemzale opened #358 "MR use user names for `mr create` assignee flag"
**Is your feature request related to a problem? Please describe.**
When creating mr using `--assignee` flag it expects the User ID as in the number `id`.
This is not really user friendly since I am not a robot and it's hard for me to remember even my own numeric ID, let alone other peoples.
We could change this to behave just like in `mr update` where we expect the user name, instead of the ID.

F

[2020-12-08 12:14] #319 closed, assigned to nobody

[2020-12-09 08:10] zemzale opened #359 "Mention of pull request in mr view"
**Description**
Not really a bug, but more of inconsistency with merge request naming when running `mr view`

**Expected Behavior**

Last line is
[code]
**Actual Behavior**

Last line is
[code]
**Possible Fix**

Change this single line :)

**Your Environment**

* Version used: `glab version 1.12.1-5-gd3b15ad (2020-12-07)`

[2020-12-09 09:07] #359 closed, assigned to nobody

[2020-12-09 09:46] profclems commented on #358
This makes perfect sense.
I actually expected this to be brought up. I was trying to make `glab` quite straightforward and simple initially.

I agree with the solution you've suggested since we already have this https://github.com/profclems/glab/blob/e0f23771966d566bb318af6034fa5511afe869c1/pkg/api/user.go#L20-L38

[2020-12-09 11:02] zemzale commented on #358
Then if you agree on this I will implement sometime in next few days

[2020-12-09 15:49] nfriend opened #362 "Allow "me" as an alias for current user when specifying a user name"
**Is your feature request related to a problem? Please describe.**

Not a problem! Just a small UX improvement opportunity.

To get a list of all MRs assigned to me, I can run this:

[code]

**Describe the solution you'd like**

It would be neat if I could instead do:

[code]

**Additional context**

This would be consistent with [GitLab's quick actions](https://docs.gitlab.com/ee/user/project/qui

[2020-12-09 15:55] nfriend commented on #362
Wait, just read the docs a little closer and noticed there's a `--mine` flag 🤦 . This is even better than my proposed solution! Closing 👍

[2020-12-09 15:55] #362 closed, assigned to nobody

[2020-12-09 16:54] profclems opened #364 "glab panics on `glab issue list --mine` if not authenticated"
**Description**
I tried running `glab issue list --mine` in a repo with an unauthenticated hostname. Since the `--mine` flag looks for the user ID of the current authenticated user, it panics without giving any useful information to the user.

**Expected Behavior**
The user should be notified that they need to authenticate `glab` for the hostname or return `unauthorized error`

**Actual Behavior**

[2020-12-12 03:07] profclems opened #366 "[Tracker] release commands"
`glab` currently only supports listing releases. There are other releases endpoints available in the [Releases API](https://docs.gitlab.com/ce/api/releases) that can be incorporated into `glab` as subcommands under the `release` command
- [x] `create`:     Create a new release - (https://docs.gitlab.com/ce/api/releases/#create-a-release)

- [x] `delete`:     Delete a release - (https://docs.gitlab

[2020-12-12 03:45] profclems commented on #366
Another limitation with the asset upload is the file size limit which is <=10mb. There's an open issue on this here https://gitlab.com/gitlab-org/gitlab/-/issues/20060

[2020-12-12 04:15] profclems commented on #205
@andhe can we consider other alternatives like having a custom PPA? I think that will work for Ubuntu

[2020-12-12 04:18] profclems commented on #362
Great!

Also note that with the `glab api` and `glab alias` commands, you can easily create custom commands if they're not already available in glab.
Check the example in this comment https://github.com/profclems/glab/issues/351#issuecomment-738758591

[2020-12-14 09:02] zemzale commented on #358
Resolved by #361

[2020-12-14 09:02] #358 closed, assigned to nobody

[2020-12-14 15:12] zemzale commented on #62
Fixed by #365

[2020-12-14 15:12] #62 closed, assigned to nobody

[2020-12-14 16:22] profclems commented on #331
@solidnerd, here's the alpine aport repository where you can submit the package build file (APKBUILD) https://gitlab.alpinelinux.org/alpine/aports

[2020-12-14 18:15] profclems opened #372 "Use 'ci' as alias to 'pipeline' and deprecate 'pipeline ci'"
**Describe the feature or problem you'd like to solve**
Currently, `glab` has `ci` as a subcommand under `pipeline` which is run as `glab pipeline ci <subcommand>`.
Having a lot of nested subcommands introduces a lot of complexities and becomes difficult to master the tool.

`glab` should have a well-defined standard format which is expected to be `glab <noun> <verb> [flags]`

**Propose a Solution

[2020-12-14 18:15] profclems commented on #372
/cc @zemzale

[2020-12-14 18:22] #364 closed, assigned to nobody

[2020-12-14 18:25] profclems commented on #268
@petsgre, does this issue still persist in the current version?

[2020-12-14 19:12] zemzale commented on #372
I am totally in support of this. The `pipeline ci` command is confusing, and just bringing it all under `pipeline` command would be better.

[2020-12-15 02:51] petsgre commented on #268
Yes.

![image](https://user-images.githubusercontent.com/22208613/102162066-78227100-3ec3-11eb-8fa5-403f70ee0fad.png)
![image](https://user-images.githubusercontent.com/22208613/102162072-7b1d6180-3ec3-11eb-82c4-09b6034dce5b.png)

[2020-12-15 08:16] zemzale opened #373 "Pipeline views: Display failed pipelines that allow failure diferently"
In commands like `pipeline status` and `pipeline view` there is no indications  that pipeline is allowed to fail e.g.
![image](https://user-images.githubusercontent.com/14844365/102188283-c59bdf80-3ebd-11eb-92b9-5810afc216a6.png)
while in Web UI it shows up like
![image](https://user-images.githubusercontent.com/14844365/102188411-ecf2ac80-3ebd-11eb-8608-150a7186f1c0.png)

**Propose a Solution**
D

[2020-12-15 10:32] profclems commented on #373
I have also noticed another issue with the `pipeline status`. Instead of showing the duration like `0m 55s`, it is formatted using the [PrettyTimeAgo](https://github.com/profclems/glab/blob/f77f183455f49e292757305b225ec49534decb14/internal/utils/utils.go#L54) func  so it displays `less than a minute ago`

https://github.com/profclems/glab/blob/f77f183455f49e292757305b225ec49534decb14/commands/pipe

[2020-12-15 10:50] profclems commented on #268
The `approve` command shows `404 Not Found`. Is there an MR with ID 30?

Also you can checkout the MR with `glab mr checkout <id>` and run `glab mr merge` without specifiying the id.

[2020-12-16 04:07] petsgre commented on #268
1. open a new mr
2. glab mr checkout 220
3. glab mr merge

![image](https://user-images.githubusercontent.com/22208613/102303862-17fcff00-3f97-11eb-9144-4a578c17e108.png)

and i am sure there is a mr with id 220
![image](https://user-images.githubusercontent.com/22208613/102304042-7aee9600-3f97-11eb-9f9d-cf6405fba97f.png)

[2020-12-16 04:45] profclems commented on #268
I don't think this is a bug with `glab`. Found these open issues https://gitlab.com/gitlab-org/gitlab/-/issues/196730, https://gitlab.com/gitlab-org/gitlab/-/issues/29103 and https://gitlab.com/gitlab-org/gitlab-foss/-/issues/26927

Check that the pipeline (if any) passes before merging. You can however, force merge with `--when-pipeline-succeeds false` since the default for that flag is `true`

[

[2020-12-16 07:47] petsgre commented on #268
![image](https://user-images.githubusercontent.com/22208613/102319439-d760ae00-3fb5-11eb-9f11-c1738629c059.png)

what is that mean?

![image](https://user-images.githubusercontent.com/22208613/102319576-15f66880-3fb6-11eb-81fe-5590ce939ce9.png)

[2020-12-16 07:55] petsgre commented on #268
Do i need configure something on setting page?

[2020-12-17 11:16] #103 closed, assigned to nobody

[2020-12-19 22:28] fermentfan opened #377 "Support multiple authentication states (Different GitLab instances)"
Forgive me if I am missing that feature, but I tried the tool and read the docs and it seems like you don't support this use case. If that's not the case, please close this issue.

**Describe the feature or problem you'd like to solve**
I work with multiple GitLab instances daily. At the moment I can only login to one instance at a time and will have to switch the authentication state when I want

[2020-12-19 23:31] profclems commented on #377
`glab` by default supports multiple GitLab instances. You can run `glab auth login` several times to authenticate several GitLab Instances. `glab` automatically detects the authenticated hostname from the remotes available in the working git directory. So you don't need to switch manually as `glab` does that. If none of the remotes has an authenticated hostname, you would have to run `glab auth lo

[2020-12-20 10:52] profclems commented on #377
Maybe we should make this clear in the

[2020-12-20 10:52] #377 closed, assigned to nobody

[2020-12-21 12:50] #372 closed, assigned to nobody

[2020-12-21 17:35] solidnerd commented on #331
Hey @profclems,
I started to submit the package in https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/16051 . I hope this will be merged afterwards it will be instable directly in the image.

[2020-12-22 01:14] #341 closed, assigned to nobody

[2020-12-22 02:10] maxice8 opened #382 "double default statement in glab mr merge --help"
**Description**
Double default statement on --when-pipeline-succeeds, see screenshot (first is fixed build and second is current build)

![image](https://user-images.githubusercontent.com/30738253/102840393-8865af00-43e1-11eb-982b-747ed36001b2.png)

**Expected Behavior vs Actual Behavior**
Only one default should appear

**Possible Fix**
#381

**Steps to Reproduce**
1. glab mr merge --help

**Your

[2020-12-22 02:29] maxice8 opened #383 "Can't checkout branch on gitlab.alpinelinux.org"
**Description**
![image](https://user-images.githubusercontent.com/30738253/102841775-51dd6380-43e4-11eb-8e8d-fc7c6a556a37.png)

![image](https://user-images.githubusercontent.com/30738253/102841506-d4b1ee80-43e3-11eb-97b2-802e390a1430.png)

**Expected Behavior vs Actual Behavior**
Checked out branch from merge request

**Steps to Reproduce**
1. Register gitlab.alpinelinux.org with a personal acce

[2020-12-22 02:54] maxice8 commented on #383
Oh derp, if I pass -R alpine/aports it reverts back to gitlab.com even though .glab-cli has host: gitlab.alpinelinux.org

[2020-12-22 03:01] maxice8 opened #384 "proposal: save local config to .git/config"
**Description**
I set host of a repo to gitlab.alpinelinux.org and glab wrote .glab-cli/config/config.yaml, to hide it wrote to .gitignore.

**Expected Behavior vs Actual Behavior**
It to write somewhere where it doesn't modify my repository like .git/config in a [glab] section

**Steps to Reproduce**
1. glab config set editor nvim

**Your Environment**

* Version used (Run `glab --version`): glab

[2020-12-22 03:13] maxice8 opened #385 "glab asks which repository when multiple remotes are present but uses 'origin' repository anyway"
**Description**
Screenshot should explain it all, It asks if I want Leo/aports or alpine/aports, I pick the latter but the mr view command still uses the old one.

![image](https://user-images.githubusercontent.com/30738253/102844152-8c95ca80-43e9-11eb-8c72-0473e3bcc92a.png)

**Expected Behavior vs Actual Behavior**
It to check against the picked repo after asking me a repo to pick

**Steps to Rep

[2020-12-22 03:14] maxice8 commented on #385
I can confirm if I rename my `origin` to `upstream` and my `upstream` to `origin`it "works" by using `origin`

[2020-12-22 03:21] profclems commented on #383
This is kinda minor limitation with `glab`. When using the repo override (`-R`), glab uses gitlab.com if repo host is not specified together with the repo.

This should work:
[code]

[2020-12-22 03:29] profclems commented on #384
To avoid this modifying the `.gitignore`, use the `--global` flag.

I agree with your proposal though. This is something I have thought about and I knew it will be brought.
We thought of making glab write to the global config by default but halted for backward compatibility reasons.

[2020-12-22 03:34] profclems commented on #385
I am unable to reproduce this error.

Run `git config -l | grep glab-resolved` and see if it shows either `remote.upstream.glab-resolved=base` or `remote.origin.glab-resolved=base`

[2020-12-22 04:12] maxice8 commented on #385
![image](https://user-images.githubusercontent.com/30738253/102848125-ca4b2100-43f2-11eb-8582-020f998764d8.png)

[2020-12-22 04:13] maxice8 commented on #385
Yes I removed the line from .git/config, before running everything again

[2020-12-22 04:19] maxice8 commented on #383
Understandable although not very ergonomic

[2020-12-22 04:29] profclems commented on #383
We will fix that for sure. I have added it to the project backlog. Maybe we could fix that and add to v1.13.0 release

[2020-12-22 04:30] profclems commented on #382
Resolved with #381

[2020-12-22 04:30] #382 closed, assigned to nobody

[2020-12-22 04:32] profclems commented on #384
I'm changing the issue title to "save local config to .git/config" and mark it as a proposal since it is not really a bug.
We already know it changes the .gitignore when a local config is created

[2020-12-22 04:33] maxice8 opened #386 "glab tells it has merged even though it might fail"
**Description**
At alpine/aports we forbid any merge commits and all branches must be rebased, So if glab set one merge request to be merged when pipeline succeeds it might not be merged if another is merged in the meantime.

![image](https://user-images.githubusercontent.com/30738253/102848900-b4d6f680-43f4-11eb-888b-ed5703c4ec0f.png)

**Expected Behavior vs Actual Behavior**
It to tell me it has

[2020-12-22 04:41] maxice8 commented on #386
Created #387

[2020-12-22 04:42] profclems commented on #386
Makes complete sense. The message can be misleading.

Thanks for the PR. I will review right away

[2020-12-22 04:44] maxice8 commented on #383
thanks

[2020-12-22 04:53] #386 closed, assigned to nobody

[2020-12-22 06:40] maxice8 opened #388 "mr create doesn't respect -R"
**Description**
Passing `-R gitlab.alpinelinux.org/alpine/aports` does not dissuade `glab` from creating it against the same repo.

![image](https://user-images.githubusercontent.com/30738253/102857454-3768b180-4407-11eb-9fc6-305b910b8836.png)

**Expected Behavior vs Actual Behavior**
Expected for it to create against alpine/aports

**Steps to Reproduce**
1. Try to create a merge request that aims

[2020-12-22 06:51] maxice8 opened #389 "When rebasing by branch fails due to not being able to find a branch, no further information is given"
**Describe the feature or problem you'd like to solve**
Tried rebasing based on the branch `xmrig`, It couldn't find it but it also didn't tell me where it looked at. I know it looked at Leo/aports instead of alpine/aports because of https://github.com/profclems/glab/issues/385 but others users might be confused and will appreciate the extra information.

Reactions can go from:

-  `What are you t

[2020-12-22 07:02] maxice8 opened #390 "add --rebase flag to mr merge"
**Describe the feature or problem you'd like to solve**
At alpine/aports we need all commits to be rebased against master before merging so there are no merge commits and we have a nice linear history (see screenshot below)

![image](https://user-images.githubusercontent.com/30738253/102858597-52d4bc00-4409-11eb-8be0-9e07ba0d107a.png)

It would be very convenient to have a flag `--rebase` or prefe

[2020-12-22 15:39] maxice8 opened #391 "A bit too generous in printing newlines"
**Description**
Actions that do not output anything to the user still print a blank newline and some actions that print stuff might print 2 or more newlines. See example in the screenshot below.

![image](https://user-images.githubusercontent.com/30738253/102905826-796b1500-4452-11eb-9d90-f39276828ad8.png)

**Expected Behavior vs Actual Behavior**
Not printing any blank lines unless necessary (e.g

[2020-12-22 16:57] solidnerd commented on #383
@profclems It's mostly specifying a base URL for your glab or we could have a similar feature like `docker context` or `kubectl context` where you can specify in which config context you are currently.

Default would be gitlab.com but as a user, I could define my own context for alpine as an example:

[code]

Here is something that comes to my mind.

[2020-12-22 21:02] maxice8 opened #393 "when creating mr, have an equivalent to glab-resolved to set a default target project."
**Describe the feature or problem you'd like to solve**
When contributing to a repository that isn't yours it is hard to use the `--target-project` switch as it requires knowing the ID and using it every time.

**Propose a Solution**
Create a `glab-targeted` entry that acts the same way `glab-resolved` is used but use it when deciding which TargetProjectID to use.

**Additional context**
Here is a

[2020-12-22 21:30] maxice8 commented on #391
Also happens with other commands

![image](https://user-images.githubusercontent.com/30738253/102934862-bbf91580-4483-11eb-9c6f-aa431b15c813.png)

[2020-12-23 00:33] maxice8 commented on #385
Will be fixed by #394, glab got bit by pointers and their fun!

[2020-12-23 03:14] maxice8 commented on #384
Another thing, will it be possible to save configuration like defaults for --when-pipeline-succeeds ?

[2020-12-23 03:33] maxice8 opened #395 "Allow making an issue confidential/public"
**Describe the feature or problem you'd like to solve**
Alpine Linux uses confidential issues to discuss sensitive topics like upcoming security fixes, after the security issue is fixed or deemed not enough to warrant a fix these issues are made public

**Propose a Solution**
add a `--confidential={yes|no}` switch to `glab issue update`

**Additional context**
Something akin to what I do on [agl](

[2020-12-23 04:01] maxice8 opened #397 "missing newline when updating an issue"
**Description**

Screenshot should be able to tell it all, look at the first line of output.

![image](https://user-images.githubusercontent.com/30738253/102957835-43fa1200-44ba-11eb-8f1b-23a1b8ee76a6.png)

**Expected Behavior vs Actual Behavior**

Newline after '- Updating Issue'

**Possible Fix**

Working on it

**Steps to Reproduce**

1. `glab issue update --lock-discussion X`

**Your Environme

[2020-12-23 04:49] profclems commented on #384
I haven't thought about this but we can add it up. It is not currently a respected setting.

[2020-12-23 05:15] maxice8 commented on #384
At the moment I have a shellscript that does what I need:

[code]

[2020-12-23 06:09] #385 closed, assigned to nobody

[2020-12-23 06:14] #397 closed, assigned to nobody

[2020-12-23 06:35] profclems commented on #384
Nice. This has brought up a nice-to-have feature for glab: merging multiple merge requests with comma-separated ids as arg
[code]

[2020-12-23 07:16] maxice8 commented on #384
Wouldn't it be better to just accept an arbitrary number of arguments, each one being an id ?

There are no positional arguments beside the merge request ids, all options are flags.

[2020-12-23 07:24] maxice8 opened #400 "Allow 'issue' and 'mr' update to unlock discussion"
**Describe the feature or problem you'd like to solve**
There is currently no way to unlock a previously locked discussion, there is `--lock-discussion` but no equivalent for unlocking it.

**Propose a Solution**
Add a `--unlock-discussion` flag to `mr update` and `issue update`

[2020-12-23 07:25] maxice8 commented on #400
If a yes is give I'll work on it

[2020-12-23 07:32] maxice8 commented on #393
Thinking more about it I think we will need a third glab-.

[2020-12-23 07:40] #395 closed, assigned to nobody

[2020-12-23 08:48] #331 closed, assigned to solidnerd

[2020-12-23 09:13] profclems commented on #393
Great suggestion. The workflow makes sense.
Aside from setting the `glab-targetted`, we should consider accepting a string for the `--target-project` so the user can specify the repo name `--target-project OWNER/REPO` which will be converted to the ID.

If the flag is specified, it should override the `glab-targetted`.

[2020-12-23 09:13] profclems commented on #393
What will that be?

[2020-12-23 09:18] profclems commented on #400
Nice. You can go ahead.

I was also thinking of using the `--lock-discussion`. If set to false, unlocks the discussion.
But looking much into it, adding `--unlock-discussion` is expressive but both shouldn't be used at the same time

[2020-12-23 15:45] maxice8 commented on #393
Because glab-resolved should be used only for querying issues, one also needs a glab-based and a glab-targeted.

glab-resolved -> decides which project to look for issues and Merge Requests, think `glab issue view` and `glab mr list`
glab-based -> decides which project to push your local branch and from where you create your merge request
gitlab-targeted -> decides which project the merge request

[2020-12-23 15:46] maxice8 commented on #393
I'll update the graph

[2020-12-23 16:32] profclems commented on #393
Great. `gh` has a way of asking the user which repo to push the commit when creating a merge request. If I get you well, the `glab-based` fits that purpose.
I think that will be useful for non-ttys but for ttys prompting the user where to push to should help.

We should also take into consideration, situations where prompts are disabled by the user.

[2020-12-23 16:35] maxice8 commented on #393
Yes, that is exactly the purpose of `glab-based`, we ask the user which repo they want to push and store it there until they decide they want another.

We might be able to get away with only 2 if we assume `glab-resolved` is always set to the `upstream` repository (if it is applicable)

[2020-12-23 16:48] profclems commented on #393
Nice. I just thought about this: `glab` provides no way to remove the values stored in the git config unless the user removes it from the .git/config themselves.

I think we should consider that too so `glab-resolved`, `glab-based` and `glab-targetted` can be removed.

`glab-based` value should also be overridable via a Persistent Flag just like the `glab-resolved` is overridable by the `--repo` f

[2020-12-23 16:59] profclems commented on #393
It's been 21days since our last release. We are supposed to do a minor release today (v1.13.0).

We've got a load of stuff [pending release](https://github.com/profclems/glab/projects/1#column-11177289)

[2020-12-23 17:12] maxice8 commented on #393
This certainly can come later it is a rather major change

[2020-12-23 19:32] solidnerd opened #402 "Implement glab context"
@profclems It's mostly specifying a base URL for your glab or we could have a similar feature like `docker context` or `kubectl context` where you can specify in which config context you are currently.

Default would be gitlab.com but as a user, I could define my own context for alpine as an example:

[code]

Here is something that comes to my mind.

_Originally posted by @solidnerd in https://git

[2020-12-23 19:53] profclems commented on #402
I'm a bit tight at the moment. I will look at it later today so we look into it and see what to do

[2020-12-23 19:55] #400 closed, assigned to nobody

[2020-12-23 21:15] maxice8 opened #403 "Support for --repo specification into --target-project in mr create"
**Describe the feature or problem you'd like to solve**
Instead of forcing the users to get the ID themselves, allow them to use the specification just like `--repo` for the repo

**Propose a Solution**
make `--target-project` take a string instead

[2020-12-23 21:28] pbnj opened #405 ""web" flag for more resources"
**Describe the feature or problem you'd like to solve**

Similar to `glab mr view -w|--web` functionality, I would like to be able to open other resources in my default browser for most commands.

Something like:

- `glab pipeline -w|--web` to open the pipelines page of the current repo
- `glab repo -w|--web` to open the project page of the current repo
- `glab repo search <term> -w|--web` to open

[2020-12-23 21:31] maxice8 commented on #405
@profclems if `OK` is given then I'll work on this when I get time

[2020-12-23 21:32] maxice8 opened #406 "mr create resets my tracking branch"
**Description**

I have a branch `ocrmypdf` that tracks `upstream/master`, which loses its tracking branch whenever `glab mr create` is used.

**Expected Behavior vs Actual Behavior**

I expect it to respect my tracking branch, I set it explicitly with my tooling for dealing with git and `glab` has no business touching it.

**Possible Fix**

Don't touch my trackings.

**Steps to Reproduce**

1. Ma

[2020-12-23 21:34] pbnj commented on #405
I'm also willing to work on this as well.

Just wanted to create the GH issue and get an OK before investing the time/effort on a PR that could get rejected 😅

[2020-12-23 21:59] maxice8 commented on #406
[code]

Does it really need `--set-upstream` ? It might be useful for users so they can push more easily but it doesn't account for people (like me) that already set their tracking branch to what they want.

on agl we do

[code]

[2020-12-23 23:21] maxice8 opened #407 "glab might be too quick for GitLab"
**Description**

It is possible that GitLab will send wrong information telling it is not possible to merge if a merge request merge attempt is made too quick after rebasing it

![image](https://user-images.githubusercontent.com/30738253/103043586-28dfde80-455c-11eb-97a2-afdacd46cdcd.png)

**Expected Behavior vs Actual Behavior**

For it to merge on first try

**Steps to Reproduce**

1. Have a rep

[2020-12-24 09:08] profclems commented on #407
Finally, what I expected to be brought up in the future!
I have been thinking of this lately. We would have to consider a specified number of retries for mr subcommands such as `rebase`, `merge` and `approve` 🤔

[2020-12-24 09:21] profclems commented on #405
I agree with this!

[2020-12-24 16:43] #403 closed, assigned to nobody

[2020-12-24 21:02] maxice8 commented on #405
@pbnj go nuts then :D

[2020-12-24 21:08] maxice8 commented on #393
I started working on this and it is all very intertwined, it will take a while, I expect this to arrive in a few weeks

[2020-12-24 21:15] profclems commented on #393
Yeah I actually expect it to be that complex. It took a while when working on the `glab-resolved`

[2020-12-24 21:18] maxice8 commented on #393
I'm thinking of using  a simpler scheme with 2 `glab-resolved` one that is `glab-resolved = base` and `glab-resolved = head` the base is used for finding the target project and is the same as before and the new one, `head`, is where one pushes changes.

So if you are working on your project:

`head`->`profclems/glab`
`base`->`profclems/glab`

If you're working on a fork

`head`->`profclems/glab`
`

[2020-12-24 21:25] maxice8 commented on #393
`--target-project` would be back to using only `int` and `-R` would be used instead to find the target project

[2020-12-24 21:40] profclems commented on #393
Interesting how I was typing a similar suggestion!

[2020-12-24 21:47] profclems commented on #393
But the user should be prompted to select the `head`. There could be a case where the repo is a fork but a standalone project so the user might still use it as both `head` and `base`
For non-ttys, the `head` should be the fork by default

[2020-12-24 21:49] maxice8 commented on #393
Absolutely, choosing `base` and `head` will work the same way except support for choosing `head` is only done when using `mr create` instead of any command like `issue view`, `mr list`, etc

[2020-12-24 22:33] profclems commented on #393
Sounds good

[2020-12-25 02:01] profclems commented on #406
I tried working on this but seems this is quite related to #393. `glab` does `git push` using the remote that the base repo (`glab-resolved`) points to.

The solution available now is to determine the tracking branch set for the source branch and use that

[2020-12-25 20:05] maxice8 commented on #406
It seems like it now just pushes to whatever remote the tracking branch is pointing to, that will break with the usecase above which is `upstream/master`

[2020-12-25 20:07] maxice8 commented on #406
The correct solution is to push to whatever `headRepo` is set to but only use `--set-upstream-to`  if no tracking branch is set

[2020-12-26 06:44] maxice8 commented on #407
I found that sleeping 6 seconds between `rebase`  and `merge` fixes it in most cases on `gitlab.alpinelinux.org`

[2020-12-26 16:27] profclems commented on #402
/cc @maxice8

[2020-12-26 16:29] maxice8 commented on #402
I don't have enough experience dealing with `docker context` or `kubectl context` and other `context-type` configuration to give an informed opinion at all.

[2020-12-26 18:56] #329 closed, assigned to nobody

[2020-12-26 20:08] profclems commented on #402
@solidnerd thanks for your suggestion. Currently, this is the config format:

[code]
which is not very far from the `kubectl context` format (quite far).

The configuration is used based on the host that `glab` finds in the git remotes. If none of the remotes is authenticated, then the user would have to authenticate the new host with `glab auth login`.

The limitation here is, the user isn't allo

[2020-12-26 22:08] maxice8 opened #415 "Continue in browser blows up whenever there is a space in"
**Description**

If your title has a space, Continue in browser will fail, see log for error

**Expected Behavior vs Actual Behavior**

For it to open the Merge Request for continuation

**Possible Fix**

Escape those values with `%20`

**Steps to Reproduce**

1. Create merge request with title
2. try to open it in browser
3. See error

**Logs**

![image](https://user-images.githubusercontent.com/

[2020-12-26 23:14] maxice8 commented on #415
Seems like a self-inflicted error I am running it from inside a toolbox container

[2020-12-26 23:29] #415 closed, assigned to nobody

[2020-12-27 00:57] #406 closed, assigned to nobody

[2020-12-27 11:43] profclems commented on #388
This is resolved in #410

[2020-12-27 11:43] #388 closed, assigned to nobody

[2020-12-27 15:31] maxice8 commented on #393
fixed by #410, it is not exactly what is discussed here **initially** but it is what it was agreed upon.

[2020-12-27 15:31] #393 closed, assigned to nobody

[2020-12-27 16:36] maxice8 opened #417 "cross-repository merge requests create broken"
**Description**

cross-repository merge requests must be created in the head repo

[2020-12-27 16:38] maxice8 opened #419 "closing merge request is missing newline"
**Description**

![image](https://user-images.githubusercontent.com/30738253/103175434-c67f2a80-4848-11eb-9309-b97623d2cb57.png)

**Expected Behavior vs Actual Behavior**

Missing newline to be printed

**Possible Fix**

Add missing newline

**Steps to Reproduce**

1. `glab mr close`

**Your Environment**

* Version used (Run `glab --version`): glab version 1.12.1-140-g4449510 (2020-12-27)
* Opera

[2020-12-27 17:05] #417 closed, assigned to nobody

[2020-12-27 17:15] #419 closed, assigned to nobody

[2020-12-27 17:48] maxice8 opened #421 "add `--yes|-y` flag for `mr create`"
**Describe the feature or problem you'd like to solve**
When making a Merge Request it would be nice if it could be done without needing user input.

**Propose a Solution**
A flag `--yes`, with shortflag `-y` that will answer yes to any question presented, at the moment this will just answer `Submit` to the question of `Submit|Continue in Browser|Discard`

[2020-12-28 00:19] maxice8 opened #425 "when creating an mr if a tracking branch is already set then rebase on top of it"
**Describe the feature or problem you'd like to solve**
When making a merge request on alpinelinux/aports I usually find myself re-using old branches as I upgrade the same package various times, if I do not rebase before then the merge request will be botched.

**Propose a Solution**
If a tracking branch is already set then rebase on top of it before doing anything like filling `autofill` or promp

[2020-12-28 00:22] maxice8 opened #426 "Prompt user to pick a commit when creating an autofilled Merge Request with multiple commits"
**Describe the feature or problem you'd like to solve**
If there are multiple commits in a merge request and the merge request is done with `--fill` then the resulting title and description can be really suboptimal.

**Propose a Solution**
In an interactive setting let the user pick a commit from which the `title` and `description` will be derived from

[2020-12-28 08:52] maxice8 opened #429 "Continuing the creation of an issue on a browser blows up with complex descriptions"
**Description**

Descriptions that have blank lines break up description, it also prevents labels and assignes from being created

**Possible Fix**

use `url.QueryEscape` to escape everything properly

**Your Environment**

* Version used (Run `glab --version`): glab version 1.12.1-150-g2a1a0a9 (2020-12-28)
* Operating System and version: Fedora Silverblue 33

[2020-12-28 10:09] unikitty37 opened #431 "Documentation links for `glab issue board create` and `glab issue board view` go to wrong page"
**Description**
The documentation page at https://glab.readthedocs.io/en/latest/issue/board.html lists the "create" and "view" subcommands, but these links go to the wrong docs.

It would be particularly helpful to have documentation for "view", as it displays the board on screen and does not exit without pressing ⌃C. It would be useful to know if there is behaviour bound to any keypresses, as nob

[2020-12-28 10:26] maxice8 commented on #431
Seems like doc generation can't handle subcommand (view) of a subcommand (board) of a command (issue).

[2020-12-28 10:26] maxice8 commented on #431
Seems like doc generation can't handle subcommand (view) of a subcommand (board) of a command (issue).

[2020-12-28 10:32] unikitty37 opened #432 "Allow CI pipelines to be displayed with the flow from left to right, rather than right to left"
**Describe the feature or problem you'd like to solve**
When viewing a pipeline in GitLab's web interface, the first stage is displayed on the left, and the pipeline flows from left to right. In `glab pipeline ci view`, this is reversed.

I find this confusing to navigate, as:

* it differs from what GitLab presents;
* my language (English) runs from left-to-right, so this is the order I'm used to

[2020-12-28 11:56] profclems opened #433 "expected the "[HOST/]OWNER/[NAMESPACE/]REPO" format, got "head""
**Description**

There's this nasty bug around the `base` and `head` resolution. All the commands are not usable and this error is always printed:
[code]

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this '...'
2. View the output '....'
3. See error

**Logs**

[code]

**Your Environment**

* Version used (Run `glab --version`): glab version 1.13.0 (20

[2020-12-28 12:01] profclems opened #434 "glab config edit"
**Describe the feature or problem you'd like to solve**

`glab config` command currently has `get` and `set` sub-commands which are enough to make things work but once our configuration supports more keys we might want to support a `glab config edit` command that opens an editor and validates a hand-edited config before updating.

**Propose a Solution**

Support a `glab config edit` command that o

[2020-12-28 12:30] profclems commented on #431
@unikitty37 thanks for reporting this issue. The documentation is auto-generated but it looks like we have to create that part manually.
Alternatively, you can use `glab help <command> <subcommand>` to obtain help for any command. The help command provides very similar info as  web doc.

Btw, looks like you're still using an older version of `glab`. Care to update?

[2020-12-28 12:42] profclems opened #435 "Support for child pipeline in `ci view`"
**Describe the feature or problem you'd like to solve**
`glab ci view` currently does not display [GitLab Child Pipelines](https://docs.gitlab.com/ee/ci/parent_child_pipelines.html)

**Propose a Solution**
We should find a way to visually display child pipeline in `glab ci view` 🤔

**Additional context**
https://docs.gitlab.com/ee/ci/parent_child_pipelines.html

[2020-12-28 12:56] profclems opened #436 "Special @me to create self-assigned issues"
**Describe the feature or problem you'd like to solve**
It would be handy to be able to create self-assigned issues without explicitly specifying the user's GitLab username.

Currently, the user would have to self-assign with `--assignee username`.

**Propose a Solution**
Allowing users to self-assign with a special `@me` used as `--assignee @me` or a flag with `--assign-me`, `--assign-self` or an

[2020-12-28 13:47] maxice8 commented on #433
Working on fix

[2020-12-28 14:06] maxice8 commented on #433
Should be fixed by #437

[2020-12-28 15:02] maxice8 opened #439 "More interactive options while creating issue/mr"
**Describe the feature or problem you'd like to solve**

While creating an issue it would be nicer if we could also set assignees and milestone as we can with the flags

**Propose a Solution**

Prompt the user for adding assignees and milestone just like it is done with labels, for assignees we can list all the users and pick them.

[2020-12-28 16:04] profclems commented on #439
I thought of this too, not only for `issue create` but `mr create` as well.

[2020-12-28 16:05] #421 closed, assigned to nobody

[2020-12-28 17:41] unikitty37 commented on #431
Thanks — I installed GLab through Homebrew, and 1.12.1 seems to be the latest version on there at the moment. Possibly the maintainer is taking a break over Christmas.

`glab help issue board view` doesn't mention any keys — is that a non-interactive view?

[2020-12-28 20:41] profclems commented on #431
Yes @unikitty37
Currently, `glab issue board view` is non-interactive. We are looking forward to adding more features and making it interactive just like the `ci view` hopefully, before our next minor release

[2020-12-28 22:10] #429 closed, assigned to nobody

[2020-12-28 22:11] #433 closed, assigned to nobody

[2020-12-28 22:12] #436 closed, assigned to nobody

[2020-12-28 22:14] maxice8 opened #440 "Support `OWNER:branch` for querying Merge Requests"
**Describe the feature or problem you'd like to solve**

Sometimes it is nicer to checkout/view Merge Requests by using the branch name instead of its Internal-id

**Propose a Solution**

modify `MRFromArgsWithOpts` in `commands/mr/mrutils/mrutils.go` to:

See workflow chart below:

**Additional context**

![image](https://user-images.githubusercontent.com/30738253/103248981-e4818380-494b-11eb-892

[2020-12-29 01:19] maxice8 commented on #440
For note, `github-cli` also does this

[2020-12-29 03:34] profclems commented on #440
Nice one!

`glab` already supports specifying a branch but errs if there are multiple merge requests with the same branch name from different repos (fork)

   - MR `#1` with head `user1:master`
   - MR `#2` with head `user2:master`

`glab` only returns the first `open` MR for that branch specified.
https://github.com/profclems/glab/blob/ce03a68b7ce4aed8f7e63fa440402076701f7be2/commands/mr/mrutils/

[2020-12-29 10:16] #440 closed, assigned to nobody

[2020-12-29 10:56] profclems commented on #432
I suspect that the change comes from the GitLab Jobs API, probably newer versions of GitLab, which now returns the jobs based on their ID in descending order.

Thanks for reporting.

It should be fixed by #442.

Not related but you should note that for newer versions of `glab` ([v.1.13.0+](https://github.com/profclems/glab/releases)), you should use `glab ci view` instead of `glab pipeline ci view

[2020-12-29 12:18] maxice8 opened #443 "Allow mr checkout to pick a different source branch"
**Describe the feature or problem you'd like to solve**

When backporting patches for Alpine Linux I like to checkout from branches other than the one that is default on the remote

**Propose a Solution**

add a `--source` branch that `glab` switches to before checking out the merge request

[2020-12-29 12:28] profclems commented on #443
So the `--source` branch specified will be tracking that of the remote and rebased?

[2020-12-29 12:45] profclems commented on #405
@pbnj, you still in for it?

[2020-12-29 13:55] #432 closed, assigned to nobody

[2020-12-29 23:01] pbnj commented on #405
@profclems - certainly.

[2020-12-29 23:43] maxice8 opened #448 "when creating a merge request, --autofill should not stop glab from asking for labels and miletones"
**Describe the feature or problem you'd like to solve**

Creating a merge request with `--autofill` should not prevent a merge request from asking me interactively (if interactivity is possible) from asking me for label and milestone information

**Propose a Solution**

when using `--autofill` without `--yes` prompt the user for labels and milestones

[2020-12-30 04:40] maxice8 commented on #443
It will be the branch in which the changes will be applied on top of.

[2020-12-30 04:58] maxice8 opened #450 "allow assigning milestone via its title"
**Describe the feature or problem you'd like to solve**

It is much more intuitive than trying to remember some random numbers

**Propose a Solution**

after #446 is merged, expand `pkg/api/milestones.go` with a function to convert a name to ID, like the one that convers usernames to IDs for `--assignee`

[2020-12-30 09:09] #448 closed, assigned to nobody

[2020-12-30 18:13] #450 closed, assigned to nobody

[2020-12-30 21:15] profclems opened #455 "Repo override with -R, --repo flag not respected by some commands"
**Description**

The repo override with `-R, --repo` flag is not respected by the following commands
 - `issue create`
 - `mr create`
 - `ci trace`

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this `glab issue create --repo glab-cli/test`
2. Issue is created for the base remote in the current git dir instead of overriding

**Logs**

I used it on a re

[2020-12-30 21:25] #455 closed, assigned to nobody

[2020-12-30 21:27] maxice8 commented on #439
with #446 and #453 all things that can be passed via `--flag` are now supported, except for boolean or uncommon stuff like `--weight`, `--confidential`, `--wip`

[2020-12-30 21:27] #439 closed, assigned to nobody

[2020-12-31 01:47] maxice8 opened #458 "rework mr creation to more closely assemble gh"
**Describe the feature or problem you'd like to solve**

I think the pr creation process of `gh` is much simpler:

- It doesn't prompt for `milestones`, `labels` and `assignees`, instead at the end you can `Add metadata`

**Propose a Solution**

Add a `Add metadata` prompt, followed by allowing the user to multiple choice pick either of the 3 attributes listed above, then present the prompts for t

[2020-12-31 02:51] maxice8 opened #460 "assigning an user silently fails if user doesn't exist"
**Description**

When adding an user with interactive assignee prompt and a user that doesn't exist is given, it silently fails

**Expected Behavior vs Actual Behavior**

Warn whenever a user that doesn't exist is given or outright failure

**Possible Fix**

See above

**Your Environment**

* Version used (Run `glab --version`): glab version 1.13.1-38-gdbb29fe (2020-12-30)
* Operating System and v

[2020-12-31 03:02] #460 closed, assigned to maxice8

[2020-12-31 03:05] maxice8 commented on #460
False alarm, it was a side-effect of a poor implementation of the ideas on #459

[2020-12-31 03:50] #458 closed, assigned to nobody

[2020-12-31 04:03] maxice8 opened #461 "be more descriptive of what is done when updating an issue/mr"
**Describe the feature or problem you'd like to solve**

When updating an issue or merge request with `issue update` or `mr update` it would be nicer if we told the user what exactly was done.

**Propose a Solution**

Instead of a blank `Updated` a `changed title to FOO` or `made confidential`. for long things like descriptions I think we can get away with `updated description` but for short thing

[2020-12-31 04:16] profclems opened #463 "Hack/Fun PRs are accepted 🎉"
Though `glab` is a CLI tool centered on bringing GitLab to the command Line, it is also important to make it more fun to use.

That said, if you have any other fun feature (not particularly related to GitLab but shouldn't change `glab`'s prime mission) that can make `glab` for fun to use, go ahead and submit a PR.

Examples of such features could be adding `glab protip` command that visually gives

[2020-12-31 04:48] profclems commented on #461
@maxice8 Thanks, that's a good idea.

[2020-12-31 04:59] profclems commented on #461
I'm thinking of how best we could bind the message to the flag.

Also, what happens if there are more edits done in the update like `glab mr update -t "New Title" --unlock-discussion`?
It's either we just print "Updated issue" or have multiple messages printed for each action taken

[code]

[2020-12-31 05:27] maxice8 commented on #461
I'm thinking have an Updates []string that is appended with each flag used and printed item per line at the end

[2020-12-31 05:28] maxice8 commented on #461
I'll make a prototype tomorrow (2 AM here)

[2020-12-31 05:44] profclems commented on #461
Sounds good

[2020-12-31 06:06] maxice8 opened #465 "allow issue update and mr update to add/remove milestones"
**Describe the feature or problem you'd like to solve**

Simple, `mr update` and `issue update` **should** be able to assign and deassign milestones

**Propose a Solution**

Not entirely clear, the one to add a milestone will obviously be `--milestone`, maybe passing an empty string or '0' to assign it to nothing ? I think we can use `cmd.Flags().Changed("milestone")` as I believe it will tell it

[2020-12-31 06:08] maxice8 opened #466 "allow editing descriptions with editor"
**Describe the feature or problem you'd like to solve**

The `--description` flag can be annoying to deal with when in the shell, with all the quoting issues around single and double-quotes, this makes it suboptimal when trying to change the description to cope with multiline descriptions that includes snippets of build logs.

**Propose a Solution**

Check if the user passed `--description` withou

[2020-12-31 06:10] maxice8 opened #467 "allow issue update and mr update to assign/unassign users"
**Describe the feature or problem you'd like to solve**

Pretty simple, allow the `update` subcommands from `mr` and `issue` to assign and unassign users via their username

**Propose a Solution**

add `--assign` and `--unassign` flags that add and remove assignees respectively

[2020-12-31 06:34] maxice8 opened #468 "make assignment on mr create more friendly"
**Describe the feature or problem you'd like to solve**

Make assignment of users on `mr create` more friendly by acquiring a List of all users that can merge to the repository and then presenting it as a multiprompt.

**Propose a Solution**

See above.

[2020-12-31 10:32] #461 closed, assigned to nobody

[2020-12-31 11:32] profclems commented on #466
Since `--description` is a string flag, passing it without argument is an error unless the user passes an empty string
`--description ""`

[2020-12-31 12:01] profclems opened #472 "Friendlier recovery when issue/mr create fails"
**Describe the feature or problem you'd like to solve**
When `glab mr create` fails or cancelled, the body content typed using the editor is lost.

Sometimes the user may type a long MR description and just lose it due to a simple mistake, such as not adding any commit to the MR branch yet (e.g., when creating draft MRs).

**Propose a Solution**
To me, the best user experience would be if the pers

[2020-12-31 12:02] maxice8 commented on #472
`gh` provides a `--recover` I think that is the best solution.

[2020-12-31 12:03] profclems commented on #468
For this, we would have to use the [Member API](https://docs.gitlab.com/ee/api/members.html) to get the list of members for the project

https://docs.gitlab.com/ee/api/members.html#list-all-members-of-a-group-or-project-including-inherited-members

We may have to consider the access levels so we don't include guests and users with low access levels

[2020-12-31 12:33] #465 closed, assigned to nobody

[2021-01-01 00:11] #467 closed, assigned to nobody

[2021-01-02 08:29] maxice8 opened #483 "allow --assignee to unassign everyone"
**Describe the feature or problem you'd like to solve**

Allow --assignee to unassign all users

**Propose a Solution**

add the special value `@nobody` which is translated to an user with `id = 0`, the value 0 is used in the gitlab API tounassign all users

**Additional context**

Example:

[code]

[2021-01-03 09:45] profclems commented on #483
+1 for the @nobody suggestion. We can also allow users to specify 0.

Both `--assignee @nobody` and `--assignee 0` can be accepted imho

[2021-01-03 14:08] solidnerd commented on #402
Hey @maxice8  & @profclems,
Currently right now I don't know a proper solution out of my mind.

I would agree that it takes time, and we need to evaluate how it works for our use cases and others.

I propose doing it in the Feature Flag to test it and all the flows we need from our perspective or what happens during the test phase. I have no experience in writing a configuration mgmt on a context-

[2021-01-03 18:23] profclems opened #496 "support .ssh/config Include directives"
**Describe the feature or problem you'd like to solve**

This is sort of related to #354.

For users with different ssh keys for different GitLab instances, most set-up Host aliases in ~/.ssh/config.d/instance_name files.

**Propose a Solution**

Read all the ssh_config files the user has configured

**Additional context**

[2021-01-03 18:33] #496 closed, assigned to nobody

[2021-01-03 18:35] profclems commented on #354
@Spreadcat this should be resolved by the linked PR; pending release. You can however, build from trunk and  confirm it's been resolved

[2021-01-03 18:39] Spreadcat commented on #354
I'm not sure how this is related to the example code above, where only the host parameter has been added to overwrite the hostname from origin, but I will wait the new release and test that after that. I don't expect it to be resolved, though.
Or could you confirm the error, reproduce it and solve it with the PR? @profclems

[2021-01-03 21:12] profclems opened #499 "Allow GITLAB_HOST to select between hosts with mixed git remotes"
When there are mixed git remotes (some pointing to gitlab.com, some pointing to self-hosted instances), we only scope down to the first hostname we find and ignore the others.

However, it should be possible to use GITLAB_HOST or GITLAB_URI to explicitly choose a host. Right now, GITLAB_HOST is not respected with parsing git remotes.

[2021-01-03 21:32] profclems commented on #354
This is fully fixed by #501. The error was caused by `glab` not using the hostname specified but the host alias name directly.

[2021-01-03 21:36] #354 closed, assigned to nobody

[2021-01-03 22:21] #499 closed, assigned to nobody

[2021-01-04 15:30] lila opened #508 "deb file has incorrect file paths"
**Description**
installing the deb package on linux installs the glab executable in the incorrect location.  It installs in `/usr/local/bin/bin/`, but should be `/usr/local/bin`

**Expected Behavior vs Actual Behavior**
should be installed in `/usr/local/bin`

**Possible Fix**

**Steps to Reproduce**
`~$` dpkg -c ./glab_1.13.1_Linux_x86_64.deb
drwxr-xr-x 0/0               0 2020-12-28 17:22 ./usr/

[2021-01-04 15:56] zemzale commented on #508
Thanks for reporting this. I will look into this.

[2021-01-05 10:34] maxice8 commented on #483
Will be fixed in #513, it adds support for using `--assign @nobody` and `--unassign`

[2021-01-05 10:42] #508 closed, assigned to nobody

[2021-01-05 12:37] profclems opened #515 "Support creating project variables"
**Describe the feature or problem you'd like to solve**

It will be nice if `glab` provides support for creating project variables. Currently, users have to switch over to the GitLab web UI to create project variables

**Propose a Solution**
Provide `variable create` command for creating project variables.
Should have the format `glab variable create <key> <value>  [flag]`.

`new` and `set` can be

[2021-01-05 14:15] zemzale commented on #515
I would favor this being a subcommand under `pipeline`.
- we wouldn't pollute the core commands
- variables are used for pipelines so they just logically belong there (they are under CI/CD setting in the WEB UI too)

[2021-01-05 15:28] profclems commented on #515
Makes sense but we are trying to avoid nested commands.

`variable` command will have other subcommands like `create | set`, `get`, `list` and  `delete | remove`.

Putting it under `ci` will follow this format `glab <command> <subcommand> <nested-subcommand>`
[code]
instead of simple `glab <command> <subcommand>`:
[code]

[2021-01-05 15:32] zemzale commented on #515
If we are just avoiding nesting commands as a whole then that makes sense.

[2021-01-05 16:29] #391 closed, assigned to nobody

[2021-01-05 17:17] #483 closed, assigned to maxice8

[2021-01-05 19:53] maxice8 commented on #515
Is there a reason to avoid nested commands?

[2021-01-06 14:07] profclems commented on #472
@maxice8  I don't see how this is related to #520

[2021-01-06 14:19] maxice8 commented on #472
It isn't, I used the wrong issue number, sorry.

[2021-01-06 14:20] maxice8 commented on #468
This is the one that should be closed by #520

[2021-01-06 14:20] #468 closed, assigned to nobody

[2021-01-06 15:43] profclems opened #524 "[GLAB]: Allow Issues on GitLab"
Most people have criticized the fact that `glab` is a CLI tool for GitLab which is hosted on GitHub and an issue was even created by a concerned user #67.

I have been asked questions on several forums as to why `glab` is hosted on GitHub instead of GitLab. My answers have mostly been ***"For OSS visibility since most people find it convenient to contribute to FOSS on GitHub. Personally, I use Git

[2021-01-06 15:44] profclems commented on #524
/cc @maxice8 @zemzale

[2021-01-06 16:15] zemzale commented on #524
I am all for having the choice to report issues on GitLab or GitHub.

I believe that there are plenty of people that don't wanna use GitHub, for one or another reason, but they use GitLab and would like to help with `glab` then we should provide a way for them to do that.

[2021-01-06 17:32] profclems commented on #524
Here are a few things we need to do:

- [x] Enable Issues on the GitLab Mirror (https://gitlab.com/profclems/glab)
- [x] GitHub Action Workflow to import GitLab issues (#525)
- [ ] sync issue events such as:
  - [ ] Labeled
  - [ ] Unlabeled
  - [ ] Commented
  - [ ] Closed
  - [ ] Reopened
- [ ] Update readme to add that users can open issues with `glab issue create -R profclems/glab`
- [x] Add t

[2021-01-06 20:52] maxice8 opened #526 "make LabelsPrompt respect labels given by --label"
**Describe the feature or problem you'd like to solve**

Currently if one passes `--label foo` and then adds `bar` via the Interactive prompt only `bar` appears.

**Propose a Solution**

Make the interactive prompt not override `--label`

[2021-01-07 13:37] maxice8 opened #528 "can't checkout merge requests by its source branch"
**Describe the feature or problem you'd like to solve**

Can't use OWNER:branch format to check out a merge request, like it can be done with other `mr` commands like `update`, `rebase` and `merge`.

**Propose a Solution**

Allow it to use the OWNER:branch format

[2021-01-07 16:33] #528 closed, assigned to maxice8

[2021-01-07 16:34] #526 closed, assigned to nobody

[2021-01-08 13:27] profclems opened #533 "`issue create` panics when -R OWNER/REPO is specified"
**Description**

`glab issue create` panics when the repo is overriden and the remote does not exist.
This happens after selecting metadata to add.

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this 'glab issue create -R glab-cli/test'
2. Make sure you have no remote pointing to `glab-cli/test`
3. Select template, enter title and description and selec

[2021-01-08 13:59] #533 closed, assigned to nobody

[2021-01-08 15:47] #524 closed, assigned to nobody

[2021-01-08 20:53] maxice8 opened #542 "add 'open' as an alias for 'mr create' and 'issue create'"
**Describe the feature or problem you'd like to solve**

'open' is currently an alias for the 'reopen' subcommands from 'issue' and 'mr' which I think is more suited to be an alias alongside the `create` and `new`.

**Propose a Solution**

Make `mr create` and `issue create` claim `open` as an alias and remove those claims from `mr reopen` and `issue reopen`

[2021-01-08 22:27] profclems commented on #515
We are trying to have a format that will be predictable for users even if they don't read the docs. Users hardly read docs anyway

[2021-01-08 22:35] profclems commented on #542
Makes sense.

This is actually a breaking change and it's hard to predict if users are actually aware of this alias anyway

[2021-01-08 22:43] maxice8 commented on #542
Unfortunate, we might want to do this only on 2.0.0 then

[2021-01-08 22:48] profclems commented on #542
If a PR is created for this, it will be merged into the v2.0.0 branch

[2021-01-08 23:10] maxice8 opened #544 "add --set-upstream-to=|-u on mr checkout"
**Describe the feature or problem you'd like to solve**

When checking out a branch if one uses `--track` then it adds another remote, this is wasteful and is bound to cause problems with maximum remotes lookup.

**Propose a Solution**

add a `--track-the` | `-t` or `--set-upstream-to` | `-u` (simulating git) that takes a `branch` or `remote/branch` and sets it after checking out the branch, so pe

[2021-01-09 03:28] maxice8 opened #547 "allow listing issues and merge requests by title"
**Describe the feature or problem you'd like to solve**

I can't search issues and merge request with the `list` subcommand via the title

**Propose a Solution**

Add a `--title` switch that searches a substring inside titles using the `search` field

[2021-01-09 03:39] profclems commented on #547
I have also been thinking about this lately.

The search parameter by default returns matches for either title or description.

To limit the search, we'd have to use the `in` parameter to limit the scope: `?search=something&in=title`.

Maybe we can give users similar flags:
- `--search string` and
- `--in` accepts `title | description`

and/or provide the `title` and `description` flags.

*I typed

[2021-01-09 18:31] #547 closed, assigned to nobody

[2021-01-09 18:51] #544 closed, assigned to nobody

[2021-01-10 00:04] clemsbot opened #553 "This is a test issue"
By **[profclems](https://gitlab.com/profclems)**,

---

**Description**

This is a test issue to test GitLab issues are imported to GitHub

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this '...'
2. View the output '....'
3. See error

**Logs**

**Your Environment**

* Version used (Run `glab --version`):
* Operating System and version:

---

***Last

[2021-01-10 00:08] #553 closed, assigned to nobody

[2021-01-10 21:51] maxice8 opened #556 "glab issue view --web <URL> is not instant"
**Description**

When using --web and providing a <URL> instead of just a number there shouldn't be any delay between it and calling the browser to open.

**Expected Behavior vs Actual Behavior**

It takes up to a full second to open it in the browser

**Possible Fix**

Check if given ARG is an URL and skip over any and all network requests or other measures that might be wasting time

**Logs**

[

[2021-01-11 03:02] maxice8 opened #557 "show pipeline status of the merge request"
**Describe the feature or problem you'd like to solve**

When using `mr view` doesn't show me the status of the pipeline.

**Propose a Solution**

Show a green checkmark along with an identifier (ID) I can use to check the pipeline further via `glab pipeline view`

[2021-01-11 03:06] maxice8 opened #558 "automatically run output in pager if it is longer than the height of the terminal"
**Describe the feature or problem you'd like to solve**

When using a command with output that can become very long, it is super annoying that I have to scroll back up instead of having my system pager handle it for me.

**Propose a Solution**

Check if the final output is longer than HEIGHT of the terminal and start it in the user's pager.

Possibly have it as a config option that can be **disabl

[2021-01-11 07:39] profclems commented on #557
Have you tried `glab ci status`?

[2021-01-11 08:11] zemzale commented on #557
I think it would be nice to have a small badge with the status of the pipelines in  `mr view`. Just like in the web UI when looking at MRs you can see if the pipeline failed or not.
If I would want to find out the status of which pipeline failed and why then `ci status` should be used

[2021-01-11 11:40] #515 closed, assigned to nobody

[2021-01-11 14:52] profclems commented on #402
I have put this request on hold for now till we come up with a proper way of implementing this.

It's a nice feature and I believe it will make `glab` a lot more flexible if implemented properly. Can't say if this can be part of v2.0.0

[2021-01-11 15:23] maxice8 commented on #557
Never got `glab ci status` to work

[2021-01-11 17:50] #373 closed, assigned to nobody

[2021-01-12 08:04] zemzale opened #562 "feature: Update MR reviewer"
**Describe the feature or problem you'd like to solve**

In GitLab 13.7 there is MR reviewers field https://about.gitlab.com/blog/2020/10/13/merge-request-reviewers/

Currently there is no way how to interact with this from `glab`.

**Propose a Solution**

Add a new flag to `--reviewers` to allow updating that from `glab`

**Additional context**

 I actually have not found any API documentation ab

[2021-01-13 00:15] profclems commented on #562
This feature is relatively new and I believe most self-hosted instances haven't made the upgrade yet.

Also, I don't know if there's any endpoint available to get the reviewers (Let me know if you find any).

The only endpoint quite close is the [Project level Rules](https://docs.gitlab.com/ee/api/merge_request_approvals.html#get-project-level-rules) under [Merge Request approvals API](https://doc

[2021-01-13 08:53] zemzale commented on #562
It's possible from the MR get endpoint it's just not documented.  It's basically the same thing as `assignees` on a different key.
Example :
[code]

It seems like updating is not yet possible via API https://gitlab.com/gitlab-org/gitlab/-/issues/292714 . The milestone for that is 13.8 so that is a blocker for updating.

Also it doesn't seem like xanzy/go-gitlab has support for reviewer attribute,

[2021-01-13 09:39] profclems commented on #562
Seems the reviewers returned are those who have left a review on the MR or those that reviews have been requested from.
I had expected it to return a list of users who are eligible to review, approve or merge the merge request.

I tried this on [gitlab-org/gitlab](https://gitlab.com/gitlab-org/gitlab) repo:
[code]
The response comes with an empty `reviewers` array because no review has been left o

[2021-01-13 09:45] profclems commented on #562
This merge request https://gitlab.com/gitlab-org/gitlab/-/merge_requests/51186 has been reviewed:
[code]

[code]

[2021-01-13 17:16] maxice8 opened #565 "allow opening in web browser automatically when using mr create"
**Describe the feature or problem you'd like to solve**

Sometimes when I'm making merge requests and issues I know in advance that I will be continuing to do so with a web browser.

**Propose a Solution**

add a --web|-w flag that skips the prompt and just opens in the web browser.

**Additional context**

I think we should skip both prompts, the initial one (that allows us to add metadata) becau

[2021-01-14 08:16] embix opened #568 ""Incorrect function." when prompted to select base repository in msysgit/bash on Win10"
**Description**

I used glab for the first time on a repo with multipile remotes. When listing the issues I get prompted to select the base repository - but the process then immediately terminates leaving me 'Incorrect function.' as last words. I should be able to select the base repository when prompted to.

**Expected Behavior vs Actual Behavior**
I cannot select the repo - instead I get an *Inc

[2021-01-14 09:35] profclems commented on #568
Thank you for reporting this issue!

This sounds like AlecAivazis/survey#148, hence, an external issue.

We'd have to wait for it to be resolved.

Seems to be a MinTTY issue since it works on cmd and Powershell.
We don't know yet, what part of MinTTY is incompatible with the Survey library (or vice versa).

Another workaround is to use Git Bash in Windows Terminal

[2021-01-14 10:08] profclems opened #569 "Prompt to 'git init' on repo create"
**Describe the feature or problem you'd like to solve**

If you run `glab repo create` in a directory that isn't initialized with git the command fails:
[code]

It is required that the user first run `git init` before running `glab repo create`.

**Propose a Solution**

If the directory isn't git initialized, the user should be prompted whether `glab` should run `git init` before creating the repo

[2021-01-14 10:35] profclems opened #570 "Interactive mode for `repo/project create`"
**Describe the feature or problem you'd like to solve**

Currently, running `glab repo create` does not provide any interactive mode to confirm repository details in TTYs.
If the user does not specify the name, `glab` uses the name of the current working directory to create the repo on GitLab.

However, there might be cases where the user might want to change the name

**Propose a Solution**

Ther

[2021-01-14 11:45] #565 closed, assigned to nobody

[2021-01-14 18:56] maxice8 commented on #570
Makes a lot of sense my previous GitLab CLI tool `agl` did it interactively by default.

[2021-01-15 10:05] profclems commented on #570
@maxice8 This is open in case you'd like to work on it

[2021-01-15 10:06] maxice8 commented on #570
Unable at the moment, Alpine 3.13.0 was just released so I'm implement huge projects for 3.14.0

[2021-01-15 10:10] profclems commented on #570
No problem, I will open a PR on this soon

Oops... I guess I missed the news. Thanks!

This calls for an update on the alpine installation guide in our readme

[2021-01-15 11:25] profclems commented on #570
/cc @solidnerd

[2021-01-15 11:44] solidnerd commented on #570
Oh 😮 will look into this later.

[2021-01-16 18:12] maxice8 opened #574 "mr create --autofill doesn't respect --title and --desc"
**Description**

When doing `mr create --autofill --title 'foo'` it does't respect my `--title` usage

**Expected Behavior vs Actual Behavior**

I expected it to make use of the given `--title` and only `--autofill` the description instead, or
to at least error out since those flags seem to be mutually exclusive.

**Possible Fix**

make so `--autofill` doesn't overwite a given `--title` or `--desc

[2021-01-18 17:53] profclems opened #580 "Add manpages"
Git provides comprehensive documentation in man form. Same goes with various command-line tools like gh and docker.

It would be nice to add manpages for `glab`.

Since `glab` uses `spf13/cobra`, it should be quite easy to generate man-pages for the various commands

[2021-01-19 09:07] maxice8 opened #582 "mr create doesn't respect upstream branch as target branch"
**Description**

When using `mr create` without `--target-branch` it will always create against the main branch of the remote.

**Expected Behavior vs Actual Behavior**

It should respect the upstream branch and use it if defined.

**Possible Fix**

make `mr create` check if there is a upstream remote/branch defined and set the upstream branch as the target branch

**Your Environment**

* Version

[2021-01-19 10:25] teterkin opened #583 "Unable to assign milestone to a new issue with -m <Integer ID> option"
**Description**

Unable to assign milestone to new issue.
According to help I could assign a milestone using -m option and integer global ID:
`-m, --milestone int        The global ID of a milestone to assign issue`
As far as I understood ID is the number assigned to milestone at the time of creation: 1, 2, 3, etc.

**Expected Behavior vs Actual Behavior**

I expect that issue will be created and

[2021-01-19 15:31] profclems commented on #583
@teterkin thanks for reporting this issue!

I'm running a newer version built from `trunk`'s latest commit (b2922a7) and I can't seem to reproduce this issue.

I believe this was resolved by https://github.com/profclems/glab/pull/451 which is pending release.

[2021-01-20 03:25] teterkin commented on #583
Ok. Then I will wait for that release.
Thank you!

[2021-01-20 03:25] #583 closed, assigned to nobody

[2021-01-23 03:16] #582 closed, assigned to nobody

[2021-01-23 03:17] #580 closed, assigned to nobody

[2021-01-23 06:24] #574 closed, assigned to nobody

[2021-01-25 14:27] iggyvolz opened #587 "Glab binary installed in incorrect location for .deb installers"
**Description**
When installing version 1.13.1 from the .deb installer, the binary is installed to /usr/local/bin/bin/glab instead of /usr/local/bin/glab.

**Expected Behavior vs Actual Behavior**
[code]

**Possible Fix**
Need to move the `glab` binary up one level.  Doesn't appear to affect any of the other packages.

**Steps to Reproduce**
[code]

**Your Environment**
* Version used (Run `glab -

[2021-01-25 14:50] profclems commented on #587
Thanks a lot @iggyvolz for reporting this issue!

This seems to be a duplicate of #508 which has been resolved by #512 and it is pending release.

I will be releasing v1.14.0 tomorrow.

[2021-01-25 14:52] #587 closed, assigned to nobody

[2021-01-26 07:09] asdf8601 opened #588 "Arbitrary queries over issues"
**Describe the feature or problem you'd like to solve**

I have problems to find the current issue I'm working on so I would like filtering issues according to one or more words.

**Propose a Solution**

I have thought of something like this:

[code]

[2021-01-26 07:24] asdf8601 opened #589 "Unexpected behaviour of repo argument with other values than url"
**Description**

Problems with the values allowed by `repo` argument.

* glab get stucked when I execute the below code from other repository, it doesn't fail but nothing happens.

[code]

* glab fails when I use a project id

[code]

However, using the url works well.

**Expected Behavior vs Actual Behavior**

**Possible Fix**

**Steps to Reproduce**

1. Type this '...'
2. View the output '....'

[2021-01-26 07:30] maxice8 commented on #588
There is the `--search` that will search in the title, description or both (defined by `--in` (defaults to both)) for a substring.

[2021-01-26 07:39] asdf8601 commented on #588
Thank you for your answer, I'm using `glab version 1.13.1 (2020-12-28)` and I can't find that argument, do you mind tell me how is the usage? Here are my tries:

[code]

[2021-01-26 07:45] maxice8 commented on #588
Sorry, it seems like it was merged in https://github.com/profclems/glab/pull/548 but a new release hasn't be made yet.

@profclems any ETA on the next release ?

[2021-01-26 10:54] profclems commented on #589
Thanks @mmngreco for reporting this issue!

I'm well aware of this issue. I will add a fix and release as part of v1.14.0 today

[2021-01-26 11:03] profclems commented on #588
I should do that today. We have a lot of fixes and features pending release.

I decided we commit to a 3-week release cycle

[2021-01-26 11:14] profclems commented on #384
This will be much easier to work on if we move the local config `.glab-cli` to `.git/glab-cli`.

With the migration, at first run, we check if the there's a local config file and move it to `.git/glab-cli`

[2021-01-26 16:31] asdf8601 commented on #589
Awesome, thank you for your support! ;-)

[2021-01-26 22:38] #322 closed, assigned to nobody

[2021-01-26 22:38] #557 closed, assigned to nobody

[2021-01-27 03:29] #589 closed, assigned to nobody

[2021-01-27 06:56] asdf8601 commented on #588
I just upgraded glab and finally I could try these arguments which works pretty well! Nice job!

[2021-01-27 09:32] #588 closed, assigned to nobody

[2021-01-28 16:07] hartzell opened #592 "GITLAB_{URI,HOST} lead to failure if scheme is provided, documentation doesn't match what code needs"
**Description**

We have a self-hosted GitLab instance.

The `glab` help string that says:

If I set GITLAB_HOST to `https://gitlab.my.company.com`, it fails to connect to my GitLab:

[code]

Walking into the code with Delve, I can see where the API endpoint is screwy:

[code]

If I set GITLAB_HOST (also tested GITLAB_URI) to *just the hostname*, then it works as expected

[code]

**Possible Fix**

[2021-01-28 16:18] profclems commented on #592
Thanks @hartzell for reporting this issue!

For a quick fix, I will change the documentation to fit what our code currently understands but I will consider that as a bug because it should be able to parse the URL (if it's a fully qualified url) provided and use the hostname.

I think this issue came up after we made big changes to glab's flow in 6c4fe1c2e82fd36f086b3567acc5cd54d111e07e

This issue

[2021-01-29 15:58] cweidinger opened #596 "`glab repo clone path/repo` puts token in repo/.git/config instead of relying on global configuration"
**Description**
`glab repo clone path/repo`
[code]
The access_token is put in the repo's configuration instead of storing it globally.

**Expected Behavior vs Actual Behavior**
Since the access token is global in nature in glab, it shouldn't be putting it in individual repos. When a token expires and the user `glab auth login` again, they still can't git pull the repo b/c the the access token was

[2021-01-30 00:48] profclems commented on #596
@cweidinger thanks for opening an issue! Sorry I couldn't reply earlier....

I don't know if we should consider this as a bug. I also don't know how many users find this as a problem...

For many gitlab repos (esp private), when performing git actions via https, requires `user:access_token` in the git url before you can pull, push, fetch, etc.

If your host authenticated for `glab` is configured [

[2021-01-30 01:02] profclems commented on #596
cc: @maxice8 @zemzale

[2021-01-30 14:49] dplanella opened #597 "Snap package needs system-files plug for issue list command to work"
**Description**

On Ubuntu 20.04, with glab 1.14.0-16-g222c0c5, the `glab issue list` command fails due to missing permissions.

It seems that `glab` is trying to access `/etc/gitconfig`. However, it cannot in a non `--classic` install (as recommended in the glab documentation), as the snap only has access to files in the user's home directory.

**Expected Behavior vs Actual Behavior**

- Expected

[2021-01-30 18:14] profclems commented on #597
Thanks for reporting this issue @dplanella

`glab` runs git commands in a subprocess to get your git config, logs, etc, It does not directly access the git config file.
I have not dived into `snap` internals so I can't tell why it's having this issue.

I think the snap currently works well for users with global git config file located at the homedir (`~/.gitconfig`).

Do you mind opening a PR to a

[2021-01-30 21:21] dplanella commented on #597
Thanks @profclems for the quick reply!

Unfortunately, I don't think it's the case. I'm one of those users with a `~/.gitconfig` file, but it seems (git?) still wanted to access `/etc/gitconfig`

Sure. It's been a few years since I touched any snap code, so I'm not really an expert, but happy to give it a go.

[2021-01-30 21:39] dplanella commented on #597
@profclems here you go: https://github.com/profclems/glab/pull/599

[2021-01-30 22:37] profclems commented on #597
Thanks, that was quick!

I will have a look at it asap... I just took a break from the computer

[2021-02-01 16:36] cvhariharan commented on #569
Hi, if this is still up for grabs, I'd like to give this a go.

[2021-02-01 16:38] profclems commented on #569
@cvhariharan feel free to submit a PR... Thanks!

[2021-02-02 12:38] #597 closed, assigned to nobody

[2021-02-02 17:00] #569 closed, assigned to nobody

[2021-02-03 06:02] wkoszek opened #604 "glab has problems making MRs when a user has 2 GitLab accounts"
**Description**

Looks like for MR making, the GITLAB_URI and GITLAB_HOST aren't honored. This is `glab 1.13.1`. Using glab I'm getting `no GitLab Projects found from remotes`.

1.13.1:

[code]

The `work-gitlab.com` is taked from my `~/.git/config.`. Explanation why I have `work-gitlab.com`:

I have 2 GitLab accounts:
- private
- work

My work repos I modified by making `work/repo/.git/config` fi

[2021-02-03 06:36] #604 closed, assigned to nobody

[2021-02-03 06:37] wkoszek commented on #604
User error. I was authenticated to the wrong account :-(

[2021-02-04 16:10] #556 closed, assigned to nobody

[2021-02-04 16:10] maxice8 commented on #556
Use `open <URL>`, `glab` is not a glorified link opener

[2021-02-05 03:00] virgilwashere commented on #558
Or just use git `core.pager` and suggest a value using `less -F`

[code]

From the `less` man page:

[code]

Update:

Just saw #320

setting `GLAB_PAGER`(or `PAGER`) didn't work.

[code]

[2021-02-05 17:03] ManOrs88 opened #609 "issue with long/deep paths?"
hello,
i'm trying to use `glab ci status` to verify the pipeline status directly from the command line,
it works fine on repos with "short" paths, seem to break on "long"/"deep" ones

here are some repo url examples, i've maintained the character count in each url "section"
working:
* http://123456.123.123456.12/12345678901234/123456789012
* http://123456.123.123456.12/1234567/123456789/1234567890

[2021-02-09 14:31] profclems commented on #609
Hi @ManOrs88, thank for reporting this issue.
Sorry for replying late (I saw this on a weekend).

Do you mean GitLab allows subgroups in subgroups (nested subgroups)?

Currently `glab` supports repos in the format `HOST/OWNER/REPO` and `HOST/GROUP/NAMESPACE/REPO`

[2021-02-09 14:47] ManOrs88 commented on #609
hello @profclems ,

yes, the failing ones both have a `HOST/GROUP/NAMESPACE/DEEPNEST/REPO` form

regards,
m

[2021-02-09 16:00] profclems commented on #609
Hmm... I wasn't really aware of that. Thanks for letting me know! I will fix that asap

[2021-02-10 07:45] maxice8 opened #611 "glab ci view checks wrong repo"
**Description**

When using `glab mr view` I am helpfully inducted to use `glab ci view <branch>` to see the CI.

Unfortunely it checks for in the repo where the Merge Request was made, not in the repo where the
merge request was made from.

If I have a merge request that targets `alpine/aports` where I pushed the branch to `Leo/aports`
it will fail unless I do `-R gitlab.alpinelinux.org/Leo/aport

[2021-02-10 08:33] zemzale opened #612 "Issue update command"
**Describe the feature or problem you'd like to solve**
Since I haven't used the issue command a lot I didn't notice there is no `update` subcommand.

We really do need this, since if you create an issue, we can't really update things, like labels, linked issues assigness and things like that.

**Propose a Solution**

Let's create issue update command. It probably take the same options that `issue

[2021-02-10 08:58] maxice8 commented on #612
![image](https://user-images.githubusercontent.com/30738253/107487482-f702f580-6b64-11eb-83c6-cee105e856c0.png)

[2021-02-10 09:51] zemzale commented on #612
I did a really big overlook :smile:
I wanted to reach out for that command, and when I typed `glab issue` and just looked at the output I saw
[code]
  And thought that those are the only command we got.

[2021-02-10 09:51] #612 closed, assigned to nobody

[2021-02-10 09:53] maxice8 commented on #612
`glab issue` has a list of `CORE COMMANDS`

[2021-02-10 09:55] zemzale commented on #612
Yeah, my brain just chose to ignore everything above the examples for some reason and I ended up thinking that we don't have these commands for some reason

[2021-02-12 16:40] pand-app commented on #609
Hello, I confirm this issue, with a deepest repo, you are able to create unlimited deep in gitlab.

Real world example of URL not working (opensource) : https://gitlab.com/fabnum-minarm/igloo/terraform/projects/anais

Gitlab internal routing is looking for "-" segment to know that you're not looking for a deeper group.
Example :
[code]

[2021-02-12 16:48] profclems commented on #609
@Nainterceptor thanks for confirming this issue.

How deep does GitLab allow nested groups? Is there a specified limit?

Initially, I thought the deepest was `GROUP/SUBGROUP/REPO`

[2021-02-12 16:55] pand-app commented on #609
As far as I know, there is no limit, that's why the "-" is usefull in gitlab routing I guess.
source : https://docs.gitlab.com/ee/user/group/subgroups/#limitations

At Qonfucius we have a complex organisation with at least 5 nested groups

[2021-02-12 16:57] profclems commented on #609
Thanks @Nainterceptor... I'm trying to work on a fix as soon as I can